<template>
    <div>
        <el-table
                v-loading="loading"
                :data="affiliates"
                stripe
                class="offer-table"
                ref="multipleTable"
                @selection-change="handleSelectionChange"
                style="width: 100%">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    prop="id"
                    label="ID"
                    width="80">
            </el-table-column>
            <el-table-column
                    label="Affiliate Name"
                    width="180">
                <template slot-scope="scope">
                    <el-tooltip placement="top">
                        <div slot="content">
                            Margin:{{scope.row.aff_margin?scope.row.aff_margin:'---'}}
                        </div>
                        <a :href="`/affiliates/${scope.row.id}`" class="link">{{ scope.row.name }}</a>
                    </el-tooltip>
                </template>
            </el-table-column>
            <el-table-column
                    width="100"
                    label="Adv Margin">
                {{ advMargin?advMargin:'---' }}
            </el-table-column>
            <el-table-column
                    width="100"
                    label="Offer Margin">
                {{ offerMargin?offerMargin:'---' }}
            </el-table-column>
            <el-table-column
                    width="100"
                    label="Aff Margin">
                <template slot-scope="scope">
                    {{ scope.row.aff_margin?scope.row.aff_margin:'---' }}
                </template>
            </el-table-column>
            <el-table-column
                    prop="margin"
                    width="120"
                    label="Actual margin">
                <template slot-scope="scope">
                    {{ scope.row.actual_margin }}
                </template>
            </el-table-column>
            <el-table-column
                    prop="daily"
                    width="80"
                    label="Cap">
                <template slot-scope="scope">
                    {{ scope.row.daily }}
                </template>
            </el-table-column>
            <el-table-column
                    width="110"
                    label="Offer Payout">
                {{ offerPayout }}
            </el-table-column>
            <el-table-column
                    width="100"
                    label="Aff Price">
                <template slot-scope="scope">{{ scope.row.price }}</template>
            </el-table-column>
            <el-table-column
                    width="100"
                    label="Pubx">
                <template slot-scope="scope">
                    <el-switch
                            v-model="scope.row.pubx"
                            :active-value='1'
                            :inactive-value='0'
                            active-color="#13ce66"
                            inactive-color="#ff4949" @change="changePubx(scope.row)">
                    </el-switch>
                </template>
            </el-table-column>

            <el-table-column
                    fixed="right"
                    label="Status">
                <template slot-scope="scope">
                    <el-switch
                            v-model="scope.row.status"
                            :active-value='1'
                            :inactive-value='0'
                            active-color="#13ce66"
                            inactive-color="#ff4949" @change="changeStatus(scope.row)">
                    </el-switch>
                </template>
            </el-table-column>
            <el-table-column fixed="right"
                             label="Action">
                <template slot-scope="scope">
                    <el-button size="mini"
                               type="primary"
                               plain
                               @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                </template>
            </el-table-column>
        </el-table>

<!--        <div class="mt-4">-->
<!--            <el-pagination-->
<!--                    @size-change="handleSizeChange"-->
<!--                    @current-change="handleCurrentChange"-->
<!--                    :current-page="currentPage"-->
<!--                    :page-size="paginationPerPage"-->
<!--                    :total="paginationTotal"-->
<!--                    layout="sizes,total, prev, pager, next, jumper"-->
<!--            ></el-pagination>-->
<!--        </div>-->

        <div class="d-flex align-center mt-4">
            <el-button type="primary"
                       size="small"
                       @click="batchUpdateLive(1)"
                       :disabled="canSet">Open</el-button>
            <el-button type="primary"
                       size="small"
                       @click="batchUpdateLive(0)"
                       :disabled="canSet">Close</el-button>
        </div>


        <el-dialog title="Affiliate settings" :visible.sync="updatePayoutVisible"
                   width="30%">
            <div class="d-flex">
                <el-form :model="currentEditingPivot" :rules="rules" style="flex: 1;">
                    <el-form-item label="Actual margin" prop="actual_margin" :label-width="'120px'">
                        <el-input v-model="currentEditingPivot.actual_margin" type="number" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="Price"
                                  prop="price"
                                  :label-width="'120px'">
                        <el-input v-model="currentEditingPivot.price" type="number" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item style="margin-bottom: 0"
                                  label="Cap"
                                  prop="daily"
                                  :label-width="'120px'">
                        <el-input v-model="currentEditingPivot.daily" type="number" autocomplete="off"></el-input>
                    </el-form-item>
                </el-form>

            </div>

            <div slot="footer" class="dialog-footer">
                <el-button @click="updatePayoutVisible=false" size="small">Cancel</el-button>
                <el-button type="primary" @click="updatePrice" size="small"
                           :loading="isUpdatingPayout">Confirm</el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
    export default {
        name: "Affiliates",
        props:{
            id:{
                type:Number,
                required: true
            },
            offerPayout:{
                type:[Number,String],
                default:0
            },
            offerMargin:{
                type:[Number,String],
                default: '---'
            },
            advMargin:{
                type:[Number,String],
                default: '---'
            }
        },
        computed:{
            canSet(){
                if(this.multipleSelection.length>0){
                    return false
                }
                return true
            }
        },
        data() {
            return {
                affiliates:[],
                loading:false,
                updatePayoutVisible:false,
                isUpdatingPayout:false,
                currentEditingPivot:{
                    "actual_margin":50.00,
                    "price":0,
                    "daily":0
                },
                multipleSelection:[],
                rules: {
                    price: [
                        {required: true, message: 'Price is required', trigger: 'change' }
                    ],
                    actual_margin: [
                        {required: true, message: 'Margin is required', trigger: 'change' }
                    ],
                },
                // paginationTotal:0,
                // paginationPerPage:20,
                // currentPage:1,
            }
        },
        methods:{
            fetchAffiliates(){
                this.loading = true;
                this.$api.get(`/campaigns/${this.id}/affiliate`)
                    .then(res=>{
                        this.loading = false;
                        this.affiliates = res.data.data;
                        // this.paginationTotal = res.data.data.total
                    });
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            handleEdit(index, offer){
                this.updatePayoutVisible = true;
                this.currentEditingPivot = offer;
            },
            handleCurrentChange(val){
                this.currentPage = val;
                this.fetchAffiliates();
            },
            handleSizeChange(val){
                this.currentPage = 1;
                this.paginationPerPage = val;
                this.fetchAffiliates();
            },
            changeStatus({campaign,customer,status}){
                this.updateMethod({"campaign":campaign,'customer':customer},{
                    "status":status
                })
            },
            changePubx({campaign,customer,pubx}){
                this.updateMethod({"campaign":campaign,'customer':customer},{
                    "pubx":pubx
                })
            },
            updatePrice(){
                this.isUpdatingPayout = true;
                let data={
                    "price":this.currentEditingPivot.price,
                    "margin":this.currentEditingPivot.actual_margin,
                    "daily":this.currentEditingPivot.daily
                };
                this.updateMethod({
                    "campaign":this.currentEditingPivot.campaign,
                    'customer':this.currentEditingPivot.customer
                },data,()=>{
                    this.updatePayoutVisible = false;
                    this.affiliates.forEach(item=>{
                        if(item.campaign === this.currentEditingPivot.campaign && item.customer === this.currentEditingPivot.customer){
                            item.price = this.currentEditingPivot.price;
                            item.margin = this.currentEditingPivot.actual_margin;
                            item.daily = this.currentEditingPivot.daily;
                        }
                    });
                })
            },
            updateMethod(obj,data,callback){
                this.$api.put(`/relations/${obj.campaign}/${obj.customer}`,data)
                    .then(res=>{
                        this.$message({
                            message: 'Set successfully',
                            type: 'success'
                        });
                        if(callback){
                            callback()
                        }
                    })
                    .catch(error=>{

                    })
                    .finally(()=>{
                        this.isUpdatingPayout = false;
                    })
            },
            batchUpdateLive(status){
                this.$confirm('Are you sure to continue?', 'Notification', {
                    confirmButtonText: 'Confirm',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    this.loading = true;
                    let campaigns= this.multipleSelection.map(item=>{
                        return item.campaign;
                    });
                    let customers= this.multipleSelection.map(item=>{
                        return item.customer;
                    });
                    this.$api.put('/relations/status',{
                        "campaigns":campaigns,
                        "customers":customers,
                        "data":{
                            "status":status
                        }
                    })
                        .then(res=>{
                            this.affiliates.forEach(item=>{
                                if(campaigns.includes(item.campaign) && customers.includes(item.customer)){
                                    item.status = status;
                                }
                            });
                            this.$message({
                                type: 'success',
                                message: 'Status set successfully!'
                            });
                            campaigns = null;
                            customers = null;
                            this.multipleSelection = [];
                            this.$refs.multipleTable.clearSelection();
                        })
                        .catch(error=>{
                            this.$notify({
                                title: 'Error',
                                message: error.message,
                                duration: 0
                            });
                        })
                        .finally(()=>{
                            this.loading = false;
                        });
                }).catch(() => {
                });

            }
        },
        beforeMount() {
            this.fetchAffiliates();
        }
    }
</script>

<style scoped>

</style>
<style>
    .offer-table.el-table .el-table-column--selection.is-leaf .cell{
        padding-left: 14px;
    }
</style>