<template>
    <div class="panel panel-default">
        <div class="panel-heading d-flex justify-space-between align-center">
            <div class="search d-flex align-center">
                <el-input v-model="params.search" clearable placeholder="keywords"></el-input>
                <div  class="ml-3">
                    <el-button type="primary"
                               size="small"
                               @click="search">Search</el-button>
                </div>
            </div>
            <div class="d-flex align-center">
                <el-button type="primary" size="small"
                           :disabled="canApprove" @click="handleApproveAction()">Batch approval</el-button>
                <el-button type="primary" size="small"
                           :disabled="canApprove" @click="handleBatchApproval(0)">Batch rejection</el-button>
            </div>
        </div>

        <div class="">
            <el-table
                    v-loading="loading"
                    class="offer-table"
                    ref="multipleTable"
                    :data="offerList"
                    tooltip-effect="dark"
                    style="width: 100%"
                    stripe
                    @selection-change="handleSelectionChange">
                <el-table-column
                        type="selection"
                        width="55">
                </el-table-column>
                <el-table-column
                        label="Offer ID"
                        width="80">
                    <template slot-scope="scope">
                        {{ scope.row.campaign.data.id }}
                    </template>
                </el-table-column>
                <el-table-column
                        label="Offer Name">
                    <template slot-scope="scope">
                        <el-tooltip placement="top">
                            <div slot="content">
                                Margin:{{ scope.row.campaign.data.margin?scope.row.campaign.data.margin:'---' }}
                            </div>
                            <a :href="`/offers/${scope.row.campaign.data.id}`" class="link">{{ scope.row.campaign.data.name }}</a>
                        </el-tooltip>
                    </template>
                </el-table-column>
                <el-table-column
                        label="Affiliate">
                    <template slot-scope="scope">
                        <el-tooltip placement="top">
                            <div slot="content">
                                Margin:{{ scope.row.affiliate.data.margin?scope.row.affiliate.data.margin:'---' }}
                            </div>
                            <a :href="`/affiliates/${scope.row.affiliate.data.id}`" class="link">
                                {{ scope.row.affiliate.data.name }}#{{ scope.row.affiliate.data.id }}
                            </a>
                        </el-tooltip>
                    </template>
                </el-table-column>
                <el-table-column
                        label="GEO"
                        width="100">
                    <template slot-scope="scope">
                        {{ scope.row.campaign.data.geo }}
                    </template>
                </el-table-column>
                <el-table-column
                        label="OS"
                        width="100">
                    <template slot-scope="scope">
                        {{ scope.row.campaign.data.os }}
                    </template>
                </el-table-column>
                <el-table-column label="Status">
                    <template slot-scope="scope">
                        <el-tag effect="dark"
                                type="success"
                                size="mini"
                                v-if="!!scope.row.status && scope.row.updated_at">Approved</el-tag>
                        <el-tag effect="dark"
                                size="mini"
                                v-if="!scope.row.status && !scope.row.updated_at">Waiting for approval</el-tag>
                        <el-tag effect="dark"
                                type="danger"
                                size="mini"
                                v-if="!scope.row.status && scope.row.updated_at">Rejected</el-tag>
                    </template>
                </el-table-column>
                <el-table-column label="Action">
                    <template slot-scope="scope">
                        <template v-if="scope.row.status || scope.row.updated_at">
                            ---
                        </template>
                        <template v-else>
                            <el-button size="mini"
                                       type="success"
                                       @click="handleApproveAction(1,scope.row)">Approve</el-button>
                            <el-button size="mini"
                                       type="danger"
                                       @click="handleApprove(scope.row,0)">Reject</el-button>
                        </template>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <div class="mt-4 mb-4" style="padding-left:10px">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="params.page"
                    :page-size="params.paginationPerPage"
                    :total="paginationTotal"
                    layout="sizes,total, prev, pager, next, jumper"
            ></el-pagination>
        </div>
        <el-dialog title="Set margin" :visible.sync="approveVisible"
                   width="40%"
                   center>
            <div>
                <div>
                    <label style="font-size: 16px;font-weight: bold">Margin</label>
                    <el-input v-model="approveMargin" type="number" autocomplete="off"></el-input>
                </div>
            </div>

            <div slot="footer" class="dialog-footer">
                <el-button @click="approveVisible=false" size="small">Cancel</el-button>
                <el-button type="primary" size="small"
                           @click="handleConfirm"
                           :loading="is_approving">Confirm</el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
    export default {
        name: "AppliedList",
        computed:{
            canApprove(){
                if(this.multipleSelection.length>0){
                    return false;
                }
                return true;
            }
        },
        data(){
            return{
                offerList: [],
                multipleSelection: [],
                loading:false,
                approveVisible:false,
                is_approving:false,
                is_approveSingle:false,
                approveData:[],
                approveMargin:50,
                params:{
                    page:1,
                    paginationPerPage:20,
                    search:'',
                },
                paginationTotal:10,
                approvedOffer:null
            }
        },
        methods:{
            handleSizeChange(val){
                this.params.page = 1;
                this.params.paginationPerPage = val;
                this.fetchAppliedOffers();
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            handleCurrentChange(val){
                this.params.page = val;
                this.fetchAppliedOffers();
            },
            handleApproveAction(flag,offer){
                if(flag === 1){
                    this.is_approveSingle = true;
                    this.approvedOffer = offer;
                }
                this.approveVisible = true;
            },
            handleConfirm(){
                this.approveData = [];
                this.is_approving = true;
                if(this.is_approveSingle){
                    let obj = {
                        "campaign":this.approvedOffer.campaign_id,
                        "customer":this.approvedOffer.affiliate.data.id,
                        "price":this.approvedOffer.campaign.data.price,
                        "daily":this.approvedOffer.campaign.data.daily,
                        "live":this.approvedOffer.campaign.data.live,
                        "margin":this.approveMargin
                    };
                    this.approveData.push(obj);
                    this.handleApprove(this.approvedOffer,1);
                    return false;
                }
                this.approveData = this.multipleSelection.map(item=>{
                    let obj = {
                        "campaign":item.campaign_id,
                        "customer":item.affiliate.data.id,
                        "price":item.campaign.data.price,
                        "daily":item.campaign.data.daily,
                        "live":item.campaign.data.live,
                        "margin":this.approveMargin
                    };
                    return obj
                });
                this.handleBatchApproval(1);
            },
            handleApprove(offer,status){
                let messegeText = !!status?"Approved the offer successfully":"Successful rejection of the application";
                let obj = {
                    id:offer.id,
                    data:{
                        "status":status
                    }
                };
                if(!!status){
                    obj['approve_data'] = this.approveData;
                }
                this.$api.put('/applied/offers',obj)
                    .then(res=>{
                        offer.status = res.data.status;
                        offer.updated_at = res.data.updated_at;
                        this.$message({
                            type: 'success',
                            message:messegeText
                        });
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.is_approveSingle = false;
                        this.approveVisible = false;
                        this.is_approving = false;
                    })
            },
            handleBatchApproval(status){
                let ids = this.multipleSelection.map(item=>{
                    return item.id
                });
                let obj = {
                    "ids":ids,
                    "is_batch":1,
                    "user_id":window.Someline.state.user.user_id,
                    "data":{
                        "status":status
                    }
                };
                if(!!status){
                    obj['approve_data'] = this.approveData;
                }
                let messegeText = !!status?"Approved the offer successfully":"Successful rejection of the application";
                this.$api.put('/applied/offers',obj)
                    .then(res=>{
                        this.fetchAppliedOffers();
                        this.$message({
                            type: 'success',
                            message:messegeText
                        });
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.is_approveSingle = false;
                        this.approveVisible = false;
                        this.is_approving = false;
                    })
            },
            search(){
                this.params.page = 1;
                this.fetchAppliedOffers();
            },
            fetchAppliedOffers(){
                this.loading = true;
                this.$api.get('/applied/offers?include=campaign,affiliate',{
                    params:this.params
                })
                    .then(res=>{
                        this.offerList = res.data.data;
                        this.params.page = res.data.meta.pagination.current_page;
                        this.paginationTotal = res.data.meta.pagination.total;
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.loading = false;
                    })
            },
            approve(){
                if(this.selectedAffiliate.length>0){

                }

            }
        },
        beforeMount() {
            this.fetchAppliedOffers();
        }
    }
</script>

<style scoped>

</style>
<style>
    .offer-table.el-table .el-table-column--selection.is-leaf .cell{
        padding-left: 14px;
    }
</style>