<template>
    <div>
        <div class="d-flex justify-end align-center">
            <el-tooltip class="item" effect="dark" content="Clone this offer" placement="bottom">
                <el-button size="small"
                           type="primary"
                           icon="el-icon-document-copy"
                           @click="handleClone"></el-button>
            </el-tooltip>
            <el-button size="small"
                       type="primary"
                       @click="handleEdit">Edit</el-button>
        </div>
        <el-row class="show-page pt-3 pb-3" v-if="offer">
            <el-col :span="14" class="pr-3">
                <div class="show-page-container pt-4">
                    <div class="d-flex justify-space-between align-center">
                        <p class="show-page-title">Detail</p>
                    </div>

                    <div class="basic-info mt-4 pt-4 b-t d-flex">
                        <div class="img-cover">
                            <img :src="coverUrl" :alt="offer.name">
                        </div>
                        <div class="basic-info-content pl-4">
                            <el-row>
                                <el-col :span="12" class="d-flex align-center show-field-item">
                                    <label>Offer Name:</label>
                                    <p class="ml-1">{{ offer.name }}</p>
                                </el-col>
                                <el-col :span="12" class="d-flex align-center show-field-item">
                                    <label>Advertiser:</label>
                                    <p class="ml-1">{{ offer.billing.name }}</p>
                                </el-col>
                            </el-row>

                            <el-row class="mt-3">
                                <el-col :span="12" class="d-flex align-center show-field-item">
                                    <label>Start Date:</label>
                                    <p class="ml-1">{{ offer.start_time }}</p>
                                </el-col>
                                <el-col :span="12" class="d-flex align-center show-field-item">
                                    <label>End Date:</label>
                                    <p class="ml-1">{{ offer.end_time }}</p>
                                </el-col>
                            </el-row>

                            <el-row class="mt-3">
                                <el-col :span="12" class="d-flex align-center show-field-item">
                                    <label>Package Name:</label>
                                    <p class="ml-1">{{ offer.package_name }}</p>
                                </el-col>
                                <el-col :span="12" class="d-flex align-center show-field-item">
                                    <label>Payout:</label>
                                    <p class="ml-1">{{ offer.payout }}</p>
                                </el-col>
                            </el-row>

                            <el-row class="mt-3">
                                <el-col :span="12" class="d-flex align-center show-field-item">
                                    <label>Price:</label>
                                    <p class="ml-1">{{ offer.price }}</p>
                                </el-col>
                                <el-col :span="12" class="d-flex align-center show-field-item">
                                    <label>Pay type:</label>
                                    <p class="ml-1">{{ offer.paytype }}</p>
                                </el-col>
                            </el-row>
                        </div>
                    </div>

                    <div>
                        <el-row class="mt-3">
                            <el-col :span="12" class="d-flex align-center show-field-item">
                                <label>Country:</label>
                                <p class="ml-1">{{ offer.geo.join(',') }}</p>
                            </el-col>
                            <el-col :span="12" class="d-flex align-center show-field-item">
                                <label>OS:</label>
                                <p class="ml-1">
                                    <template v-if="offer.os === 'ios'">iOS</template>
                                    <template v-else>Android</template>
                                </p>
                            </el-col>
                        </el-row>
                        <el-row class="mt-3">
                            <el-col :span="12" class="d-flex align-center show-field-item">
                                <label>Cap:</label>
                                <p class="ml-1">{{ offer.daily }}</p>
                            </el-col>
                            <el-col :span="12" class="d-flex align-center show-field-item">
                                <label>Margin:</label>
                                <p class="ml-1">{{ offer.margin }}</p>
                            </el-col>
                        </el-row>
                        <el-row class="mt-3">
                            <el-col :span="12" class="d-flex align-center show-field-item">
                                <label>Type:</label>
                                <p class="ml-1">
                                    <template v-if="!offer.public*1">Need approve</template>
                                    <template v-else>Public</template>
                                </p>
                            </el-col>
                            <el-col :span="12" class="d-flex show-field-item">
                                <label style="min-width: 84px">Adv offerid:</label>
                                <p class="ml-1">{{ offer.adv_oid }}</p>
                            </el-col>
                        </el-row>
                        <el-row class="mt-3">
                            <el-col :span="12" class="d-flex align-center show-field-item">
                                <label>Anti-cheating:</label>
                                <p class="ml-1">
                                    <template v-if="!!offer.anti_cheating*1">True</template>
                                    <template v-else>False</template>
                                </p>
                            </el-col>
                            <el-col :span="12" class="d-flex align-center show-field-item">
                                <label>Live:</label>
                                <p class="ml-1">
                                    <template v-if="!!offer.live*1">Active</template>
                                    <template v-else>Closed</template>
                                </p>
                            </el-col>
                        </el-row>
                        <el-row class="mt-3">
                            <el-col :span="12" class="d-flex align-center show-field-item">
                                <label>API:</label>
                                <p class="ml-1">
                                    <template v-if="!!offer.api">True</template>
                                    <template v-else>False</template>
                                </p>
                            </el-col>
                            <el-col :span="12" class="d-flex align-center show-field-item">
                                <label>Pull:</label>
                                <p class="ml-1">
                                    <template v-if="!!offer.pull">True</template>
                                    <template v-else>False</template>
                                </p>
                            </el-col>
                        </el-row>
                        <el-row class="mt-3">
                            <el-col :span="12" class="d-flex align-center show-field-item">
                                <label>Lead:</label>
                                <p class="ml-1">
                                    <template v-if="!!offer.lead">True</template>
                                    <template v-else>False</template>
                                </p>
                            </el-col>
                            <el-col :span="12" class="d-flex align-center show-field-item">
                                <label>Today:</label>
                                <p class="ml-1">
                                    <template v-if="!!offer.today">True</template>
                                    <template v-else>False</template>
                                </p>
                            </el-col>
                        </el-row>
                        <el-row class="mt-3">
                            <el-col :span="12" class="d-flex align-center show-field-item">
                                <label>Number:</label>
                                <p class="ml-1">
                                    {{ offer.number }}
                                </p>
                            </el-col>
                            <el-col :span="12" class="d-flex align-center show-field-item">
                                <label>Pub key:</label>
                                <p class="ml-1">
                                    <template v-if="!!offer.pubkey">True</template>
                                    <template v-else>False</template>
                                </p>
                            </el-col>
                        </el-row>
                        <el-row class="mt-3">
                            <el-col :span="12" class="d-flex align-center show-field-item">
                                <label>Target:</label>
                                <p class="ml-1">
                                    <template v-if="!!offer.target">True</template>
                                    <template v-else>False</template>
                                </p>
                            </el-col>
                            <el-col :span="12" class="d-flex align-center show-field-item">
                                <label>Status:</label>
                                <p class="ml-1">
                                    <template v-if="!!offer.status*1">Active</template>
                                    <template v-else>Closed</template>
                                </p>
                            </el-col>
                        </el-row>
                        <el-row class="mt-3">
                            <el-col :span="24" class="d-flex align-center show-field-item">
                                <label>Description KPI:</label>
                                <p class="ml-1">{{ offer.mark }}</p>
                            </el-col>
                        </el-row>
                    </div>
                </div>
            </el-col>
            <el-col :span="10" class="pl-3">
                <div class="show-page-container pt-4">
                    <div class="d-flex justify-space-between align-center">
                        <p class="show-page-title">Links</p>
                    </div>
                    <div class="mt-4 pt-4 b-t">
                        <el-row class="show-field-item">
                            <label style="display: block;margin-bottom: 4px">Preview URL:</label>
                            <el-col :span="24">
                                <el-input :value="offer.preview_url"
                                          class="edit-form-textarea"
                                          :autosize="{ minRows: 2}"
                                          type="textarea"
                                          placeholder="Preview URL"></el-input>
                            </el-col>
                        </el-row>
                        <el-row class="mt-3 show-field-item">
                            <label style="display: block;margin-bottom: 4px" class="mb-1">Destination URL:</label>
                            <el-col :span="24">
                                <el-input :value="offer.link"
                                          class="edit-form-textarea"
                                          :autosize="{ minRows: 2}"
                                          type="textarea"
                                          placeholder="Destination URL"></el-input>
                            </el-col>
                        </el-row>
                        <div class="mt-3 show-field-item">
                            <label style="display: block;margin-bottom: 4px" class="mb-1">Tracking Link:</label>
                            <el-select v-model="affiliate_id"
                                       @change="handleSelectAffiliate"
                                       filterable
                                       style="width: 220px"
                                       placeholder="Select an affiliate">
                                <el-option v-for="item in affiliates"
                                           :label="item.name+'#'+item.id"
                                           :value="item.id"
                                           :key="item.id"></el-option>
                            </el-select>
                            <div class="mt-3">
                                <el-input :value="myTrackingLink"
                                          class="edit-form-textarea"
                                          :autosize="{ minRows: 2}"
                                          type="textarea"
                                          placeholder="Tracking Link"></el-input>
                            </div>
                        </div>
                    </div>
                </div>
            </el-col>
        </el-row>
        <div>
            <div class="b-t event-container">
                <div class="d-flex justify-space-between align-center pb-3 b-b">
                    <p class="event-title">Events</p>
                    <el-button type="primary" size="small" @click="handleAwakeEventModal">Create</el-button>
                </div>

                <el-table
                        class="event-table"
                        ref="eventTable"
                        :data="events"
                        v-loading="eventLoading"
                        tooltip-effect="dark"
                        style="width: 100%"
                        stripe>
                    <el-table-column
                            label="ID"
                            width="80">
                        <template slot-scope="scope">{{ scope.row.id }}</template>
                    </el-table-column>
                    <el-table-column
                            label="Event Token"
                            width="140">
                        <template slot-scope="scope">
                            {{ scope.row.event_token }}
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="Active">
                        <template slot-scope="scope">
                            <el-tag effect="dark" type="success" size="mini" v-if="!!scope.row.active">Active</el-tag>
                            <el-tag effect="dark" type="danger" size="mini" v-else>Pending</el-tag>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="created_at"
                            label="Created At"
                            show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column label="Action" width="160">
                        <template slot-scope="scope">
                            <el-button size="mini"
                                       type="primary"
                                       @click="handleEditEvent(scope.$index, scope.row)">Edit</el-button>
                            <el-button size="mini"
                                       type="danger"
                                       @click="handleDelEvent(scope.$index, scope.row)">Delete</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </div>

        <div class="mt-6">
            <div class="b-t event-container">
                <div class="d-flex justify-space-between align-center pb-3 b-b">
                    <p class="event-title">Jumps</p>
                    <el-button type="primary"
                               icon="el-icon-refresh-left"
                               :loading="isRefreshingJump"
                               size="small"
                               @click="handleRefreshJump">Refresh</el-button>
                </div>
                <div class="mt-4">
                    <el-steps :active="activeIndex" simple>
                        <el-step :title="domainURI(jump)" v-for="jump in jumps" :key="jump"></el-step>
                    </el-steps>
                </div>
                <div class="mt-5">
                    <div v-for="(jump,index) in jumps" :class="{'mt-4':index>0}" :key="index">
                        <div class="jump-step d-flex align-center b-a pa-4">
                            <p class="level-title">Level {{ jumps.length - index }}</p>
                            <el-input :value="jump"></el-input>
                            <el-button class="copy-btn"
                                       type="primary"
                                       size="small"
                                       v-clipboard:copy="jump"
                                       v-clipboard:success="onCopy"
                                       v-clipboard:error="onError"
                                       icon="el-icon-document-copy"></el-button>
                        </div>
                        <div v-if="index<jumps.length-1" class="d-flex align-center justify-center mt-4">
                            <i class="el-icon-arrow-down"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <el-dialog :title="eventModalTitle" :visible.sync="eventVisible"
                   width="40%"
                   center>
            <div class="d-flex">
                <el-form :label-position="'top'" :model="event" :rules="eventRules"
                         ref="eventForm"
                         label-width="100px"
                         class="create-offer-form event" style="width: 100%">
                    <el-row>
                        <el-col :span="24">
                            <el-form-item label="Active" prop="active">
                                <el-select v-model="event.active" style="display: block" placeholder="Select active">
                                    <el-option :label="item.label" :value="item.value" v-for="item in eventActiveOptions" :key="item.value"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="24" class="mt-4">
                            <el-form-item label="Event token" prop="event_token">
                                <el-input
                                        class="edit-form-textarea"
                                        type="textarea"
                                        :autosize="{ minRows: 2}"
                                        placeholder="Event token"
                                        v-model="event.event_token">
                                </el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
            </div>

            <div slot="footer" class="dialog-footer">
                <el-button @click="eventVisible=false" size="small">Cancel</el-button>
                <el-button type="primary" @click="handleCreateEvent" size="small"
                           :loading="is_creating">Confirm</el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
    export default {
        name: "Detail",
        props:{
            id:{
                type:[Number,String],
                require:true,
            },
            offer:{
                type:Object,
                require: true
            },
            jump_detail:{
                type:Object,
                default:null
            }
        },
        computed:{
            coverUrl(){
                if(this.offer.icon){
                    return this.offer.icon
                }
                return '/assets/img/userpic.gif'
            },
            eventModalTitle(){
                if(this.isEditingEvent){
                    return 'Editing event'
                }
                return 'Create event'
            }
        },
        data(){
          return{
              eventLoading:false,
              events:[],
              eventActiveOptions:[
                  {label:'Active',value:1},
                  {label:'Pending',value:0}
              ],
              event:{
                  'campaign_id':'',
                  "event_token":'',
                  "status":1,
                  "active":1
              },
              eventRules:{
                  event_token: [
                      {required: true, message: 'Event token is required', trigger: 'change' },
                  ],
              },
              eventVisible:false,
              is_creating:false,
              myTrackingLink:'',
              affiliates:[],
              affiliate_id:'',
              isEditingEvent:false,
              eventId:'',
              editedEvent:null,
              isRefreshingJump:false,
              jumps:[],
              activeIndex:1
          }
        },
        methods:{
            handleAwakeEventModal(){
                this.eventVisible = true;
                this.isEditingEvent = false;
                this.event={
                    'campaign_id':'',
                    "event_token":'',
                    "status":1,
                    "active":1
                };
            },
            handleClone(){
                window.open(`/offers/create?offer_id=${this.id}`,"_blank");
            },
            handleEdit(){
                window.open(`/offers/${this.id}/edit`,"_blank");
            },
            fetchEvents(){
                this.eventLoading = true;
                this.$api.get(`/campaigns/${this.id}/events`)
                    .then(res=>{
                        this.events = res.data.data;
                    })
                    .finally(()=>{
                        this.eventLoading = false;
                    })
            },
            handleCreateEvent(){
                this.is_creating = true;
                this.event.campaign_id = this.id;
                if(!this.isEditingEvent){
                    this.$api.post('/events',this.event)
                        .then(res=>{
                            this.$message({
                                message: 'Event created successfully',
                                type: 'success'
                            });
                            this.event.event_token = '';
                            this.events.unshift(res.data.data);
                        })
                        .catch(error=>{
                            this.$notify({
                                title: 'Error',
                                message: error.message,
                                duration: 0
                            });
                        })
                        .finally(()=>{
                            this.is_creating = false;
                            this.eventVisible = false;
                        });
                    return false;
                }
                // 编辑
                this.$api.put(`/events/${this.eventId}`,this.event)
                    .then(res=>{
                        console.log(res);
                        this.$message({
                            message: 'Event updated successfully',
                            type: 'success'
                        });
                        this.editedEvent.active = res.data.data.active;
                        this.editedEvent.event_token = res.data.data.event_token;
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.eventId = '';
                        this.is_creating = false;
                        this.eventVisible = false;
                        this.editedEvent = null;
                    })
            },
            fetchAffiliates(status){
                if(!!status){
                    this.$api.get(`/campaigns/${this.id}/affiliate`)
                        .then(res=>{
                            this.affiliates = res.data.data;
                        })
                }else{
                    this.$api.get('/affiliates/all')
                        .then(res=>{
                            this.affiliates = res.data.data;
                        })
                }
            },
            handleSelectAffiliate(){
                if(this.offer.os === 'ios'){
                    this.myTrackingLink = `https://app.appone.link/tracking?_c_=${this.id}&_u_=${this.affiliate_id}&idfa={idfa}&imei={imei}&clickid={click_id}&ip={ip}&lang={lang}&ua={user_agent_urlencode}&callback={callback}`;
                    return false;
                }
                this.myTrackingLink = `https://app.appone.link/tracking?_c_=${this.id}&_u_=${this.affiliate_id}&gaid={gaid}&aaid={aaid}&pubid={pubid}&appid={appid}&clickid={click_id}&callback={callback}`
            },
            handleEditEvent(index, event){
                this.isEditingEvent = true;
                this.eventVisible = true;
                this.event.event_token = event.event_token;
                this.event.active = event.active;
                this.event.status = event.status;
                this.eventId = event.id;
                this.editedEvent = event;

            },
            handleDelEvent(index, event){
                this.$confirm('Are you sure to continue?', 'Notification', {
                    confirmButtonText: 'Confirm',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    this.$api.delete(`/events/${event.id}`)
                        .then(res=>{
                            this.$message({
                                message: 'Event deleted successfully',
                                type: 'success'
                            });
                            this.fetchEvents();
                        })
                        .catch(error=>{
                            this.$notify({
                                title: 'Error',
                                message: error.message,
                                duration: 0
                            });
                        })
                })
            },
            initJump(){
                let links = this.jump_detail.link;
                for(let key in links){
                    this.jumps.push(links[key+'']);
                }
                this.activeIndex = this.jumps.length;
            },
            handleRefreshJump(){
                this.isRefreshingJump = true;
            },
            domainURI(url){
                let urlReg = /[a-zA-Z0-9][-a-zA-Z0-9]{0,62}(\.[a-zA-Z0-9][-a-zA-Z0-9]{0,62})+\.?/;
                let _url=urlReg.exec(url);
                return _url[0];
            },
            onCopy(){
                this.$message({
                    showClose: true,
                    message: 'Copy to clipboard successfully',
                    type: 'success'
                });
            },
            onError(e){
                this.$message.error('An error occurred while copying, please refresh the page and try again');
            }
        },
        mounted(){
            if(!!this.jump_detail){
                this.initJump()
            }
        },
        beforeMount() {

            if(!(this.offer.public*1)){  // 为 need approve
                // 获取该offer可以给跟踪链接的渠道
                this.fetchAffiliates(1);
            }else{ //为 public
                // 获取该offer可以给跟踪链接的渠道
                this.fetchAffiliates(0);
            }

            // 获取offer 下面的events
            this.fetchEvents();
        }
    }
</script>

<style scoped lang="scss">
    .basic-info{
        .img-cover{
            width: 120px;
            height: 120px;
            min-width: 120px;
            img{
                width: 100%;height: 100%;
                object-fit: cover;
            }
        }
        .basic-info-content{
            flex: 1 1 auto;
        }
    }
    .event-title{
        font-size: 16px;
        font-weight: bold;
    }
    .event-container{
        width: calc(100% + 40px);
        margin-left: -20px;
        padding: 20px 20px 0 20px;
    }
    .level-title{
        min-width: 56px;
        margin-right: 48px;
    }
    .copy-btn{
        margin-left: 48px;
    }
</style>