<template>
    <div v-loading="is_loading">
        <div class="panel panel-default">
            <el-tabs type="border-card" v-model="activeName" @tab-click="handleClick">
                <el-tab-pane label="Details" name="detail">
                    <detail :id="id" :offer="offer" :jump_detail="jump_detail"></detail>
                </el-tab-pane>
                <el-tab-pane label="Affiliates" name="affiliates">
                    <affiliates :id="id"
                                :offer-payout="offer.payout"
                                :offer-margin="offer.margin"
                                :adv-margin="offer.billing.margin"
                    ></affiliates>
                </el-tab-pane>
            </el-tabs>
        </div>
    </div>
</template>

<script>
    import Detail from './Detail'
    import Affiliates from './Affiliates'
    export default {
        name: "OfferShow",
        props:{
          id:{
              type:[Number,String],
              require:true,
          },
          offer:{
              type:Object,
              require: true
          },
          jump_detail:{
              type:Object,
              default:null
          }
        },
        data(){
            return{
                is_loading:false,
                activeName: 'detail',
            }
        },
        methods: {
            handleClick(tab, event) {
            }
        },
        components:{
            Detail,
            Affiliates
        }
    }
</script>

<style scoped>

</style>