<template>
    <div v-loading="is_loading">
        <div class="panel panel-default pa-5">
            <el-form :label-position="'top'" :model="offerForm" :rules="rules" ref="offerForm" label-width="100px" class="create-offer-form">
                <el-row>
                    <el-col :span="6">
                        <el-form-item label="Offer Name" prop="name">
                            <el-input v-model="offerForm.name" placeholder="Offer Name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="Advertiser" prop="advertiser">
                            <el-select v-model="offerForm.advertiser"
                                       filterable
                                       style="display: block"
                                       placeholder="Select an advertiser">
                                <el-option v-for="item in advertisers"
                                           :label="item.name"
                                           :value="item.id"
                                           :key="item.id"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="Start Date" prop="start_time">
                            <el-date-picker type="date" placeholder="Select start date"
                                            v-model="offerForm.start_time"
                                            format="yyyy-MM-dd"
                                            value-format="yyyy-MM-dd"
                                            style="width: 100%;"></el-date-picker>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="End Date" prop="end_time">
                            <el-date-picker placeholder="Select end date"
                                            v-model="offerForm.end_time"
                                            format="yyyy-MM-dd"
                                            value-format="yyyy-MM-dd"
                                            style="width: 100%;"></el-date-picker>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="6">
                        <el-form-item label="Package Name" prop="package_name">
                            <el-input v-model="offerForm.package_name" placeholder="Package Name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="Payout" prop="payout">
                            <el-input v-model="offerForm.payout" placeholder="Payout"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="Price" prop="price">
                            <el-input v-model="offerForm.price" placeholder="Price"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="Pay type" prop="paytype">
                            <el-select v-model="offerForm.paytype" style="display: block" placeholder="Select type">
                                <el-option label="CPI" value="CPI"></el-option>
                                <el-option label="CPA" value="CPA"></el-option>
                                <el-option label="CPS" value="CPS"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-row>
                    <el-col :span="10">
                        <el-form-item label="Country" prop="geo">
                            <el-select
                                    style="display: block;"
                                    v-model="offerForm.geo"
                                    multiple
                                    filterable
                                    placeholder="Please select a country">
                                <el-option
                                        v-for="item in countries"
                                        :key="item.code"
                                        :label="item.country"
                                        :value="item.code">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="4">
                        <el-form-item label="OS" prop="os">
                            <el-select v-model="offerForm.os" style="display: block" placeholder="OS">
                                <el-option label="Android" value="android"></el-option>
                                <el-option label="iOS" value="ios"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="Public" prop="public">
                            <el-select v-model="offerForm.public" style="display: block" placeholder="Select type">
                                <el-option :label="item.label" :value="item.value" v-for="item in publicOptions" :key="item.value"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-row>
                    <el-col :span="6">
                        <el-form-item label="Margin" prop="margin">
                            <el-input v-model="offerForm.margin" placeholder="Margin"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="Adv offer id" prop="adv_oid">
                            <el-input v-model="offerForm.adv_oid" placeholder="Adv offerid"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="4">
                        <el-form-item label="Cap" prop="daily">
                            <el-input v-model="offerForm.daily" placeholder="Cap"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-row>
                    <el-col :span="24">
                        <el-form-item label="Preview URL" prop="preview_url">
                            <el-input v-model="offerForm.preview_url" placeholder="Preview URL"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="14">
                        <el-form-item label="Destination URL" prop="link">
                            <el-input v-model="offerForm.link"
                                      class="edit-form-textarea"
                                      :autosize="{ minRows: 2}"
                                      type="textarea"
                                      placeholder="Destination URL"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-row>
                    <el-col :span="14">
                        <el-form-item label="Description KPI" prop="mark">
                            <el-input
                                    class="edit-form-textarea"
                                    type="textarea"
                                    :autosize="{ minRows: 2}"
                                    placeholder="Description KPI"
                                    v-model="offerForm.mark">
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="10">
                        <el-form-item label="Icon" prop="icon">
                            <el-upload
                                    class="icon-uploader"
                                    action="/image"
                                    name="image"
                                    :headers="headers"
                                    :show-file-list="false"
                                    :on-success="handleAvatarSuccess"
                                    :before-upload="beforeAvatarUpload">
                                <img v-if="offerForm.icon" :src="offerForm.icon" class="offer-icon">
                                <i v-else class="el-icon-plus icon-uploader-icon"></i>
                            </el-upload>
                        </el-form-item>
                    </el-col>
                </el-row>
                <div class="status-switch-group">
                    <el-form-item label="Live" class="status-switch-item" prop="live">
                        <el-switch v-model="offerForm.live"
                                   :active-value='1'
                                   :inactive-value='0'></el-switch>
                    </el-form-item>

                    <el-form-item class="status-switch-item" label="Anti-cheating" prop="anti_cheating">
                        <el-switch v-model="offerForm.anti_cheating"
                                   :active-value='1'
                                   :inactive-value='0'></el-switch>
                    </el-form-item>

                    <el-form-item class="status-switch-item" label="API" prop="api">
                        <el-switch v-model="offerForm.api"
                                   :active-value='1'
                                   :inactive-value='0'></el-switch>
                    </el-form-item>
                    <el-form-item class="status-switch-item" label="Target" prop="target">
                        <el-switch v-model="offerForm.target"
                                   :active-value='1'
                                   :inactive-value='0'></el-switch>
                    </el-form-item>
                    <el-form-item class="status-switch-item" label="Status" prop="status">
                        <el-switch v-model="offerForm.status"
                                   :active-value='1'
                                   :inactive-value='0'></el-switch>
                    </el-form-item>
                </div>

                <el-form-item>
                    <el-button type="primary" @click="submitForm('offerForm')">{{ submitBtnText }}</el-button>
                </el-form-item>
            </el-form>

        </div>
    </div>
</template>

<script>
    export default {
        name: "OfferCreate",
        props:{
            id:{
                type:Number,
                default:null
            },
            init_adv_oid:{
                type:String,
                default:null
            }
        },
        computed:{
            submitBtnText(){
                return 'Create'
            }
        },
        data(){
            return{
                is_loading:false,
                offerForm: {
                    name: '',
                    advertiser: '',
                    link: '',
                    geo: [],
                    os: '',
                    price: '',
                    daily: 9999,
                    mark:'',
                    live:1,
                    api:0,
                    status:1,
                    public:0,
                    payout: '',
                    paytype: '',
                    preview_url: '',
                    adv_oid: '',
                    package_name: '',
                    icon: '',
                    start_time: '',
                    end_time: '',
                    margin:20,
                    anti_cheating:0,
                    target:1
                },
                rules: {
                    name: [
                        { required: true, message: 'Offer name is required', trigger: 'blur' },
                        // { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
                    ],
                    advertiser: [
                        { required: true, message: 'Advertiser is required', trigger: 'change' }
                    ],
                    start_time: [
                        {required: true, message: 'Start date is required', trigger: 'blur' }
                    ],
                    end_time: [
                        {required: true, message: 'End date is required', trigger: 'blur' }
                    ],
                    public: [
                        { required: true, message: 'Public is required', trigger: 'change' }
                    ],
                    payout: [
                        { required: true, message: 'Payout is required', trigger: 'blur' }
                    ],
                    price: [
                        { required: true, message: 'Price is required', trigger: 'blur' }
                    ],
                    paytype: [
                        { required: true, message: 'Pay type is required', trigger: 'change' }
                    ],
                    preview_url: [
                        { required: true, message: 'Preview URL is required', trigger: 'blur' }
                    ],
                    link: [
                        { required: true, message: 'Link is required', trigger: 'blur' }
                    ],
                    geo: [
                        { required: true, message: 'Geo is required', trigger: 'change' }
                    ],
                    os: [
                        { required: true, message: 'OS is required', trigger: 'change' }
                    ],
                    daily: [
                        { required: true, message: 'Cap is required', trigger: 'change' }
                    ],
                    package_name: [
                        { required: true, message: 'Package name is required', trigger: 'blur' }
                    ],
                    adv_oid: [
                        { required: true, message: 'Adv offer id is required', trigger: 'blur' }
                    ]
                },
                publicOptions:[
                    { value:0,label:'Need approve' },
                    { value:1,label:'Public' }
                ],
                countries:[],
                advertisers:[],
                imageUrl: '',
                headers : {
                    'X-CSRF-TOKEN' : window.Laravel.csrfToken
                }
            }
        },
        methods:{
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        let data = this.offerForm;
                        if(data.geo instanceof Array){
                            data.geo = data.geo.join(',');
                        }
                        this.is_loading = true;
                        this.postData(data);
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            handleAvatarSuccess(res, file) {
                this.offerForm.icon = res.data.someline_image_url;
            },
            beforeAvatarUpload(file) {

            },
            postData(data){
                this.$api.post(`/campaigns`,data)
                    .then(res=>{
                        this.offerForm.geo = this.offerForm.geo.split(',');
                        this.$message({
                            message: 'Offer created successfully',
                            type: 'success'
                        });
                        setTimeout(()=>{
                            location.href= `/offers/${res.data.data.id}`
                        },1000);
                    })
                    .catch(error=>{

                    })
                    .finally(()=>{
                        this.is_loading = false;
                    })

            }
        },
        mounted() {
            this.offerForm.end_time = moment().add(1, "years").format("YYYY-MM-DD");
            this.offerForm.start_time = moment().format("YYYY-MM-DD");
        },
        beforeMount() {
            if(!!this.id){
                this.is_loading = true;
                this.$api.get(`/campaigns/${this.id}`)
                    .then(res=>{
                        this.offerForm = {...res.data.data};
                        this.offerForm.geo = this.offerForm.geo.split(',');
                    })
                    .catch(error=>{

                    })
                    .finally(()=>{
                        this.is_loading = false;
                        this.offerForm.adv_oid = this.init_adv_oid;
                    });
            }
            this.offerForm.adv_oid = this.init_adv_oid;
        },
        beforeCreate() {
            this.$api.get("/countries/all")
                .then(res=>{
                    this.countries = res.data.data;
                })
                .catch(error=>{

                });

            this.$api.get("/advertisers/all")
                .then(res=>{
                    this.advertisers = res.data.data;
                })
                .catch(error=>{

                })
        }
    }
</script>

<style scoped lang="scss">
    .input-small-group{
        max-width: 200px!important;
    }

</style>
<style lang="scss">
    .create-offer-form{
        &.el-form--label-top .el-form-item__label{
            padding: 0;
            margin-bottom: 14px;
            font-size: 16px;
            font-weight: bold;
            line-height: 1;
        }
        .el-row{
            margin-left: -12px;
            margin-right: -12px;
            .el-col{
                padding: 0 12px;
            }
        }
        .edit-form-textarea textarea{
            resize: none;
        }

        &.el-form--label-top .status-switch-group{
            display: flex;
            align-items: center;
            .status-switch-item{
                display: flex;
                align-items: center;
                margin-left: 24px;
                &:first-child{
                    margin-left: 0;
                }
                .el-form-item__label{
                    margin-bottom: 0;
                    margin-right: 12px;
                }
            }
        }
        &.event{
            .el-form-item{
                margin-bottom: 0;
            }
        }
    }
    .el-upload__input{
        display: none!important;
    }
    .icon-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .icon-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    .icon-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 72px;
        height: 72px;
        line-height: 72px;
        text-align: center;
    }
    .offer-icon {
        width: 72px;
        height: 72px;
        display: block;
    }
</style>