<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="search d-flex align-center">
                <div>
                    <el-select
                            style="display: block;"
                            v-model="params.advertiser"
                            clearable
                            multiple
                            filterable
                            remote
                            reserve-keyword
                            placeholder="Advertiser"
                            :remote-method="remoteMethodAdvertiser"
                            :loading="fetchAdvLoading">
                        <el-option
                                v-for="item in advertisers"
                                :key="item.id"
                                :label="item.name+'#'+item.id"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </div>
                <div class="ml-2">
                    <el-select
                            v-model="params.geo"
                            clearable filterable
                            placeholder="Country">
                        <el-option
                                v-for="item in countries"
                                :key="item.code"
                                :label="item.country"
                                :value="item.code">
                        </el-option>
                    </el-select>
                </div>
                <div class="ml-2">
                    <el-input v-model="params.package_name"
                              clearable
                              placeholder="Package name"></el-input>
                </div>
                <div class="ml-2">
                    <el-input v-model="params.adv_oid" clearable placeholder="Adv offer id"></el-input>
                </div>
                <div class="ml-2">
                    <el-input v-model="params.search" clearable placeholder="keywords"></el-input>
                </div>
            </div>
            <div class="d-flex mt-4 align-center">
                <div>
                    <el-input v-model="params.cost"
                              type="number"
                              clearable
                              placeholder="Cost"></el-input>
                </div>
                <div class="ml-2">
                    <el-input v-model="params.ecpc"
                              type="number"
                              clearable
                              placeholder="Ecpc"></el-input>
                </div>
                <div class="ml-2">
                    <el-input v-model="params.ecvr"
                              type="number"
                              clearable
                              placeholder="Ecvr"></el-input>
                </div>
                <div  class="ml-3">
                    <el-button type="primary"
                               size="small"
                               @click="search">Search</el-button>
                </div>
            </div>
            <div class="d-flex mt-4 align-center">
                <el-popover
                        placement="bottom"
                        width="300"
                        v-model="filterVisible">
                    <div>
                        <label style="font-size: 16px;font-weight: bold">Offer status</label>
                        <el-radio-group v-model="params.live">
                            <el-radio :label="2">Active</el-radio>
                            <el-radio :label="1">Pause</el-radio>
                            <el-radio :label="''">All</el-radio>
                        </el-radio-group>
                    </div>
                    <div class="mt-3">
                        <label style="font-size: 16px;font-weight: bold">Jump status</label>
                        <el-radio-group v-model="params.take" style="display: block;">
                            <el-radio :label="2">Success</el-radio>
                            <el-radio :label="1">Fail</el-radio>
                            <el-radio :label="''">All</el-radio>
                        </el-radio-group>
                    </div>
                    <div class="mt-3">
                        <label style="font-size: 16px;font-weight: bold">Jumps</label>
                        <el-input v-model.number="params.jumps"
                                  type="number"
                                  clearable
                                  placeholder="Jumps"></el-input>
                    </div>
                    <div class="mt-3">
                        <label style="font-size: 16px;font-weight: bold">Others</label>
                        <div>
                            <el-checkbox v-model="params.pull" :true-label="1">Pull</el-checkbox>
                            <el-checkbox v-model="params.lead" :true-label="1">Lead</el-checkbox>
                            <el-checkbox v-model="params.today" :true-label="1">Today</el-checkbox>
                        </div>
                    </div>
                    <div class="mt-3 d-flex justify-space-between align-center">
                        <el-button size="small" @click="filterVisible = false">Cancel</el-button>
                        <el-button size="small" type="primary" @click="applyFilter">Apply</el-button>
                    </div>
                    <div class="mt-3 b-t" style="width: calc(100% + 24px);margin-left: -12px;padding: 16px 12px 0 12px">
                        <div>
                            <label style="font-size: 16px;font-weight: bold">Visible</label>
                            <div>
                                <el-checkbox v-model="showOfferMargin">Offer margin</el-checkbox>
                                <el-checkbox v-model="showAdvMargin">Adv margin</el-checkbox>
                            </div>
                        </div>
                    </div>
                    <el-button slot="reference" size="small">Filter</el-button>
                </el-popover>
                <el-button style="margin-left: 8px"
                           type="primary"
                           size="small"
                           :disabled="canApprove" @click="approveAction">Approve</el-button>
                <el-button style="margin-left: 8px"
                           type="primary"
                           size="small"
                           :disabled="canApprove"
                           @click="BatchStartPause(1)"
                           :loading="is_start">Batch start</el-button>
                <el-button style="margin-left: 8px"
                           type="danger"
                           size="small"
                           :disabled="canApprove"
                           @click="BatchStartPause(0)" :loading="is_pause">Batch pause</el-button>
            </div>
        </div>

        <div class="">
            <el-table
                    :key="tableKey"
                    v-loading="loading"
                    class="offer-table"
                    ref="multipleTable"
                    :data="offerList"
                    tooltip-effect="dark"
                    style="width: 100%"
                    stripe
                    @selection-change="handleSelectionChange">
                <el-table-column
                        fixed
                        type="selection"
                        width="55">
                </el-table-column>
                <el-table-column
                        fixed
                        label="ID"
                        width="80">
                    <template slot-scope="scope">{{ scope.row.id }}</template>
                </el-table-column>
                <el-table-column
                        fixed
                        label="Name"
                        width="140">
                    <template slot-scope="scope">
                        <el-tooltip placement="top">
                            <div slot="content">
                                Margin:{{ scope.row.margin?scope.row.margin:'---' }}
                            </div>
                            <a :href="`/offers/${scope.row.id}`" class="link">{{ scope.row.name }}</a>
                        </el-tooltip>
                    </template>
                </el-table-column>
                <el-table-column
                        width="110"
                        label="Advertiser"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <el-tooltip placement="top" v-if="!!scope.row.billing && !!scope.row.billing.data">
                            <div slot="content">
                                Margin:{{ scope.row.billing.data.margin?scope.row.billing.data.margin:'---' }}
                            </div>
                            <a :href="`/advertisers/${scope.row.billing.data.id}/edit`" class="link">
                                {{ scope.row.billing.data.name }}#{{ scope.row.billing.data.id }}
                            </a>
                        </el-tooltip>
                        <span v-else>---</span>
                    </template>
                </el-table-column>
                <el-table-column
                        width="110"
                        v-if="showOfferMargin"
                        label="Offer margin">
                    <template slot-scope="scope">
                        {{  scope.row.margin?scope.row.margin:'---' }}
                    </template>
                </el-table-column>
                <el-table-column
                        v-if="showAdvMargin"
                        width="110"
                        label="Adv margin">
                    <template slot-scope="scope">
                        {{ (!!scope.row.billing && !!scope.row.billing.data.margin)?scope.row.billing.data.margin:'---' }}
                    </template>
                </el-table-column>
                <el-table-column
                        width="140"
                        prop="package_name"
                        label="Package Name"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        prop="geo"
                        label="GEO"
                        width="100"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        label="Cap"
                        width="80"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <span v-if="!!scope.row.daily">{{ scope.row.daily | thousandSeparator }}</span>
                        <span v-else>---</span>

                    </template>
                </el-table-column>
                <el-table-column
                        prop="payout"
                        label="Payout"
                        width="80"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        prop="cost"
                        label="Cost"
                        width="80"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        label="Jumps"
                        width="80"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <span v-if="scope.row.jump">{{ scope.row.jump.data.jump_data }}</span>
                        <span v-else>---</span>
                    </template>
                </el-table-column>
                <el-table-column
                        label="Pull"
                        width="80"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <el-tag effect="dark" type="success" size="mini" v-if="!!scope.row.pull">True</el-tag>
                        <el-tag effect="dark" type="danger" size="mini" v-else>False</el-tag>
                    </template>
                </el-table-column>
                <el-table-column
                        label="Status"
                        width="80"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <el-tag effect="dark" type="success" size="mini" v-if="!!scope.row.live">Active</el-tag>
                        <el-tag effect="dark" type="danger" size="mini" v-else>Pause</el-tag>
                    </template>
                </el-table-column>
                <el-table-column
                        label="Jump status"
                        width="100"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <template v-if="scope.row.jump">
                            <el-tag effect="dark" type="success" size="mini" v-if="!!scope.row.jump.data.take">Success</el-tag>
                            <el-tag effect="dark" type="danger" size="mini" v-else>Fail</el-tag>
                        </template>
                        <template v-else>---</template>
                    </template>
                </el-table-column>
                <el-table-column fixed="right" label="Action">
                    <template slot-scope="scope">
                        <el-button size="mini"
                                   type="primary"
                                   plain
                                   @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <div class="mt-4 mb-4" style="padding-left:10px">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="params.page"
                    :page-size="params.paginationPerPage"
                    :total="paginationTotal"
                    layout="sizes,total, prev, pager, next, jumper"
            ></el-pagination>
        </div>

        <el-dialog title="Select affiliates" :visible.sync="approveVisible"
                   width="40%"
                   center>
            <div>
                <div>
                    <label style="font-size: 16px;font-weight: bold">Affiliate's tag</label>
                    <el-select
                            v-model="selectedTag"
                            @change="handleSelectedTag"
                            clearable
                            style="display: block;"
                            placeholder="Select a tag">
                        <el-option
                                v-for="item in tags"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div class="mt-4">
                    <label style="font-size: 16px;font-weight: bold">Affiliate</label>
                    <el-select style="display: block"
                               v-model="selectedAffiliate"
                               multiple
                               filterable
                               remote
                               reserve-keyword
                               :remote-method="remoteMethod"
                               placeholder="Please select affiliate">
                        <el-option v-for="item in affiliates"
                                   :label="item.name+'#'+item.id"
                                   :value="item.id+','+item.discount"
                                   :key="item.id"></el-option>
                    </el-select>
                </div>
                <div class="mt-4">
                    <label style="font-size: 16px;font-weight: bold">Margin</label>
                    <el-input v-model="approveMargin" type="number" autocomplete="off"></el-input>
                </div>
            </div>

            <div slot="footer" class="dialog-footer">
                <el-button @click="approveVisible=false" size="small">Cancel</el-button>
                <el-button type="primary" @click="approve" size="small"
                           :loading="is_approving">Confirm</el-button>
            </div>
        </el-dialog>

    </div>
</template>

<script>
    const delay = (function () {
        let timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms)
        }
    })();

    export default {
        name: "TopOffers",
        computed:{
            canApprove(){
                if(this.multipleSelection.length>0){
                    return false;
                }
                return true;
            }
        },
        watch:{
            showOfferMargin(val, oldVal){
                this.showOfferMargin = val;
                this.tableKey = new Date().getTime();
            },
            showAdvMargin(val, oldVal){
                this.showAdvMargin = val;
                this.tableKey = new Date().getTime();
            },
        },
        data(){
            return{
                tableKey:'',
                offerList: [],
                multipleSelection: [],
                loading:false,
                is_approving:false,
                fetchAdvLoading:false,
                params:{
                    page:1,
                    paginationPerPage:20,
                    advertiser:[],
                    geo:'',
                    jumps:'',
                    search:'',
                    live:2,
                    take:'',
                    is_top:1,
                    package_name:'',
                    adv_oid:'',
                    pull:'',
                    lead:'',
                    today:'',
                    cost:null,
                    ecpc:null,
                    ecvr:null
                },
                approveVisible:false,
                selectedAffiliate:[],
                affiliates:[],
                initAffiliates:[],
                paginationTotal:10,
                countries:[],
                advertisers:[],
                tags:[
                    {value:'',label:'All'},
                    {value:'network',label:'Network'},
                    {value:'emu',label:'EMU'},
                    {value:'ddj',label:'DDJ'}
                ],
                selectedTag:'',
                approveMargin:50,
                filterVisible:false,
                showOfferMargin:false,
                showAdvMargin:false,
                is_start:false,
                is_pause:false
            }
        },
        methods:{
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            handleEdit(index, offer){
                window.open(`/offers/${offer.id}/edit`,"_blank");
            },
            handleCurrentChange(val){
                this.params.page = val;
                this.fetchOffers();
            },
            handleSizeChange(val){
                this.params.page = 1;
                this.params.paginationPerPage = val;
                this.fetchOffers();
            },
            remoteMethodAdvertiser(query){
                if(query !== ''){
                    this.fetchAdvLoading = true;
                    delay(()=>{
                        this.$api.get('/advertisers',{
                            params:{
                                search:`name:${query}`
                            }
                        }).then(res=>{
                            this.advertisers = res.data.data;
                        }).finally(()=>{
                            this.fetchAdvLoading = false;
                        })
                    },600);
                }
            },
            search(){
                this.params.page = 1;
                this.fetchOffers();
            },
            remoteMethod(query) {
                if(this.initAffiliates.length>0){
                    if (query !== '') {
                        this.affiliates = this.initAffiliates.filter(item => {
                            if(this.selectedTag){
                                return item.name.toLowerCase()
                                    .indexOf(query.toLowerCase()) > -1 && (item.tag === this.selectedTag);
                            }
                            return item.name.toLowerCase()
                                .indexOf(query.toLowerCase()) > -1;
                        });
                    } else {
                        this.affiliates = this.initAffiliates;
                    }
                }

            },
            fetchOffers(){
                this.loading = true;
                this.$api.get('/campaigns?include=billing,jump',{
                    params:this.params
                })
                    .then(res=>{
                        if(res.data.meta){
                            this.offerList = res.data.data;
                            this.params.page = res.data.meta.pagination.current_page;
                            // this.paginationPerPage = res.data.meta.pagination.per_page;
                            this.paginationTotal = res.data.meta.pagination.total;
                        }else{
                            this.offerList = res.data.data.data;
                            this.params.page = res.data.data.current_page;
                            this.paginationTotal = res.data.data.total;
                        }

                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.loading = false;
                    })
            },
            approveAction(){
                this.approveVisible = true;
                this.fetchAffiliates();
            },
            approve(){
                if(this.selectedAffiliate.length>0){
                    let _selectedAffiliate = this.selectedAffiliate.map(item=>{
                        let _arr = item.split(",");
                        let obj = {"id":_arr[0]*1,"discount":_arr[1]*1};
                        return obj
                    });

                    let _data = [];
                    this.multipleSelection.forEach(item=>{
                        _selectedAffiliate.forEach(affiliateItem=>{
                            let obj = {
                                "campaign":item.id,
                                "customer":'',
                                "price":'',
                                "daily":item.daily,
                                "live":item.live,
                                "margin":'',
                                "status":1
                            };
                            obj.price = item.price * affiliateItem.discount / 100;
                            obj.customer = affiliateItem.id;
                            obj.margin = this.approveMargin;
                            _data.push(obj);
                        });
                    });
                    if(_data.length>0){
                        this.is_approving = true;
                        this.$api.post('/relations/apply',{
                            data:_data
                        })
                            .then(res=>{
                                this.$message({
                                    message: 'Offers approved successfully',
                                    type: 'success'
                                });
                                _selectedAffiliate = null;
                                _data = null;
                                this.selectedAffiliate = [];
                                this.multipleSelection = [];
                                this.$refs.multipleTable.clearSelection();
                            })
                            .catch(error=>{
                                this.$notify({
                                    title: 'Error',
                                    message: error.message,
                                    duration: 0
                                });
                            })
                            .finally(()=>{
                                this.approveVisible = false;
                                this.is_approving = false;
                            })
                    }
                }

            },
            handleSelectedTag(){
                if(this.selectedTag){
                    this.affiliates = this.initAffiliates.filter(item => {
                        return item.tag === this.selectedTag;
                    });
                }else{
                    this.affiliates = this.initAffiliates;
                }
            },
            fetchAffiliates(){
                if(this.initAffiliates.length<=0){
                    this.$api.get('/affiliates/all')
                        .then(res=>{
                            this.initAffiliates = res.data.data;
                            this.handleSelectedTag();
                        })
                        .catch(error=>{
                            this.$notify({
                                title: 'Error',
                                message: error.message,
                                duration: 0
                            });
                        })
                }


            },
            applyFilter(){
                this.filterVisible = false;
                this.params.page = 1;
                this.fetchOffers();
            },
            BatchStartPause(live){
                if(!!live){
                    this.is_start = true;
                }else{
                    this.is_pause = true;
                }

                this.$api.put('/campaigns/setStatus',{
                    'ids':this.multipleSelection.map(item=>{
                        return item.id;
                    }),
                    'data':{
                        "live":live
                    }
                }).then(res=>{
                    this.$message({
                        message: 'Successfully',
                        type: 'success'
                    });
                    this.fetchOffers();
                }).catch(error=>{
                    this.$notify({
                        title: 'Error',
                        message: error.message,
                        duration: 0
                    });
                }).finally(()=>{
                    this.is_start = false;
                    this.is_pause = false;
                })
            }
        },
        mounted(){
            this.tableKey = new Date().getTime();
            console.log('top offers');
        },
        beforeMount() {
            this.fetchOffers();
        },
        beforeCreate(){
            this.$api.get("/countries/all")
                .then(res=>{
                    this.countries = res.data.data
                })
                .catch(error=>{

                });
            this.$api.get('/advertisers').then(res=>{
                this.advertisers = res.data.data;
            })
        },
        filters:{
            thousandSeparator:function(input){
                return input && input.toString()
                    .replace(/(^|\s)\d+/g, (m) => m.replace(/(?=(?!\b)(\d{3})+$)/g, ','))
            }
        }
    }
</script>

<style scoped>

</style>
<style>
    .offer-table.el-table .el-table-column--selection.is-leaf .cell{
        padding-left: 14px;
    }
</style>