<template>
    <div class="panel panel-default">
        <div class="panel-heading d-flex align-center">
            <div>
                <el-date-picker
                        v-model="params.filterRange"
                        type="daterange"
                        align="left"
                        format="yyyy-MM-dd"
                        value-format="yyyy-MM-dd"
                        unlink-panels
                        range-separator="to"
                        start-placeholder="Start date"
                        end-placeholder="End date"
                        :picker-options="pickerOptions" @change="handleFilterChange">
                </el-date-picker>
            </div>
            <div class="ml-3">
                <el-select v-model="params.user" clearable filterable
                           placeholder="Select a user"
                           style="display: block" @change="handleFilterChange">
                    <el-option
                            v-for="item in users"
                            :key="item.user_id+','+item.role"
                            :label="item.name"
                            :value="item.user_id+','+item.role">
                    </el-option>
                </el-select>
            </div>
        </div>
        <div class="pa-4" v-loading="isLoadingGraph">
            <chart :options="option"></chart>
        </div>

        <div class="mt-4 pl-4 pr-4">
            <div class="b-t pt-4 pb-4">
                <div>
                    <p style="font-size: 18px;font-weight: bold">Tov Adv {{ topNum }}</p>
                    <div class="mt-3">
                        <el-table
                                v-loading="isLoadingTopAdv"
                                :data="topAdv"
                                style="width: 100%"
                                row-key="id"
                                border
                                lazy
                                :load="load"
                                :tree-props="{children: 'children', hasChildren: 'hasChildren'}">
                            <el-table-column
                                    prop="id"
                                    label="ID"
                                    width="180">
                            </el-table-column>
                            <el-table-column
                                    label="Name"
                                    width="180">
                                <template slot-scope="scope">
                                    <a v-if="scope.row.type === 'offer'" :href="`/offers/${scope.row.id}`" class="link">{{ scope.row.name }}</a>
                                    <a v-if="scope.row.type === 'adv'" :href="`/advertisers/${scope.row.id}/edit`" class="link">{{ scope.row.name }}</a>
                                    <a v-if="scope.row.type === 'aff'" :href="`/affiliates/${scope.row.id}`" class="link">{{ scope.row.name }}</a>
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="Click">
                                <template slot-scope="scope">
                                    {{ scope.row.tracking | thousandSeparator }}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="Conversion">
                                <template slot-scope="scope">
                                    {{ scope.row.postback | thousandSeparator }}
                                </template>

                            </el-table-column>

                            <el-table-column
                                    label="Callback">
                                <template slot-scope="scope">
                                    {{ scope.row.callback | thousandSeparator }}
                                </template>

                            </el-table-column>

                            <el-table-column
                                    label="Revenue">
                                <template slot-scope="scope">
                                    {{ scope.row.revenue | thousandSeparator }}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="Payment">
                                <template slot-scope="scope">
                                    {{ scope.row.payment | thousandSeparator }}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="Profit">
                                <template slot-scope="scope">
                                    {{ scope.row.profit | thousandSeparator }}
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                </div>


                <div class="mt-4">
                    <p style="font-size: 18px;font-weight: bold">Tov Offer {{ topNum }}</p>
                    <div class="mt-3">
                        <el-table
                                v-loading="isLoadingTopOffer"
                                :data="topOffer"
                                style="width: 100%"
                                row-key="id"
                                border
                                lazy
                                :load="load"
                                :tree-props="{children: 'children', hasChildren: 'hasChildren'}">
                            <el-table-column
                                    prop="id"
                                    label="Id"
                                    width="180">
                            </el-table-column>
                            <el-table-column
                                    label="Name"
                                    width="180">
                                <template slot-scope="scope">
                                    <a v-if="scope.row.type === 'offer'" :href="`/offers/${scope.row.id}`" class="link">{{ scope.row.name }}</a>
                                    <a v-if="scope.row.type === 'aff'" :href="`/affiliates/${scope.row.id}`" class="link">{{ scope.row.name }}</a>
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="Click">
                                <template slot-scope="scope">
                                    {{ scope.row.tracking | thousandSeparator }}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="Conversion">
                                <template slot-scope="scope">
                                    {{ scope.row.postback | thousandSeparator }}
                                </template>

                            </el-table-column>

                            <el-table-column
                                    label="Callback">
                                <template slot-scope="scope">
                                    {{ scope.row.callback | thousandSeparator }}
                                </template>

                            </el-table-column>

                            <el-table-column
                                    label="Revenue">
                                <template slot-scope="scope">
                                    {{ scope.row.revenue | thousandSeparator }}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="Payment">
                                <template slot-scope="scope">
                                    {{ scope.row.payment | thousandSeparator }}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="Profit">
                                <template slot-scope="scope">
                                    {{ scope.row.profit | thousandSeparator }}
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                </div>

                <div class="mt-4">
                    <p style="font-size: 18px;font-weight: bold">Tov Affiliate {{ topNum }}</p>
                    <div class="mt-3">
                        <el-table
                                v-loading="isLoadingTopAffi"
                                :data="topAffi"
                                row-key="id"
                                border
                                lazy
                                :load="loadOffer"
                                :tree-props="{children: 'children', hasChildren: 'hasChildren'}"
                                style="width: 100%">
                            <el-table-column
                                    prop="id"
                                    label="Id"
                                    width="180">
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    label="Name"
                                    width="180">
                                <template slot-scope="scope">
                                    <a v-if="scope.row.type === 'offer'" :href="`/offers/${scope.row.id}`" class="link">{{ scope.row.name }}</a>
                                    <a v-if="scope.row.type === 'aff'" :href="`/affiliates/${scope.row.id}`" class="link">{{ scope.row.name }}</a>
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="Click">
                                <template slot-scope="scope">
                                    {{ scope.row.tracking | thousandSeparator }}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="Conversion">
                                <template slot-scope="scope">
                                    {{ scope.row.postback | thousandSeparator }}
                                </template>

                            </el-table-column>
                            <el-table-column
                                    label="Callback">
                                <template slot-scope="scope">
                                    {{ scope.row.callback | thousandSeparator }}
                                </template>

                            </el-table-column>
                            <el-table-column
                                    label="Revenue">
                                <template slot-scope="scope">
                                    {{ scope.row.revenue | thousandSeparator }}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="Payment">
                                <template slot-scope="scope">
                                    {{ scope.row.payment | thousandSeparator }}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="Profit">
                                <template slot-scope="scope">
                                    {{ scope.row.profit | thousandSeparator }}
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import 'echarts/lib/chart/line';
    import 'echarts/lib/component/title';
    import 'echarts/lib/component/legend';

    export default {
        name: "Dashboard",
        computed:{
            topNum(){
                let user = this.params.user.split(',');
                if(!this.userIsAdmin(user[1])){
                   return "20"
                }
                return "50"
            }
        },
        data(){
            let  filterRange = [
                moment().subtract('days', 6).format('YYYY-MM-DD'),
                moment().format('YYYY-MM-DD')
            ];
            let user_id = window.Someline.state.user.user_id;
            let role = window.Someline.state.user.role;
            return {
                isLoadingGraph:false,
                isLoadingTopAdv:false,
                isLoadingTopOffer:false,
                isLoadingTopAffi:false,
                graph:[],
                option:{},
                params:{
                    filterRange:filterRange,
                    user:user_id+','+role,
                },
                pickerOptions: {
                    shortcuts: [{
                        text: 'Last week',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: 'Last month',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: 'Last three months',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                users:[],
                topAdv: [],
                topOffer:[],
                topAffi:[],
            };
        },
        methods:{
            handleFilterChange(){
                this.fetchGraph();
                this.fetchTopAdv();
                this.fetchTopOffer();
                this.fetchTopAffiliate();
            },
            setOptions(){
                let click = {
                        name: 'Click',
                        type: 'line',
                        smooth: true,
                        data: []
                    };
                let conversion = {
                        name: 'Conversion',
                        type: 'line',
                        smooth: true,
                        data: []
                    };
                let revenue = {
                    name: 'Revenue',
                    type: 'line',
                    smooth: true,
                    data: []
                };
                let payment = {
                    name: 'Payment',
                    type: 'line',
                    smooth: true,
                    data: []
                };
                let profit = {
                    name: 'Profit',
                    type: 'line',
                    smooth: true,
                    data: []
                };
                let xAxis_data = [];
                this.graph.forEach(item=>{
                    xAxis_data.push(item.date);
                    click.data.push(item.tracking/1000000);
                    conversion.data.push(item.postback/10);
                    revenue.data.push(item.revenue);
                    payment.data.push(item.payment);
                    profit.data.push(item.profit);
                });
                this.series = [click,conversion,revenue,payment,profit];
                this.option={
                    title: {
                        text: 'Volume Report'
                    },
                    tooltip: {
                        trigger: 'axis',
                        formatter(params){
                            let str = '';
                            params.forEach((item, idx) => {

                                if(item.seriesName === 'Click'){
                                    str += `${item.marker}${item.seriesName}: ${item.data}M`
                                }else if(item.seriesName === 'Conversion'){
                                    str += `${item.marker}${item.seriesName}: ${item.data}(x10)`;
                                }else{
                                    str += `${item.marker}${item.seriesName}: ${item.data}`;
                                }
                                str += idx === params.length -1? '': '<br/>'
                            });
                            return str;
                        }
                    },
                    legend: {
                        data: ['Click', 'Conversion', 'Revenue','Payment','Profit']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        data: xAxis_data
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [click,conversion,revenue,payment,profit]
                };
            },
            fetchGraph(){
                this.isLoadingGraph=true;
                let params = {
                    filterRange:this.params.filterRange,
                    user_id:''
                };
                let user = this.params.user.split(',');
                if(!this.userIsAdmin(user[1])){
                    params.user_id = user[0]*1;
                }
                this.$api.get('/report/daily',{
                    params:params
                })
                    .then(res=>{
                        this.graph = res.data.data;
                        this.setOptions()
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.isLoadingGraph=false;
                    })
            },
            fetchTopAdv(){
                let data = {
                    filterRange: this.params.filterRange,
                    user_id:'',
                    top:50
                };
                let user = this.params.user.split(',');
                if(!this.userIsAdmin(user[1])){
                    data.user_id = user[0]*1;
                    data.top = 20;
                }
                this.isLoadingTopAdv = true;
                this.$api.get('/advertisers/top',{
                    params:data
                })
                    .then(res=>{
                        this.topAdv = res.data.data;
                        this.topAdv.forEach(item=>{
                            item['hasChildren'] = true;
                            item['type'] = 'adv';
                            // if(item.summarries && item.summarries.length>0){
                            //     item['children'] = item.summarries;
                            //     item['type'] = 'adv';
                            //     item.children.forEach(subItem=>{
                            //         subItem.hasChildren = true;
                            //         subItem['name'] = subItem.campaign.name;
                            //         subItem['type'] = 'offer';
                            //     })
                            // }
                        })
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.isLoadingTopAdv = false;
                    })
            },
            load(tree, treeNode, resolve) {
                if(tree.type === 'adv'){
                    this.fetchTopOffer(tree.id,resolve)
                }
                if(tree.type === 'offer'){
                    this.fetchTopAffiliate(tree.id,resolve);
                }

            },
            loadOffer(tree, treeNode, resolve){
                this.fetchTopOfferByAffiliate(tree.id,resolve)
            },
            fetchTopAffiliate(id,resolve){
                // id 为某个offer的id  如果有及视为查询某个offer下的top 渠道

                let data = {
                    filterRange: this.params.filterRange,
                    id:!!id?id:null,
                    user_id:'',
                    top:50
                };
                let user = this.params.user.split(',');
                if(!this.userIsAdmin(user[1])){
                    data.user_id = user[0]*1;
                    data.top = 20;
                }

                if(!id){
                    // 不是获取某个offer下的top渠道
                    this.isLoadingTopAffi = true;
                }

                this.$api.get("/affiliates/top",{
                    params:data
                })
                    .then(res=>{
                        this.topAffi = res.data.data;
                        this.topAffi.forEach(item=>{
                            item['type'] = 'aff';
                        });
                        // 获取的是offer 下面的top affiliate
                        if(resolve){
                            resolve(this.topAffi);
                            return false;
                        }
                        // 获取top affiliate
                        this.topAffi.forEach(item=>{
                            item['hasChildren'] = true;
                        })
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.isLoadingTopAffi = false;
                    })
            },
            fetchTopOffer(id,resolve){
                let data = {
                    filterRange: this.params.filterRange,
                    id:!!id?id:null,
                    user_id:'',
                    top:50
                };
                let user = this.params.user.split(',');
                if(!this.userIsAdmin(user[1])){
                    data.user_id = user[0]*1;
                    data.top = 20;
                }
                if(!id) {
                    this.isLoadingTopOffer = true;
                }
                this.$api.get('/campaigns/top',{
                    params:data
                })
                    .then(res=>{
                        this.topOffer = res.data.data;
                        this.topOffer.forEach(item=>{
                            item['type'] = 'offer';
                            item['hasChildren'] = true;
                        });
                        if(resolve){
                            resolve(this.topOffer);
                        }
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.isLoadingTopOffer = false;
                    })

            },
            fetchTopOfferByAffiliate(id,resolve){
                let data = {
                    filterRange: this.params.filterRange,
                    user_id:'',
                    top:50
                };
                let user = this.params.user.split(',');
                if(!this.userIsAdmin(user[1])){
                    data.user_id = user[0]*1;
                    data.top = 20;
                }
                this.$api.get(`/affiliates/${id}/topOffers`,{
                    params:data
                })
                    .then(res=>{
                        let data = res.data.data;
                        data.forEach(item=>{
                            item['type'] = 'offer';
                        });
                        resolve(data);
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })

            }
        },
        mounted(){

        },
        beforeMount() {
            this.fetchGraph();
            this.fetchTopAdv();
            this.fetchTopOffer();
            this.fetchTopAffiliate()
        },
        beforeCreate() {
            this.$api.get('/users/all',)
                .then(res=>{
                    this.users = res.data.data;
                })
        },
        filters:{
            thousandSeparator:function(input){
                return input && input.toString()
                    .replace(/(^|\s)\d+/g, (m) => m.replace(/(?=(?!\b)(\d{3})+$)/g, ','))
            }
        }
    }
</script>

<style scoped>

</style>
<style>
    .echarts{
        width: 100%;
    }
    .el-date-editor .el-range-separator{
        padding: 0;
    }
</style>