<template>
    <div class="panel panel-default pa-5">
        <el-upload
                class="upload-aff-invoice"
                :action="`/api/u/import/billing`"
                :before-upload="beforeUploadAffInvoice"
                :on-success="uploadInvoiceSuccess"
                :on-error="uploadInvoiceError"
                :accept="'.xlsx'"
                :show-file-list="false"
                :headers="headers">
            <el-button size="mini"
                       :loading="is_uploading"
                       type="primary">Import Billing</el-button>
        </el-upload>
    </div>
</template>

<script>
    export default {
        name: "ImportBilling",
        data(){
          return{
              is_uploading:false,
              headers : {
                  'X-CSRF-TOKEN' : window.Laravel.csrfToken
              },
          }
        },
        methods:{
            beforeUploadAffInvoice(file){
                this.is_uploading = true;
                return true;
            },
            uploadInvoiceSuccess(res){
                this.is_uploading = false;
                this.$message({
                    message: 'Billing imported successfully',
                    type: 'success'
                });
            },
            uploadInvoiceError(error){
                this.is_uploading = false;
                this.$notify({
                    title: 'Error',
                    message: error.message,
                    duration: 0
                });
            }
        }
    }
</script>

<style scoped>

</style>