<template>
    <div class="panel panel-default">
        <div class="panel-heading d-flex justify-space-between align-center">
            <div class="search d-flex align-center justify-space-between" style="width: 100%">
                <div>
                    <el-date-picker
                            v-model="filter.month"
                            type="month"
                            format="yyyy-MM"
                            value-format="yyyy-MM"
                            placeholder="Select month"
                            @change="fetchData">
                    </el-date-picker>
                </div>
                <el-button size="mini"
                           type="primary"
                           plain
                           @click="handleAdd">Add</el-button>
            </div>
        </div>

        <div class="">
            <el-table
                    v-loading="loading"
                    class="offer-table"
                    ref="multipleTable"
                    :data="outlays"
                    tooltip-effect="dark"
                    style="width: 100%"
                    stripe>
                <el-table-column
                        prop="id"
                        width="100"
                        label="ID">
                </el-table-column>
                <el-table-column
                        prop="month"
                        min-width="100"
                        label="Month">
                </el-table-column>

                <el-table-column
                        min-width="120"
                        label="Cost">
                    <template slot-scope="scope">
                        {{ scope.row.amount | thousandSeparator}}
                    </template>
                </el-table-column>
                <el-table-column
                        min-width="120"
                        label="Currency">
                    <template slot-scope="scope">
                        {{ scope.row.currency.toUpperCase() }}
                    </template>
                </el-table-column>
                <el-table-column
                        min-width="100"
                        label="Cost type">
                    <template slot-scope="scope">
                        {{  scope.row.type }}
                    </template>
                </el-table-column>
                <el-table-column
                        prop="mark"
                        min-width="280"
                        label="Mark">
                </el-table-column>
                <el-table-column fixed="right"
                                 min-width="120"
                                 label="Action">
                    <template slot-scope="scope">
                        <el-button size="mini"
                                   type="primary"
                                   plain
                                   @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <div class="mt-4 mb-4" style="padding-left:10px">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="filter.page"
                    :page-size="filter.paginationPerPage"
                    :total="paginationTotal"
                    layout="sizes,total, prev, pager, next, jumper"
            ></el-pagination>
        </div>



        <el-dialog title="Outlay" :visible.sync="dialogFormVisible">
            <el-form :model="outlayForm">
                <el-form-item label="Month" :label-width="formLabelWidth">
                    <el-date-picker
                            v-model="outlayForm.month"
                            format="yyyy-MM"
                            value-format="yyyy-MM"
                            type="month"
                            placeholder="Select month">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="Types of cost" :label-width="formLabelWidth">
                    <el-input v-model="outlayForm.type" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="Cost" :label-width="formLabelWidth">
                    <el-input v-model="outlayForm.amount" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="Currency" :label-width="formLabelWidth">
                    <el-select style="width: 100%" v-model="outlayForm.currency" placeholder="Choose a currency type">
                        <el-option
                                v-for="item in currencyList"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Mark" :label-width="formLabelWidth">
                    <el-input
                            type="textarea"
                            :autosize="{ minRows: 2}"
                            placeholder="Mark"
                            v-model="outlayForm.mark">
                    </el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="restData">取 消</el-button>
                <el-button type="primary" v-loading="isConfirming" @click="handleConfirm">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
    export default {
        name: "OutlayList",
        created(){
            this.filter.month = moment(new Date()).format('YYYY-MM')
            this.fetchData()
        },
        mounted(){
            this.outlayForm.month = moment(new Date()).format('YYYY-MM')
        },
        data(){
            return{
                loading:false,
                outlays:[],
                filter:{
                    page:1,
                    paginationPerPage:20,
                    month:''
                },
                currencyList:[
                    {label:'USD',value:'usd'},
                    {label:'CNY',value:'cny'}
                ],
                formLabelWidth: '120px',
                outlayForm:{
                    month:'',
                    type:'',
                    amount:0.00,
                    currency:'usd',
                    mark:''
                },
                editingOutlay:null,
                isConfirming:false,
                dialogFormVisible:false,
                paginationTotal:0
            }
        },
        filters:{
            thousandSeparator:function(input){
                return input && input.toString()
                    .replace(/(^|\s)\d+/g, (m) => m.replace(/(?=(?!\b)(\d{3})+$)/g, ','))
            }
        },
        methods:{
            handleSizeChange(val){
                this.filter.page = 1;
                this.filter.paginationPerPage = val;
                this.fetchData();
            },
            handleCurrentChange(val){
                this.filter.page = val;
                this.fetchData();
            },
            handleAdd(){
                this.dialogFormVisible = true;
                this.editingOutlay = null;
                this.outlayForm.month = moment(new Date()).format('YYYY-MM')
            },
            handleEdit(index,row){
                this.editingOutlay = row;
                this.dialogFormVisible = true;
                this.outlayForm = { ...this.editingOutlay }
            },
            handleConfirm(){
                let type = 0; // 创建
                if(!!this.editingOutlay){
                    type = 1 //编辑
                }
                this.postData(type)
            },
            restData(){
                this.dialogFormVisible = false;
                this.editingOutlay = null;
                this.outlayForm = {
                    month:'',
                    type:'',
                    amount:0.00,
                    currency:'usd',
                    mark:''
                }
            },
            fetchData(){
                this.loading = true;
                this.$api.get('/outlay',{
                    params:this.filter
                })
                    .then(res=>{
                        this.outlays = res.data.data;
                        this.filter.page = res.data.current_page;
                        this.paginationTotal = res.data.total;
                    })
                    .catch(error=>{

                    })
                    .finally(()=>{
                        this.loading = false
                    })
            },
            postData(type){
                this.isConfirming = true;
                if(!type){ // 创建outlay
                    this.$api.post('/outlay',this.outlayForm)
                        .then(res=>{
                            this.$message({
                                message: 'Successful operation',
                                type: 'success'
                            });
                            this.fetchData();
                            this.restData()
                        })
                        .catch(error=>{
                            this.$notify({
                                title: 'Error',
                                message: error.message,
                                duration: 0
                            });
                        })
                        .finally(()=>{
                            this.isConfirming = false
                        })
                    return false
                }
                this.$api.put(`/outlay/${this.editingOutlay.id}`,this.outlayForm)
                    .then(res=>{
                        this.$message({
                            message: 'Successful operation',
                            type: 'success'
                        });
                        this.fetchData();
                        this.restData()
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.isConfirming = false
                    })
            }
        }
    }
</script>

<style scoped>

</style>