<template>
    <div v-loading="is_loading">
        <div class="panel panel-default pa-5">
            <el-form :model="userForm" :rules="rules" ref="userForm" label-width="80px">
                <el-form-item label="Name" prop="name">
                    <el-input v-model="userForm.name"></el-input>
                </el-form-item>
                <el-form-item label="Email" prop="email">
                    <el-input v-model="userForm.email" type="email"></el-input>
                </el-form-item>
                <el-form-item label="Password" prop="password">
                    <el-input v-model="userForm.password" type="password"></el-input>
                </el-form-item>
                <el-form-item label="Role" prop="role">
                    <el-select v-model="userForm.role" placeholder="Please select a role">
                        <el-option label="Admin" value="admin"></el-option>
                        <el-option label="Manager" value="manager"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit('userForm')">Create</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Create",
        data() {
            let validateEmail = (rule, value, callback) => {
                let filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                if (filter.test(value)) {
                    callback();
                } else {
                    callback(new Error('Email is invalid'));
                }

            };
            return {
                is_loading:false,
                userForm: {
                    name: '',
                    email: '',
                    password: '',
                    role: 'manager',
                },
                rules: {
                    name: [
                        { required: true, message: 'User name is required', trigger: 'blur' },
                    ],
                    email: [
                        {required: true, message: 'Email is required', trigger: 'blur' },
                        {validator: validateEmail, trigger: 'change'}
                    ],
                    password: [
                        {required: true, message: 'Password is required', trigger: 'blur' }
                    ],
                    role: [
                        {required: true, message: 'Role is required', trigger: 'change' },
                    ],
                },
            }
        },
        methods: {
            onSubmit(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.is_loading = true;
                        this.postData();
                    } else {
                        return false;
                    }
                });
            },
            postData(){
                this.is_loading = true;
                this.$api.post('/users',this.userForm)
                    .then(res=>{
                        this.$message({
                            message: 'User created successfully',
                            type: 'success'
                        });
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.is_loading = false;
                    })
            }
        }
    }
</script>

<style scoped>

</style>