<template>

    <div class="panel panel-default">
        <div class="">
            <el-table
                    v-loading="loading"
                    class="offer-table"
                    ref="multipleTable"
                    :data="users"
                    tooltip-effect="dark"
                    style="width: 100%"
                    stripe>
                <el-table-column
                        label="ID"
                        width="80">
                    <template slot-scope="scope">{{ scope.row.user_id }}</template>
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="Name"
                        width="140">
                </el-table-column>

                <el-table-column
                        prop="email"
                        label="Email"
                        show-overflow-tooltip>
                </el-table-column>

                <el-table-column
                        label="Role">
                    <template slot-scope="scope">
                        {{ scope.row.role === 'admin'?'Admin':'Manager' }}
                    </template>
                </el-table-column>

                <el-table-column
                        prop="created_at"
                        label="Created at"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column label="Action">
                    <template slot-scope="scope">
                        <el-button size="mini"
                                   type="primary"
                                   plain
                                   @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </div>

</template>

<script>
    export default{
        props:{
            users:{
                type:Array,
                require:true,
            }
        },
        data(){
            return {
                loading:false
            }
        },
        computed: {},
        components: {
            'sl-user-list-item': require('./UserListGroupItem.vue').default,
        },
        watch: {},
        events: {},
        methods: {
            handleEdit(index,user){
                window.open(`/users/${user.user_id}`,"_blank");
            }
        },
        mounted(){
            console.log(this.users);
        },
    }
</script>
<style scoped>
</style>
<style>
    .offer-table.el-table .el-table-column--selection.is-leaf .cell{
        padding-left: 14px;
    }
</style>