<template>
    <div class="panel panel-default">
        <div class="panel-heading d-flex align-center">
            <div>
                <el-date-picker
                        v-model="params.filterRange"
                        type="daterange"
                        align="left"
                        format="yyyy-MM-dd"
                        value-format="yyyy-MM-dd"
                        unlink-panels
                        range-separator="to"
                        start-placeholder="Start date"
                        end-placeholder="End date"
                        :picker-options="pickerOptions" @change="handleFilterChange">
                </el-date-picker>
            </div>
        </div>
        <div class="d-flex">
            <div class="pa-4 graph-container" v-loading="isLoadingGraph">
                <chart :options="option"></chart>
            </div>
            <div class="pa-4 top-container">
                <el-card v-loading="isLoadingTopOffer" class="box-card">
                    <div slot="header" class="clearfix">
                        <span>Top Offers</span>
                        <!--                        <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button>-->
                    </div>
                    <div v-for="offer in topOffer" :key="offer.id" class="text item">
                        {{ offer.name }}#{{ offer.id }}
                    </div>
                </el-card>
            </div>
        </div>
    </div>
</template>

<script>
    import 'echarts/lib/chart/line';
    import 'echarts/lib/component/title';
    import 'echarts/lib/component/legend';

    export default {
        name: "Dashboard",
        computed:{
            topNum(){
                return 20
            }
        },
        data(){
            let  filterRange = [
                moment().subtract('days', 6).format('YYYY-MM-DD'),
                moment().format('YYYY-MM-DD')
            ];
            let user_id = window.Someline.state.user.user_id;
            return {
                isLoadingGraph:false,
                isLoadingTopOffer:false,
                graph:[],
                option:{},
                params:{
                    filterRange:filterRange,
                },
                pickerOptions: {
                    shortcuts: [{
                        text: 'Last week',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: 'Last month',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: 'Last three months',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                topOffer:[],
            };
        },
        methods:{
            handleFilterChange(){
                this.fetchGraph();
                this.fetchTopOffer();
            },
            setOptions(){
                let click = {
                    name: 'Click',
                    type: 'line',
                    smooth: true,
                    data: []
                };
                let conversion = {
                    name: 'Conversion',
                    type: 'line',
                    smooth: true,
                    data: []
                };
                let Amount = {
                    name: 'Amount',
                    type: 'line',
                    smooth: true,
                    data: []
                };
                let CR = {
                    name: 'CR',
                    type: 'line',
                    smooth: true,
                    data: []
                };
                let xAxis_data = [];
                this.graph.forEach(item=>{
                    xAxis_data.push(item.date);
                    click.data.push(item.tracking/1000);
                    conversion.data.push(item.callback/10);
                    Amount.data.push(item.profit);
                    if(item.tracking*1 === 0){
                        CR.data.push(0);
                        return false;
                    }
                    CR.data.push((item.callback*1/(item.tracking*1)*1000).toFixed(3));
                });
                this.series = [click,conversion,CR,Amount];
                this.option={
                    title: {
                        text: 'Volume Report'
                    },
                    tooltip: {
                        trigger: 'axis',
                        formatter(params){
                            let str = '';
                            params.forEach((item, idx) => {

                                if(item.seriesName === 'Click'){
                                    str += `${item.marker}${item.seriesName}: ${item.data}k`
                                }else if(item.seriesName === 'Conversion'){
                                    str += `${item.marker}${item.seriesName}: ${item.data}(x10)`
                                }else if(item.seriesName === 'CR'){
                                    str += `${item.marker}${item.seriesName}: ${item.data}(‰)`
                                }else{
                                    str += `${item.marker}${item.seriesName}: ${item.data}`;
                                }
                                str += idx === params.length -1? '': '<br/>'
                            });
                            return str;
                        }
                    },
                    legend: {
                        data: ['Click', 'Conversion','CR','Amount']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        data: xAxis_data
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [click,conversion,CR,Amount]
                };
            },
            fetchGraph(){
                this.isLoadingGraph=true;
                let params = {
                    filterRange:this.params.filterRange
                };
                this.$api.get(`/customers/${this.currentUserId}/graph`,{
                    params:params
                })
                    .then(res=>{
                        this.graph = res.data.data;
                        this.setOptions()
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.isLoadingGraph=false;
                    })
            },
            fetchTopOffer(){
                let data = {
                    filterRange: this.params.filterRange,
                    top:20
                };
                this.isLoadingTopOffer = true;
                this.$api.get(`/customers/${this.currentUserId}/offer/top`,{
                    params:data
                })
                    .then(res=>{
                        this.topOffer = res.data.data;
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.isLoadingTopOffer = false;
                    })

            }
        },
        mounted(){

        },
        beforeMount() {
            this.fetchGraph();
            this.fetchTopOffer();
        },
        beforeCreate() {
        }
    }
</script>

<style scoped lang="scss">
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
        &:last-child{
            margin-bottom: 0;
        }
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }
    .clearfix:after {
        clear: both
    }
    .top-container{
        width: 240px;
    }
    .graph-container{
        flex: 1 1 auto;
    }
</style>
<style>
    .echarts{
        width: 100%;
    }
    .el-date-editor .el-range-separator{
        padding: 0;
    }
</style>