<template>
    <div class="panel panel-default">
        <div class="panel-heading d-flex justify-space-between align-center"
             style="background-color: #fff;">
            <el-form ref="filterForm" class="filterForm" style="width: 100%"
                     label-width="80px">
                <el-form-item label="Filter">
                    <el-row class="filter-row">
                        <el-col :span="6">
                            <el-select v-model="showConfig.advertiser" clearable filterable
                                       placeholder="Advertiser" style="display: block">
                                <el-option
                                        v-for="item in advertisers"
                                        :key="item.id"
                                        :label="item.name+'#'+item.id"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="6">
<!--                            <el-input v-model="showConfig.offer_name" clearable placeholder="Offer name"></el-input>-->
                            <el-select
                                    style="display: block;"
                                    v-model="showConfig.offers"
                                    multiple
                                    filterable
                                    remote
                                    reserve-keyword
                                    placeholder="Select offers"
                                    :remote-method="remoteOfferMethod"
                                    :loading="isSearchingOffer">
                                <el-option
                                        v-for="item in offers"
                                        :key="item.id"
                                        :label="item.name+'#'+item.id"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </el-col>
<!--                        <el-col :span="6">-->
<!--                            <el-input v-model="showConfig.package_name" placeholder="Package name"></el-input>-->
<!--                        </el-col>-->
                        <el-col :span="6">
                            <el-select v-model="showConfig.affiliate" clearable filterable
                                       placeholder="Affiliate" style="display: block">
                                <el-option
                                        v-for="item in affiliates"
                                        :key="item.id"
                                        :label="item.name+'#'+item.id"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </el-col>
                    </el-row>
                </el-form-item>
                <el-form-item label="Range">
                    <el-date-picker
                            v-model="showConfig.filterRange"
                            type="daterange"
                            align="left"
                            format="yyyy-MM-dd"
                            value-format="yyyy-MM-dd"
                            unlink-panels
                            range-separator="to"
                            start-placeholder="Start date"
                            end-placeholder="End date"
                            :picker-options="pickerOptions">
                    </el-date-picker>
                </el-form-item>
                <el-form-item>
                    <el-button size="small" type="primary" @click="handleFilter">Generate Report</el-button>
                    <el-button size="small" type="primary"
                               @click="handleExport">Export Report</el-button>
                </el-form-item>
            </el-form>
        </div>

        <div class="">
            <el-table
                    v-loading="loading"
                    class="offer-table"
                    ref="multipleTable"
                    :data="reportList"
                    tooltip-effect="dark"
                    style="width: 100%"
                    :default-sort = "{prop: 'date', order: 'descending'}"
                    @sort-change="sortChange"
                    stripe>
                <el-table-column
                        label="Offer name"
                        fixed
                        width="180">
                    <template slot-scope="scope">
                        {{ scope.row.campaign.name }}#{{ scope.row.campaign.id }}
                    </template>
                </el-table-column>
                <el-table-column
                        label="Advertiser"
                        width="180"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <span v-if="scope.row.campaign.billing">
                            {{ scope.row.campaign.billing.name }}#{{ scope.row.campaign.billing.id }}
                        </span>
                        <span v-else>---</span>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="date"
                        label="Date"
                        :sortable="'custom'"
                        width="90"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        prop="funny"
                        label="Conversion Id"
                        width="390"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        prop="funny"
                        label="Aff click"
                        width="390"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <span v-if="!!scope.row.affclick">{{ scope.row.affclick }}</span>
                        <span v-else>---</span>
                    </template>
                </el-table-column>
                <el-table-column
                        label="OSID"
                        width="200"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                       {{ getOsId(scope.row) }}
                    </template>
                </el-table-column>
                <el-table-column
                        label="Affiliate"
                        width="180"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        {{ scope.row.affiliate.name }}#{{ scope.row.affiliate.id }}
                    </template>
                </el-table-column>
                <el-table-column
                        label="Sub-affiliate"
                        width="100"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <span v-if="scope.row.aff_pub">{{ scope.row.aff_pub }}</span>
                        <span v-else>---</span>
                    </template>
                </el-table-column>

<!--                <el-table-column-->
<!--                        label="Package Name"-->
<!--                        width="180"-->
<!--                        show-overflow-tooltip>-->
<!--                    <template slot-scope="scope">-->
<!--                        {{ scope.row.campaign.package_name }}-->
<!--                    </template>-->
<!--                </el-table-column>-->
                <el-table-column
                        prop="margin"
                        label="Margin"
                        width="80"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        label="Status"
                        width="80"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <el-tag effect="dark" type="danger" size="mini" v-if="!!scope.row.take">Pending</el-tag>
                        <el-tag effect="dark" type="success" size="mini" v-else>Approve</el-tag>
                    </template>
                </el-table-column>
                <el-table-column
                        fixed="right"
                        prop="revenue"
                        label="Revenue"
                        :sortable="'custom'"
                        width="110"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        {{ scope.row.revenue | thousandSeparator }}
                    </template>
                </el-table-column>
                <el-table-column
                        prop="payment"
                        fixed="right"
                        label="Payment"
                        :sortable="'custom'"
                        width="110"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        {{ scope.row.payment | thousandSeparator }}
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <div class="mt-4 mb-4" style="padding-left:10px">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="showConfig.page"
                    :page-size="showConfig.paginationPerPage"
                    :total="paginationTotal"
                    layout="sizes,total, prev, pager, next, jumper"
            ></el-pagination>
        </div>



    </div>
</template>

<script>
    const delay = (function () {
        let timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms)
        }
    })();
    export default {
        name: "ConversionReport",
        data(){
            return{
                reportList:[],
                advertisers:[],
                affiliates:[],
                loading:false,
                showConfig:{
                    advertiser:'',
                    affiliate:'',
                    filterRange:[],
                    // package_name:'',
                    offers:'',
                    page:1,
                    paginationPerPage:20,
                    filed:'date',
                    sort_type:'desc'
                },
                paginationTotal:0,
                pickerOptions: {
                    shortcuts: [{
                        text: 'Last week',
                        onClick(picker) {
                            let weekOfday = parseInt(moment().format('d')); // 计算今天是这周第几天  周日为一周中的第一天
                            const start = moment().subtract(weekOfday + 6, 'days').format('YYYY-MM-DD'); // 周一日期
                            const end = moment().subtract(weekOfday, 'days').format('YYYY-MM-DD');// 周日日期
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: 'Last month',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: 'Last three months',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                offers:[],
                isSearchingOffer:false
            }
        },
        methods:{
            handleFilter(){
                this.showConfig.page = 1;
                this.fetchReport();
            },
            sortChange(arg){
                this.showConfig.filed = arg.prop;
                if(arg.order === 'ascending'){
                    this.showConfig.sort_type = 'asc';
                }
                if(arg.order === 'descending'){
                    this.showConfig.sort_type = 'desc';
                }
                this.handleFilter();
            },
            handleSizeChange(val){
                this.showConfig.page = 1;
                this.showConfig.paginationPerPage = val;
                this.fetchReport();
            },
            handleCurrentChange(val){
                this.showConfig.page = val;
                this.fetchReport();
            },
            fetchReport(){
                this.loading = true;
                this.$api.get('/report/conversion',{
                    params:this.showConfig
                })
                    .then(res=>{
                        this.reportList = res.data.data;
                        this.showConfig.page = res.data.current_page;
                        this.paginationTotal = res.data.total;
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.loading = false;
                    })
            },
            remoteOfferMethod(query){
                delay(()=>{
                    this.searchOffers(query);
                },600);
            },
            searchOffers(keyword){
                this.isSearchingOffer = true;
                this.$api.get("/campaigns/s",{
                    params:{
                        search:keyword
                    }
                })
                    .then(res=>{
                        this.offers = res.data.data;
                    })
                    .finally(()=>{
                        this.isSearchingOffer = false;
                    })
            },
            handleExport(){
                let offers = '';
                if(this.showConfig.offers.length>0){
                    offers = this.showConfig.offers.join(',');
                }
                const url = '/report/exportConversion';
                const arg = `?advertiser=${this.showConfig.advertiser}&offers=${offers}
                &affiliate=${this.showConfig.affiliate}
                &filterRange[]=${this.showConfig.filterRange[0]}&filterRange[]=${this.showConfig.filterRange[1]}
                &filed=${this.showConfig.filed}
                &sort_type=${this.showConfig.sort_type}`;

                window.location.href = url+arg;
            },
            getOsId(row){
                if(row.idfa){
                    return row.idfa
                }
                if(row.gaid){
                    return row.gaid
                }
                return '---'
            }
        },
        mounted(){
            this.showConfig.filterRange=[moment().format("YYYY-MM-DD"),moment().format("YYYY-MM-DD")]
        },
        beforeMount() {
            this.$api.get("/advertisers/all")
                .then(res=>{
                    this.advertisers = res.data.data;
                })
                .catch(error=>{

                });
            this.$api.get('/affiliates/all')
                .then(res=>{
                    this.affiliates = res.data.data;
                })
                .catch(error=>{
                });
            this.fetchReport();
            this.searchOffers('');
        },
        filters:{
            thousandSeparator:function(input){
                return input && input.toString()
                    .replace(/(^|\s)\d+/g, (m) => m.replace(/(?=(?!\b)(\d{3})+$)/g, ','))
            }
        }
    }
</script>

<style scoped>
    .filter-row{
        display: flex;
        align-items: center;
        margin-left: -6px;
        margin-right: -6px;
    }
</style>
<style lang="scss">
    .filterForm{
        .el-form-item__label{
            margin-bottom: 0;
            font-size: 16px;
            font-weight: bold;
        }
        label{
            margin-bottom: 0;
        }
        .el-date-editor .el-range-separator{
            padding: 0;
        }
    }
    .filter-row .el-col{
        padding-left: 6px;
        padding-right: 6px;
    }

</style>