<template>
    <div class="panel panel-default">
        <div class="panel-heading d-flex justify-space-between align-center"
             style="background-color: #fff;">
            <el-form ref="filterForm" class="filterForm" style="width: 100%"
                     label-width="80px">
                <el-form-item label="Indicator">
                    <el-checkbox label="Sub-affiliate"
                                 :true-label="1"
                                 :false-label="0"
                                 v-model="showConfig.aff_pub"
                                 name="aff_pub"></el-checkbox>
                    <el-checkbox label="Daily"
                                 :true-label="1"
                                 :false-label="0"
                                 v-model="showConfig.show_daily"
                                 name="daily"></el-checkbox>
                    <el-checkbox label="Country"
                                 :true-label="1"
                                 :false-label="0"
                                 v-model="show_geo"
                                 name="country"></el-checkbox>
                </el-form-item>
                <el-form-item label="Filter">
                    <el-row class="filter-row" style="flex-wrap: wrap">
                        <el-col :span="6">
                            <el-select v-model="showConfig.advertiser" clearable filterable
                                       placeholder="Advertiser" style="display: block">
                                <el-option
                                        v-for="item in advertisers"
                                        :key="item.id"
                                        :label="item.name+'#'+item.id"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="6">
                            <el-select
                                    style="display: block;"
                                    v-model="showConfig.offers"
                                    multiple
                                    filterable
                                    remote
                                    reserve-keyword
                                    placeholder="Select offers"
                                    :remote-method="remoteOfferMethod"
                                    :loading="isSearchingOffer">
                                <el-option
                                        v-for="item in offers"
                                        :key="item.id"
                                        :label="item.name+'#'+item.id"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="6">
                            <el-input v-model="showConfig.package_name" placeholder="Package name"></el-input>
                        </el-col>
                        <el-col :span="6">
                            <el-select v-model="showConfig.affiliate" clearable filterable
                                       placeholder="Affiliate" style="display: block">
                                <el-option
                                        v-for="item in affiliates"
                                        :key="item.id"
                                        :label="item.name+'#'+item.id"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="6" class="mt-3">
                            <el-select
                                    style="display: block"
                                    :disabled="!show_geo"
                                    v-model="showConfig.geo"
                                    clearable filterable
                                    placeholder="Country">
                                <el-option
                                        v-for="item in countries"
                                        :key="item.code"
                                        :label="item.country"
                                        :value="item.code">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="6" class="mt-3">
                            <el-input :disabled="!showConfig.aff_pub" v-model="showConfig.search_aff_pub" placeholder="Sub-affiliate"></el-input>
                        </el-col>
                        <el-col :span="6" class="mt-3">
                            <el-input :disabled="!showConfig.aff_pub" v-model="showConfig.search_aff_key" placeholder="Sub-security"></el-input>
                        </el-col>
                    </el-row>
                </el-form-item>
                <el-form-item label="Range">
                    <el-date-picker
                            v-model="showConfig.filterRange"
                            type="daterange"
                            align="left"
                            format="yyyy-MM-dd"
                            value-format="yyyy-MM-dd"
                            unlink-panels
                            range-separator="to"
                            start-placeholder="Start date"
                            end-placeholder="End date"
                            :picker-options="pickerOptions">
                    </el-date-picker>
                </el-form-item>
                <el-form-item>
                    <el-button size="small" type="primary" @click="handleFilter">Generate Report</el-button>
                    <el-button size="small" type="primary"
                               :disabled="disabledBlock"
                               @click="handleBlock">Block</el-button>
                    <el-button size="small" type="primary"
                               @click="handleExport">Export Report</el-button>
                </el-form-item>
            </el-form>
        </div>

        <div class="">
            <el-table
                    :key="tableKey"
                    v-loading="loading"
                    class="offer-table"
                    ref="multipleTable"
                    :data="reportList"
                    tooltip-effect="dark"
                    style="width: 100%"
                    stripe
                    :default-sort = "{prop: 'revenue', order: 'descending'}"
                    @sort-change="sortChange"
                    @selection-change="handleSelectionChange">
                <el-table-column
                        fixed
                        type="selection"
                        width="55" v-if="show_aff_pub">
                </el-table-column>
                <el-table-column
                        label="Offer name"
                        fixed
                        width="140">
                    <template slot-scope="scope">
                        {{ scope.row.campaign.name }}#{{ scope.row.campaign.id }}
                    </template>
                </el-table-column>
                <el-table-column
                        prop="date"
                        label="Date"
                        :sortable="'custom'"
                        width="180" v-if="show_daily">
                </el-table-column>
                <el-table-column
                        label="Advertiser"
                        width="180"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <span v-if="scope.row.campaign.billing">
                            {{ scope.row.campaign.billing.name }}#{{ scope.row.campaign.billing.id }}
                        </span>
                        <span v-else>---</span>
                    </template>
                </el-table-column>
                <el-table-column
                        label="Affiliate"
                        width="180"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        {{ scope.row.affiliate.name }}#{{ scope.row.affiliate.id }}
                    </template>
                </el-table-column>
                <el-table-column
                        v-if="show_geo"
                        label="Country"
                        width="100"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        {{ scope.row.campaign.geo }}
                    </template>
                </el-table-column>
                <el-table-column
                        label="Sub-affiliate"
                        width="100"
                        show-overflow-tooltip v-if="show_aff_pub">
                    <template slot-scope="scope">
                        <span v-if="scope.row.aff_pub">{{ scope.row.aff_pub }}</span>
                        <span v-else>---</span>
                    </template>
                </el-table-column>
                <el-table-column
                        label="Sub-security"
                        width="100"
                        show-overflow-tooltip v-if="show_aff_pub">
                    <template slot-scope="scope">
                        <span v-if="scope.row.aff_key">{{ scope.row.aff_key }}</span>
                        <span v-else>---</span>
                    </template>
                </el-table-column>
                <el-table-column
                        label="Package Name"
                        width="180"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        {{ scope.row.campaign.package_name }}
                    </template>
                </el-table-column>
                <el-table-column
                        label="Clicks"
                        :sortable="'custom'"
                        prop="tracking"
                        width="104"
                        v-if="!show_aff_pub"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        {{ scope.row.tracking | thousandSeparator }}
                    </template>
                </el-table-column>
                <el-table-column
                        label="Postback"
                        width="104"
                        prop="postback"
                        :sortable="'custom'"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        {{ scope.row.postback | thousandSeparator }}
                    </template>
                </el-table-column>
                <el-table-column
                        label="Callback"
                        width="104"
                        prop="callback"
                        :sortable="'custom'"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        {{ scope.row.callback | thousandSeparator }}
                    </template>
                </el-table-column>
                <el-table-column
                        fixed="right"
                        label="Revenue"
                        width="110"
                        prop="revenue"
                        :sortable="'custom'"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        {{ scope.row.revenue | thousandSeparator }}
                    </template>
                </el-table-column>
                <el-table-column
                        prop="payment"
                        fixed="right"
                        label="Payment"
                        width="110"
                        :sortable="'custom'"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        {{ scope.row.payment | thousandSeparator }}
                    </template>
                </el-table-column>
                <el-table-column
                        label="CR"
                        width="80"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <span v-if="scope.row.tracking*1">
                            {{(scope.row.postback*1/(scope.row.tracking*1)*100).toFixed(3) +'%' }}
                        </span>
                        <span v-else>---</span>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <div class="mt-4 mb-4" style="padding-left:10px">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="showConfig.page"
                    :page-size="showConfig.paginationPerPage"
                    :total="paginationTotal"
                    layout="sizes,total, prev, pager, next, jumper"
            ></el-pagination>
        </div>



    </div>
</template>

<script>
    const delay = (function () {
        let timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms)
        }
    })();
    export default {
        name: "GeneralReport",
        computed:{
            disabledBlock(){
                if(this.multipleSelection.length>0){
                    return false
                }
                return true
            }
        },
        watch:{
            'showConfig.aff_pub':function (n_value,o_value) {
                this.showConfig.filed = 'revenue';
                this.showConfig.sort_type='desc';
                if(!n_value){
                    this.showConfig.search_aff_pub = '';
                    this.showConfig.search_aff_key = '';
                }
            },
            'showConfig.show_daily':function (n_value,o_value) {
                this.showConfig.filed = 'revenue';
                this.showConfig.sort_type='desc';
            }
        },
        data(){
            return{
                tableKey:'',
                reportList:[],
                multipleSelection: [],
                advertisers:[],
                affiliates:[],
                loading:false,
                countries:[],
                showConfig:{
                    aff_pub:0,
                    search_aff_pub:'',
                    search_aff_key:'',
                    show_daily:0,
                    advertiser:'',
                    affiliate:'',
                    filterRange:[],
                    package_name:'',
                    offers:[],
                    page:1,
                    paginationPerPage:20,
                    filed:'revenue',
                    sort_type:'desc',
                    geo:''
                },
                show_aff_pub:0,
                show_daily:0,
                show_geo:0,
                paginationTotal:0,
                pickerOptions: {
                    shortcuts: [{
                        text: 'Last week',
                        onClick(picker) {
                            let weekOfday = parseInt(moment().format('d')); // 计算今天是这周第几天  周日为一周中的第一天
                            const start = moment().subtract(weekOfday + 6, 'days').format('YYYY-MM-DD'); // 周一日期
                            const end = moment().subtract(weekOfday, 'days').format('YYYY-MM-DD');// 周日日期
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: 'Last month',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: 'Last three months',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                offers:[],
                isSearchingOffer:false
            }
        },
        methods:{
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            sortChange(arg){
                this.showConfig.filed = arg.prop;
                if(arg.order === 'ascending'){
                    this.showConfig.sort_type = 'asc';
                }
                if(arg.order === 'descending'){
                    this.showConfig.sort_type = 'desc';
                }
                this.handleFilter();
            },
            handleFilter(){
                this.showConfig.page = 1;
                this.fetchReport();
            },
            handleBlock(){
                this.$confirm('Are you sure to continue?', 'Notification', {
                    confirmButtonText: 'Confirm',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    let data = this.multipleSelection.map(item=>{
                        let obj={"status":1,"user_id":window.Someline.state.user.user_id};
                        obj['aff_pub'] = item.aff_pub;
                        obj['campaign'] = item.campaign.id;
                        obj['customer'] = item.customer;
                        return obj
                    });
                    this.$api.post("/blacks/add",{
                        data:data
                    })
                        .then(res=>{
                            this.$message({
                                type: 'success',
                                message: 'Successfully added to the blacklist!'
                            });
                            this.multipleSelection = [];
                            this.$refs.multipleTable.clearSelection();
                        })
                        .catch(error=>{
                            this.$notify({
                                title: 'Error',
                                message: error.message,
                                duration: 0
                            });
                        })

                })

            },
            handleExport(){
                let offers = '';
                if(this.showConfig.offers.length>0){
                    offers = this.showConfig.offers.join(',');
                }
                const url = '/report/export';
                const arg = `?advertiser=${this.showConfig.advertiser}&offers=${offers}
                &package_name=${this.showConfig.package_name}&affiliate=${this.showConfig.affiliate}
                &filterRange[]=${this.showConfig.filterRange[0]}&filterRange[]=${this.showConfig.filterRange[1]}&search_aff_pub=${this.showConfig.search_aff_pub}
                &search_aff_key=${this.showConfig.search_aff_key}&aff_pub=${this.showConfig.aff_pub}
                &show_daily=${this.showConfig.show_daily}&filed=${this.showConfig.filed}
                &sort_type=${this.showConfig.sort_type}&geo=${this.showConfig.geo}&show_geo=${this.show_geo}`;

                window.location.href = url+arg;
            },
            handleSizeChange(val){
                this.showConfig.page = 1;
                this.showConfig.paginationPerPage = val;
                this.fetchReport();
            },
            handleCurrentChange(val){
                this.showConfig.page = val;
                this.fetchReport();
            },
            fetchReport(){
                this.loading = true;
                this.$api.get('/report/general',{
                    params:this.showConfig
                })
                    .then(res=>{
                        this.reportList = res.data.data;
                        this.showConfig.page = res.data.current_page;
                        // this.paginationPerPage = res.data.per_page;
                        this.paginationTotal = res.data.total;

                        if(this.showConfig.aff_pub !== this.show_aff_pub){
                            this.show_aff_pub = this.showConfig.aff_pub;
                            this.tableKey = new Date().getTime();
                        }
                        if(this.showConfig.show_daily !== this.show_daily){
                            this.show_daily = this.showConfig.show_daily;
                        }
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.loading = false;
                    })
            },
            remoteOfferMethod(query){
                delay(()=>{
                   this.searchOffers(query);
                },600);
            },
            searchOffers(keyword){
                this.isSearchingOffer = true;
                this.$api.get("/campaigns/s",{
                    params:{
                        search:keyword
                    }
                })
                    .then(res=>{
                        this.offers = res.data.data;
                    })
                    .finally(()=>{
                        this.isSearchingOffer = false;
                    })
            }
        },
        beforeCreate(){
            this.$api.get("/countries/all")
                .then(res=>{
                    this.countries = res.data.data
                })
                .catch(error=>{

                });
        },
        mounted(){
            this.showConfig.filterRange=[moment().format("YYYY-MM-DD"),moment().format("YYYY-MM-DD")]
            this.tableKey = new Date().getTime();
        },
        beforeMount() {
            this.$api.get("/advertisers/all")
                .then(res=>{
                    this.advertisers = res.data.data;
                })
                .catch(error=>{

                });
            this.$api.get('/affiliates/all')
                .then(res=>{
                    this.affiliates = res.data.data;
                })
                .catch(error=>{
                });
            this.fetchReport();
            this.searchOffers('');
        },
        filters:{
            thousandSeparator:function(input){
                return input && input.toString()
                    .replace(/(^|\s)\d+/g, (m) => m.replace(/(?=(?!\b)(\d{3})+$)/g, ','))
            }
        }
    }
</script>

<style scoped>
    .filter-row{
        display: flex;
        align-items: center;
        margin-left: -6px;
        margin-right: -6px;
    }
</style>
<style lang="scss">
    .filterForm{
        .el-form-item__label{
            margin-bottom: 0;
            font-size: 16px;
            font-weight: bold;
        }
        label{
            margin-bottom: 0;
        }
        .el-date-editor .el-range-separator{
            padding: 0;
        }
    }
    .filter-row .el-col{
        padding-left: 6px;
        padding-right: 6px;
    }

</style>