<template>
    <div class="panel panel-default">
        <div class="panel-heading d-flex justify-space-between align-center">
            <div class="search d-flex align-center">
                <div>
                    <el-select
                            style="display: block;"
                            v-model="params.adv"
                            clearable
                            filterable
                            placeholder="Advertiser">
                        <el-option
                                v-for="item in advertisers"
                                :key="item.id"
                                :label="item.name+'#'+item.id"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </div>
                <div class="ml-2">
                    <el-select style="display: block"
                               v-model="params.aff"
                               clearable
                               filterable
                               placeholder="Affiliate">
                        <el-option v-for="item in affiliates"
                                   :label="item.name+'#'+item.id"
                                   :value="item.id"
                                   :key="item.id"></el-option>
                    </el-select>
                </div>
                <div class="ml-2">
                    <el-input v-model="params.jump"
                              type="number"
                              clearable
                              placeholder="Jump"></el-input>
                </div>
                <div class="ml-2">
                    <el-input v-model="params.package_name"
                              clearable
                              placeholder="Package name"></el-input>
                </div>
                <div  class="ml-3">
                    <el-button type="primary"
                               size="small"
                               @click="search">Search</el-button>
                </div>

            </div>
            <div class="d-flex align-center">
                <el-button style="margin-left: 8px"
                           type="danger"
                           size="small"
                           :disabled="canDelete" @click="handleDelete">Delete</el-button>
                <el-button style="margin-left: 8px"
                           type="primary"
                           size="small"
                           @click="handleAwakeDialog">Create</el-button>
            </div>
        </div>

        <div class="">
            <el-table
                    v-loading="loading"
                    class="offer-table"
                    ref="multipleTable"
                    :data="autos"
                    tooltip-effect="dark"
                    style="width: 100%"
                    stripe
                    @selection-change="handleSelectionChange">
                <el-table-column
                        type="selection"
                        width="55">
                </el-table-column>
                <el-table-column
                        prop="advertiser"
                        label="Advertiser"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        prop="customer"
                        label="Affiliate"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        prop="package_name"
                        label="Package Name"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        label="Jumps">
                    <template slot-scope="scope">
                        <span v-if="scope.row.jump">{{ scope.row.jump }}</span>
                        <span v-else>---</span>
                    </template>
                </el-table-column>
                <el-table-column
                        label="Daily" prop="daily">
                </el-table-column>
                <el-table-column
                        prop="group_name"
                        label="Group name">
                </el-table-column>
                <el-table-column
                        prop="created_at"
                        label="Created at"
                        show-overflow-tooltip>
                </el-table-column>

                <el-table-column width="160" label="Action">
                    <template slot-scope="scope">
                        <el-button size="mini"
                                   type="danger"
                                   @click="handleDeleteClick(scope.$index, scope.row)">Delete</el-button>
                        <el-button size="mini"
                                   plain
                                   type="primary"
                                   @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <div class="mt-4 mb-4" style="padding-left:10px">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="params.page"
                    :page-size="params.paginationPerPage"
                    :total="paginationTotal"
                    layout="sizes,total, prev, pager, next, jumper"
            ></el-pagination>
        </div>

        <el-dialog title="Select affiliates" :visible.sync="createVisible"
                   width="50%"
                   center>
            <div>
                <el-form class="create-form"
                         :label-position="'top'"
                         :model="createForm"
                         ref="createForm"
                         :rules="rules">
                    <el-form-item label="Advertisers" prop="selectedAdv">
                        <el-select style="display: block"
                                   v-model="createForm.selectedAdv"
                                   multiple
                                   filterable
                                   @change="handleAdvSelectChange"
                                   placeholder="Please select affiliate">
                            <div class="selected-all b-b mb-1">
                                <el-checkbox style="margin-bottom: 0"
                                             v-model="selectedAll"
                                             @change="handleSelectAllAdv">Select all</el-checkbox>
                            </div>
                            <el-option v-for="item in advertisers"
                                       :label="item.name+'#'+item.id"
                                       :value="item.id"
                                       :key="item.id"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="Affiliate's tag">
                        <el-select
                                v-model="selectedTag"
                                @change="handleSelectedTag"
                                clearable
                                style="display: block;"
                                placeholder="Select a tag">
                            <el-option
                                    v-for="item in tags"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="Affiliates" prop="selectedAffiliate">
                        <el-select style="display: block"
                                   v-model="createForm.selectedAffiliate"
                                   multiple
                                   filterable
                                   placeholder="Please select affiliate">
                            <el-option v-for="item in affiliates"
                                       :label="item.name+'#'+item.id"
                                       :value="item.id"
                                       :key="item.id"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="Package name" prop="package_name">
                        <el-input v-model="createForm.package_name" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="Jump data" prop="jump">
                        <el-input v-model="createForm.jump" type="number" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="Group name" prop="group_name">
                        <el-input v-model="createForm.group_name" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="Daily cap" prop="daily">
                        <el-input v-model="createForm.daily" type="number" autocomplete="off"></el-input>
                    </el-form-item>
                </el-form>
            </div>

            <div slot="footer" class="dialog-footer">
                <el-button @click="createVisible=false" size="small">Cancel</el-button>
                <el-button type="primary" @click="submitForm('createForm')" size="small"
                           :loading="is_creating">Confirm</el-button>
            </div>
        </el-dialog>

    </div>
</template>

<script>
    const delay = (function () {
        let timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms)
        }
    })();

    export default {
        name: "AutoIndex",
        props:{
            is_api:{
                type:Number,
                default:0
            }
        },
        computed:{
            canDelete(){
                if(this.multipleSelection.length>0){
                    return false;
                }
                return true;
            }
        },
        data(){
            return{
                autos: [],
                multipleSelection: [],
                loading:false,
                is_creating:false,
                params:{
                    page:1,
                    paginationPerPage:20,
                    adv:'',
                    aff:'',
                    jump:'',
                    package_name:''
                },
                createVisible:false,
                affiliates:[],
                initAffiliates:[],
                paginationTotal:10,
                advertisers:[],
                tags:[
                    {value:'',label:'All'},
                    {value:'network',label:'Network'},
                    {value:'emu',label:'EMU'},
                    {value:'ddj',label:'DDJ'}
                ],
                selectedTag:'',
                selectedAll:false,
                createForm:{
                    selectedAdv:[],
                    selectedAffiliate:[],
                    package_name:'',
                    jump:null,
                    group_name:'',
                    group_key:'',
                    daily:0
                },
                rules: {
                    selectedAdv: [
                        {required: true, message: 'Advertisers is required', trigger: 'change' }
                    ],
                    selectedAffiliate: [
                        {required: true, message: 'Affiliates is required', trigger: 'change' }
                    ],
                    jump: [
                        {required: true, message: 'Jump data is required', trigger: 'blur' }
                    ]
                },
            }
        },
        methods:{
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            handleDeleteClick(index, auto){
                this.multipleSelection = [];
                this.multipleSelection.push(auto);
                this.handleDelete();
            },
            handleEdit(index, auto){
                this.createForm={
                    selectedAdv:auto.advertiser.split(',').map(item=>{
                        return item*1;
                    }),
                    selectedAffiliate:auto.customer.split(',').map(item=>{
                        return item*1;
                    }),
                    package_name:auto.package_name,
                    jump:auto.jump,
                    group_name:auto.group_name,
                    group_key:auto.group_key,
                    daily:auto.daily
                };
                this.handleAwakeDialog();
            },
            handleDelete(){
                if(this.multipleSelection.length<=0) return false;

                let keys = this.multipleSelection.map(item=>{
                    return item.group_key;
                });

                this.$confirm('Are you sure to continue?', 'Notification', {
                    confirmButtonText: 'Confirm',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    this.$api.delete(`/auto/del`,{
                        params:{
                            keys:keys
                        }
                    })
                        .then(res=>{
                            this.$message({
                                message: 'Successfully deleted',
                                type: 'success'
                            });
                            this.multipleSelection = [];
                            this.$refs.multipleTable.clearSelection();
                            this.fetchAutos();
                        })
                        .catch(error=>{
                            this.$notify({
                                title: 'Error',
                                message: error.message,
                                duration: 0
                            });
                        })
                }).catch(() => {
                });

            },
            handleAwakeDialog(){
                this.createVisible = true;
            },
            handleCurrentChange(val){
                this.params.page = val;
                this.fetchAutos();
            },
            handleSizeChange(val){
                this.params.page = 1;
                this.params.paginationPerPage = val;
                this.fetchAutos();
            },
            handleSelectAllAdv(){
                if(this.selectedAll) {
                    this.createForm.selectedAdv = this.advertisers.map(item=>{
                        return item.id;
                    });
                    return false;
                }
                this.createForm.selectedAdv = [];
            },
            handleAdvSelectChange(val){
                if(val.length === this.advertisers.length){
                    this.selectedAll = true;
                    return false;
                }
                this.selectedAll = false;
            },
            search(){
                this.params.page = 1;
                this.fetchAutos();
            },
            fetchAutos(){
                this.loading = true;
                this.$api.get('/auto',{
                    params:this.params
                })
                    .then(res=>{
                        this.autos = res.data.data;
                        this.params.page = res.data.current_page;
                        this.paginationTotal = res.data.total;
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.loading = false;
                    })
            },
            handleSelectedTag(){
                if(this.selectedTag){
                    this.affiliates = this.initAffiliates.filter(item => {
                        return item.tag === this.selectedTag;
                    });
                }else{
                    this.affiliates = this.initAffiliates;
                }
            },
            createAuto(){
                this.is_creating = true;
                let data = [];
                this.createForm.selectedAdv.forEach(item=>{
                    this.createForm.selectedAffiliate.forEach(subItem=>{
                        let obj = {
                            "advertiser":item,
                            "customer":subItem,
                            "package_name":this.createForm.package_name,
                            "jump":this.createForm.jump,
                            "group_name":this.createForm.group_name,
                            "daily":this.createForm.daily
                        };
                        data.push(obj)
                    })
                });
                let params = {
                    "data":data,
                    "group_key":this.createForm.group_key,
                    "selected_adv":this.createForm.selectedAdv,
                    "selected_aff":this.createForm.selectedAffiliate
                };
                this.$api.post('/auto',params)
                    .then(res=>{
                        this.$message({
                            message: 'Created successfully',
                            type: 'success'
                        });
                        this.fetchAutos();
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.is_creating = false;
                        this.createForm = {
                            selectedAdv:[],
                            selectedAffiliate:[],
                            package_name:'',
                            jump:null,
                            group_name:'',
                            group_key:''
                        };
                        this.createVisible = false;
                    })
            },
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.createAuto()
                    } else {
                        return false;
                    }
                });
            }
        },
        beforeMount() {
            this.fetchAutos();
        },
        beforeCreate(){
            this.$api.get('/advertisers/all').then(res=>{
                this.advertisers = res.data.data;
            });
            this.$api.get('/affiliates/all')
                .then(res=>{
                    this.initAffiliates = res.data.data;
                    this.handleSelectedTag();
                })
                .catch(error=>{
                    this.$notify({
                        title: 'Error',
                        message: error.message,
                        duration: 0
                    });
                })
        },
        filters:{
            thousandSeparator:function(input){
                return input && input.toString()
                    .replace(/(^|\s)\d+/g, (m) => m.replace(/(?=(?!\b)(\d{3})+$)/g, ','))
            }
        }
    }
</script>

<style scoped>
    .selected-all{
        padding: 0 20px;
        height: 34px;
        line-height: 34px;
    }
</style>
<style lang="scss">
    .offer-table.el-table .el-table-column--selection.is-leaf .cell{
        padding-left: 14px;
    }
    .create-form{
        &.el-form--label-top .el-form-item__label{
            padding: 0;
            margin-bottom: 14px;
            font-size: 16px;
            font-weight: bold;
            line-height: 1;
        }
    }
</style>