<template>
    <div v-loading="is_loading">
        <div class="panel panel-default pa-5">
            <el-form :label-position="'top'" :model="advertiserForm" :rules="rules" ref="advertiserForm" label-width="100px" class="create-advertiser-form">
                <el-row>
                    <el-col :span="6">
                        <el-form-item label="Platform" prop="platform">
                            <el-select
                                    :disabled="canDisabled"
                                    v-model="advertiserForm.platform"
                                    clearable
                                    filterable
                                    style="display: block;"
                                    placeholder="Platform">
                                <el-option
                                        v-for="item in platforms"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="Name" prop="name">
                            <el-input v-model="advertiserForm.name" placeholder="Name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="Email" prop="email">
                            <el-input v-model="advertiserForm.email" placeholder="Email"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="Margin" prop="margin">
                            <el-input v-model="advertiserForm.margin" placeholder="Margin"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="6">
                        <el-form-item label="Discount(%)" prop="discount">
                            <el-input v-model="advertiserForm.discount" placeholder="Discount(%)"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="Manager" prop="user_id">
                            <el-select
                                    v-model="advertiserForm.user_id"
                                    clearable
                                    filterable
                                    style="display: block;"
                                    placeholder="Manager">
                                <el-option
                                        v-for="item in users"
                                        :key="item.user_id"
                                        :label="item.name"
                                        :value="item.user_id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="6">
                        <el-form-item label="Company Name" prop="company_name">
                            <el-input v-model="advertiserForm.company_name" placeholder="Company Name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="Contact Name" prop="contact_name">
                            <el-input v-model="advertiserForm.contact_name" placeholder="Contact Name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="IM" prop="im">
                            <el-input v-model="advertiserForm.im" placeholder="IM"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="Account info" prop="mark">
                            <el-input
                                    class="edit-form-textarea"
                                    type="textarea"
                                    :autosize="{ minRows: 2}"
                                    placeholder="Account info"
                                    v-model="advertiserForm.mark">
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="Address" prop="address">
                            <el-input
                                    class="edit-form-textarea"
                                    type="textarea"
                                    :autosize="{ minRows: 2}"
                                    placeholder="Address"
                                    v-model="advertiserForm.address">
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row v-if="!!postback">
                    <el-col :span="12">
                        <el-form-item label="Postback">
                            <el-input
                                    class="edit-form-textarea"
                                    type="textarea"
                                    :autosize="{ minRows: 2}"
                                    placeholder="Address"
                                    :value="postback">
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <div class="status-switch-group">
                    <el-form-item class="status-switch-item" label="Live" prop="live">
                        <el-switch v-model="advertiserForm.live"></el-switch>
                    </el-form-item>
                </div>

                <el-form-item>
                    <el-button type="primary" @click="submitForm('advertiserForm')">{{ submitBtnText }}</el-button>
                </el-form-item>
            </el-form>

        </div>
    </div>
</template>

<script>
    export default {
        name: "AdvertisersEdit",
        props:{
            id:{
                type:Number,
                default:null
            }
        },
        computed:{
            submitBtnText(){
                if(!!this.id){
                    return 'Update'
                }
                return 'Create'
            },
            canDisabled(){
                if(!!this.platform){
                    return true;
                }
                return false;
            },
            postback(){
                if(this.platform === 'selectad' || this.platform === 'fan') return 'http://selectad.appone.link/pb?clickid={clickid}&payout={payout}';

                if(this.platform === 'adbink')return 'http://adbink.appone.link/pb?clickid={clickid}&payout={payout}';

                return false;
            }
        },
        data(){
            let validateEmail = (rule, value, callback) => {
                let filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                if (filter.test(value)) {
                    callback();
                } else {
                    callback(new Error('Email is invalid'));
                }

            };
            return{
                is_loading:false,
                platform:'',
                advertiserForm: {
                    platform:'',
                    name: '',
                    email: '',
                    mark:'',
                    live:false,
                    company_name:'',
                    contact_name:'',
                    im:"",
                    margin:50,
                    discount:90,
                    user_id:'',
                    address:''
                },
                rules: {
                    name:[
                        { required: true, message: 'Company name is required', trigger: 'blur' }
                    ],
                    platform: [
                        { required: true, message: 'Platform name is required', trigger: 'change' }
                    ],
                    email: [
                        {required: true, message: 'Email is required', trigger: 'blur' },
                        {validator: validateEmail, trigger: 'change'}
                    ],
                    margin:[
                        {required: true, message: 'Margin is required', trigger: 'blur' },
                    ],
                    discount:[
                        {required: true, message: 'Discount is required', trigger: 'blur' },
                    ],
                    user_id:[
                        {required: true, message: 'Manager is required', trigger: 'change' }
                    ]
                },
                users:[],
                platforms:[
                    {label:'Selectad',value:'selectad'},
                    {label:'Adbink',value:'adbink'},
                    {label:'Fan',value:'fan'}
                ]
            }
        },
        methods:{
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.is_loading = true;
                        this.postData(this.advertiserForm);
                    } else {
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            postData(data){
                if(!!this.id){
                    this.$api.put(`/advertisers/${this.id}`,data)
                        .then(res=>{
                            this.$message({
                                message: 'Update content successfully',
                                type: 'success'
                            });
                            this.platform = this.advertiserForm.platform;
                        })
                        .catch(error=>{

                        })
                        .finally(()=>{
                            this.is_loading = false;
                        })
                }else{
                    this.$api.post(`/advertisers`,data)
                        .then(res=>{
                            this.$message({
                                message: 'Advertiser created successfully',
                                type: 'success'
                            });
                            this.platform = this.advertiserForm.platform;
                            setTimeout(()=>{
                                location.href= '/advertisers'
                            },2000);
                        })
                        .catch(error=>{

                        })
                        .finally(()=>{
                            this.is_loading = false;
                        })
                }

            }
        },
        mounted() {
            this.advertiserForm.user_id = window.Someline.state.user.user_id;
        },
        beforeMount() {
            if(!!this.id){
                this.is_loading = true;
                this.$api.get(`/advertisers/${this.id}`)
                    .then(res=>{
                        this.advertiserForm = {...res.data.data};
                        this.advertiserForm.live = !!this.advertiserForm.live;
                        this.platform = res.data.data.platform;
                    })
                    .catch(error=>{

                    })
                    .finally(()=>{
                        this.is_loading = false;
                    })
            }
        },
        beforeCreate() {
            this.$api.get('/users/all',)
                .then(res=>{
                    this.users = res.data.data;
                })
        }
    }
</script>

<style scoped lang="scss">
    .input-small-group{
        max-width: 200px!important;
    }
</style>
<style lang="scss">
    .create-advertiser-form{
        &.el-form--label-top .el-form-item__label{
            padding: 0;
            margin-bottom: 14px;
            font-size: 16px;
            font-weight: bold;
            line-height: 1;
        }
        .el-row{
            margin-left: -12px;
            margin-right: -12px;
            .el-col{
                padding: 0 12px;
            }
        }
        .edit-form-textarea textarea{
            resize: none;
        }

        &.el-form--label-top .status-switch-group{
            display: flex;
            align-items: center;
            .status-switch-item{
                display: flex;
                align-items: center;
                margin-left: 24px;
                &:first-child{
                    margin-left: 0;
                }
                .el-form-item__label{
                    margin-bottom: 0;
                    margin-right: 12px;
                }
            }
        }
    }
</style>

