<template>
    <div class="panel panel-default">
        <div class="panel-heading d-flex justify-space-between align-center">
            <div class="search d-flex align-center">
                <el-input v-model="params.search" placeholder="keywords"></el-input>
                <div  class="ml-3">
                    <el-button type="primary"
                               size="small"
                               @click="search">Search</el-button>
                </div>
                <el-button style="margin-left: 8px"
                           type="primary"
                           size="small"
                           :disabled="canUpdate"
                           @click="updatePubx(1)"
                           :loading="loadingOpenPubx">Open Pubx</el-button>
                <el-button style="margin-left: 8px"
                           type="danger"
                           size="small"
                           :disabled="canUpdate"
                           @click="updatePubx(0)" :loading="loadingClosePubx">Close Pubx</el-button>
            </div>
        </div>
        <div class="">
            <el-table
                    v-loading="loading"
                    class="advertiser-table"
                    ref="advertisersTable"
                    :data="advertiserList"
                    tooltip-effect="dark"
                    style="width: 100%"
                    @selection-change="handleSelectionChange"
                    stripe>
                <el-table-column
                        type="selection"
                        width="55">
                </el-table-column>
                <el-table-column
                        label="ID"
                        width="80">
                    <template slot-scope="scope">{{ scope.row.id }}</template>
                </el-table-column>
                <el-table-column
                        label="Name"
                        width="120"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <el-tooltip placement="top">
                            <div slot="content">
                                Margin:{{ scope.row.margin?scope.row.margin:'---' }}
                            </div>
                            <a :href="`/advertisers/${scope.row.id}/edit`" class="link">{{ scope.row.name }}</a>
                        </el-tooltip>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="company_name"
                        label="Company"
                        width="140"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        prop="email"
                        label="Email"
                        width="180"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        prop="contact_name"
                        label="Contact"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        prop="im"
                        label="IM"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        label="Live"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <el-tag effect="dark" type="success" size="mini" v-if="!!scope.row.live">Active</el-tag>
                        <el-tag effect="dark" type="danger" size="mini" v-else>closed</el-tag>
                    </template>
                </el-table-column>
                <el-table-column label="Action">
                    <template slot-scope="scope">
                        <el-button size="mini"
                                   type="primary"
                                   plain
                                   @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>


        <div class="mt-4 mb-4" style="padding-left:10px">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="params.page"
                    :page-size="params.paginationPerPage"
                    :total="paginationTotal"
                    layout="sizes,total, prev, pager, next, jumper"
            ></el-pagination>
        </div>

    </div>
</template>

<script>
    export default {
        name: "AdvertisersList",
        data(){
            return{
                advertiserList: [],
                loading:false,
                multipleSelection: [],
                params:{
                    page:1,
                    search:'',
                    paginationPerPage:20,
                },
                paginationTotal:10,
                loadingClosePubx:false,
                loadingOpenPubx:false
            }
        },
        computed:{
            canUpdate(){
                if (this.multipleSelection.length > 0){
                    return false;
                }
                return true;
            }
        },
        methods:{
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            handleEdit(index, offer){
                window.open(`/advertisers/${offer.id}/edit`,"_blank");
            },
            handleCurrentChange(val){
                this.params.page = val;
                this.fetchOffers();
            },
            handleSizeChange(val){
                this.params.page = 1;
                this.params.paginationPerPage = val;
                this.fetchOffers();
            },
            search(){
                this.params.page = 1;
                this.fetchOffers();
            },
            fetchOffers(){
                this.loading = true;
                this.$api.get('/advertisers',{
                    params:this.params
                })
                    .then(res=>{
                        this.advertiserList = res.data.data;
                        this.params.page = res.data.meta.pagination.current_page;
                        this.paginationTotal = res.data.meta.pagination.total;
                    })
                    .catch(error=>{
                        console.log(error);
                    })
                    .finally(()=>{
                        this.loading = false;
                    })
            },
            updatePubx(status){
                if(this.loadingPubx) return false;

                if(!!status){
                    this.loadingOpenPubx = true;
                }else{
                    this.loadingClosePubx = true;
                }


                this.$api.put('/relations/update_pubx',{
                    'pubx': status,
                    'advertisers':this.multipleSelection.map(item=>{
                        return item.id
                    })
                }).then(res=>{
                    this.$message({
                        message: 'Successfully',
                        type: 'success'
                    });
                }).catch(error=>{
                    this.$notify({
                        title: 'Error',
                        message: error.message,
                        duration: 0
                    });
                }).finally(()=>{
                    this.loadingPubx = false;
                })
            }
        },
        beforeMount() {
            this.fetchOffers();
        }
    }
</script>

<style scoped>

</style>
<style>
    .advertiser-table.el-table .el-table-column--selection.is-leaf .cell{
        padding-left: 14px;
    }
    .el-tag{
        display: inline-flex!important;
        align-items: center;
    }
</style>
