<template>
    <div class="panel panel-default">
        <div class="panel-heading d-flex justify-space-between align-center">
            <div class="search d-flex align-center justify-space-between" style="width: 100%">
                <div>
                    <el-date-picker
                            v-model="filter.month"
                            type="month"
                            format="yyyy-MM"
                            value-format="yyyy-MM"
                            placeholder="Select month"
                            @change="fetchData">
                    </el-date-picker>
                </div>
            </div>
        </div>

        <div class="">
            <el-table
                    v-loading="loading"
                    class="offer-table"
                    ref="multipleTable"
                    :data="outlays"
                    tooltip-effect="dark"
                    style="width: 100%"
                    stripe>
                <el-table-column
                        prop="month"
                        min-width="100"
                        label="Month">
                </el-table-column>

                <el-table-column
                        min-width="120"
                        label="Total Revenue">
                    <template slot-scope="scope">
                        {{ scope.row.final_revenue | thousandSeparator}}
                    </template>
                </el-table-column>
                <el-table-column
                        min-width="120"
                        label="Pay Revenue">
                    <template slot-scope="scope">
                        {{ scope.row.pay_revenue | thousandSeparator }}
                    </template>
                </el-table-column>
                <el-table-column
                        min-width="120"
                        label="Total Amount">
                    <template slot-scope="scope">
                        {{  scope.row.final_amount | thousandSeparator}}
                    </template>
                </el-table-column>
                <el-table-column
                        min-width="120"
                        label="Pay mount">
                    <template slot-scope="scope">
                        {{  scope.row.pay_amount | thousandSeparator}}
                    </template>
                </el-table-column>
                <el-table-column
                        min-width="120"
                        label="Other Cost">
                    <template slot-scope="scope">
                        {{  scope.row.other_amount | thousandSeparator}}
                    </template>
                </el-table-column>
                <el-table-column
                        min-width="120"
                        label="Profit">
                    <template slot-scope="scope">
                        {{ (scope.row.pay_revenue - scope.row.pay_amount - scope.row.other_amount) | thousandSeparator}}
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <div class="mt-4 mb-4" style="padding-left:10px">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="filter.page"
                    :page-size="filter.paginationPerPage"
                    :total="paginationTotal"
                    layout="sizes,total, prev, pager, next, jumper"
            ></el-pagination>
        </div>
    </div>
</template>

<script>
    export default {
        name: "financeList",
        created(){
            // this.filter.month = moment(new Date()).format('YYYY-MM');
            this.fetchData()
        },
        mounted(){

        },
        data(){
            return{
                loading:false,
                outlays:[],
                filter:{
                    page:1,
                    paginationPerPage:12,
                    month:''
                },
                formLabelWidth: '120px',
                paginationTotal:0
            }
        },
        filters:{
            thousandSeparator:function(input){
                return input && input.toString()
                    .replace(/(^|\s)\d+/g, (m) => m.replace(/(?=(?!\b)(\d{3})+$)/g, ','))
            }
        },
        methods:{
            handleSizeChange(val){
                this.filter.page = 1;
                this.filter.paginationPerPage = val;
                this.fetchData();
            },
            handleCurrentChange(val){
                this.filter.page = val;
                this.fetchData();
            },
            fetchData(){
                this.loading = true;
                this.$api.get('/invoice/finance',{
                    params:this.filter
                })
                    .then(res=>{
                        this.outlays = res.data.data;
                        this.filter.page = res.data.current_page;
                        this.paginationTotal = res.data.total;
                    })
                    .catch(error=>{

                    })
                    .finally(()=>{
                        this.loading = false
                    })
            }
        }
    }
</script>

<style scoped>

</style>