<template>
    <div class="panel panel-default">
        <div class="panel-heading d-flex justify-space-between align-center">
            <div class="search d-flex align-center">
                <div>
                    <el-date-picker
                            v-model="params.filter_month"
                            type="month"
                            format="yyyy-MM"
                            value-format="yyyy-MM"
                            placeholder="Select month"
                            @change="fetchBillings">
                    </el-date-picker>
                </div>
                <div class="ml-2">
                    <el-select
                            style="display: block;"
                            v-model="params.advertiser"
                            clearable
                            filterable
                            remote
                            reserve-keyword
                            placeholder="Advertiser"
                            :remote-method="remoteMethodAdvertiser"
                            :loading="fetchAdvLoading"
                            @change="fetchBillings">
                        <el-option
                                v-for="item in advertisers"
                                :key="item.id"
                                :label="item.name+'#'+item.id"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </div>

            </div>
        </div>

        <div class="">
            <el-table
                    v-loading="loading"
                    class="offer-table"
                    ref="multipleTable"
                    :data="billings"
                    tooltip-effect="dark"
                    style="width: 100%"
                    :height="tableHeight"
                    stripe>
                <el-table-column
                        width="80"
                        label="Month">
                    <template slot-scope="scope">{{ scope.row.date }}</template>
                </el-table-column>
                <el-table-column
                        width="165"
                        label="Advertiser">
                    <template slot-scope="scope">
                        <a :href="`/billing/advertiser/${scope.row.id}?month=${scope.row.date}`" class="link">{{ scope.row.name }}#{{ scope.row.id }}</a>
                    </template>
                </el-table-column>
                <el-table-column
                        width="100"
                        label="Conversion">
                    <template slot-scope="scope">
                        {{  scope.row.postback | thousandSeparator }}
                    </template>
                </el-table-column>
                <el-table-column
                        width="100"
                        label="Revenue">
                    <template slot-scope="scope">
                        {{  scope.row.revenue | thousandSeparator }}
                    </template>
                </el-table-column>
                <el-table-column
                        width="100"
                        label="Deduct">
                    <template slot-scope="scope">
                        {{  scope.row.deduct | thousandSeparator }}
                    </template>
                </el-table-column>
                <el-table-column
                        width="100"
                        label="Deduct rate">
                    <template slot-scope="scope">
                        <span v-if="scope.row.revenue>0">
                            {{ (scope.row.deduct/scope.row.revenue * 100).toFixed(3) }}%
                        </span>
                        <span v-else>0.000%</span>
                    </template>
                </el-table-column>
                <el-table-column
                        width="120"
                        label="Final Revenue">
                    <template slot-scope="scope">
                        {{ (scope.row.revenue - scope.row.deduct).toFixed(3) | thousandSeparator }}
                    </template>
                </el-table-column>
                <el-table-column
                        width="120"
                        label="Final Amount">
                    <template slot-scope="scope">
                        {{ (scope.row.payment - scope.row.pub_reduce).toFixed(3) | thousandSeparator }}
                    </template>
                </el-table-column>
                <el-table-column
                        fixed="right"
                        width="120"
                        label="Profit">
                    <template slot-scope="scope">
                        {{ profit(scope.row) | thousandSeparator }}
                    </template>
                </el-table-column>

                <el-table-column
                        fixed="right"
                        width="120"
                        label="Profit Rate">
                    <template slot-scope="scope">
                        {{ profitRate(scope.row) }}%
                    </template>
                </el-table-column>


                <el-table-column
                        fixed="right"
                        width="100"
                        label="Status">
                    <template slot-scope="scope">
                        <el-tag effect="dark" type="success" size="mini" v-if="!!scope.row.status">Confirmed</el-tag>
                        <el-tag effect="dark" type="danger" size="mini" v-else>Pending</el-tag>
                    </template>
                </el-table-column>
                <el-table-column fixed="right"
                                 label="Action">
                    <template slot-scope="scope">
                        <el-button size="mini"
                                   type="primary"
                                   plain
                                   @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <div class="mt-4 mb-4" style="padding-left:10px">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="params.page"
                    :page-size="params.paginationPerPage"
                    :total="paginationTotal"
                    layout="sizes,total, prev, pager, next, jumper"
            ></el-pagination>
        </div>



    </div>
</template>

<script>
    const delay = (function () {
        let timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms)
        }
    })();

    export default {
        name: "AdvertiserList",
        computed:{
            profit(billing){
                return function (billing) {
                    return (billing.revenue - billing.deduct - (billing.payment - billing.pub_reduce)).toFixed(3);
                }
            },
            profitRate(billing){
                return (billing) =>{
                    return (this.profit(billing)/(billing.revenue - billing.deduct)*100).toFixed(3);
                }
            }
        },
        data(){
            return{
                billings: [],
                loading:false,
                fetchAdvLoading:false,
                params:{
                    page:1,
                    paginationPerPage:20,
                    advertiser:'',
                    filter_month:''
                },
                paginationTotal:10,
                advertisers:[],
                tableHeight:300
            }
        },
        methods:{
            handleEdit(index, adv){
                window.open(`/billing/advertiser/${adv.id}?month=${adv.date}`,"_blank");
            },
            handleCurrentChange(val){
                this.params.page = val;
                this.fetchBillings();
            },
            handleSizeChange(val){
                this.params.page = 1;
                this.params.paginationPerPage = val;
                this.fetchBillings();
            },
            remoteMethodAdvertiser(query){
                if(query !== ''){
                    this.fetchAdvLoading = true;
                    delay(()=>{
                        this.$api.get('/advertisers',{
                            params:{
                                search:`name:${query}`
                            }
                        }).then(res=>{
                            this.advertisers = res.data.data;
                        }).finally(()=>{
                            this.fetchAdvLoading = false;
                        })
                    },600);
                }
            },
            fetchBillings(){
                this.loading = true;
                this.$api.get('/billing',{
                    params:this.params
                })
                    .then(res=>{
                        this.billings = res.data.data;
                        this.params.page = res.data.current_page;
                        this.paginationTotal = res.data.total;
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.loading = false;
                        this.$nextTick(() => {
                            this.calHeight(this.billings,this.$refs.multipleTable.$el);
                        })

                    })
            },
            onResize(){
                delay(()=>{
                    this.$nextTick(() => {
                        this.calHeight(this.billings,this.$refs.multipleTable.$el);
                    })
                },200);
            }
        },
        beforeMount() {
            this.fetchBillings();
            this.params.filter_month = moment(new Date()).subtract(1,'months').format('YYYY-MM')
        },
        beforeCreate(){
            this.$api.get('/advertisers').then(res=>{
                this.advertisers = res.data.data;
            })
        },
        mounted(){
            window.addEventListener('resize', this.onResize)
        },
        filters:{
            thousandSeparator:function(input){
                return input && input.toString()
                    .replace(/(^|\s)\d+/g, (m) => m.replace(/(?=(?!\b)(\d{3})+$)/g, ','))
            }
        }
    }
</script>

<style scoped>

</style>
<style>
    .offer-table.el-table .el-table-column--selection.is-leaf .cell{
        padding-left: 14px;
    }
</style>