<template>
    <div class="panel panel-default">
        <div class="panel-heading d-flex justify-space-between align-center">
            <div class="d-flex align-center">
                <div>
                    <el-input v-model="params.offerName"
                              clearable
                              placeholder="Offer Name"></el-input>
                </div>
                <div class="ml-2">
                    <el-select
                            style="display: block;"
                            v-model="params.affiliate"
                            clearable
                            filterable
                            remote
                            reserve-keyword
                            placeholder="Affiliate"
                            :remote-method="remoteMethodAffiliate"
                            :loading="fetchAffLoading"
                            @change="search">
                        <el-option
                                v-for="item in affiliates"
                                :key="item.id"
                                :label="item.name+'#'+item.id"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </div>
                <div  class="ml-2">
                    <el-button type="primary"
                               size="small"
                               @click="search">Search</el-button>
                </div>
                <div class="ml-2">
                    <el-button type="primary" size="small"
                               :disabled="disabledSet" @click="showSetting = true">Settings</el-button>
                </div>

            </div>
        </div>
        <div class="">
            <el-table
                    v-loading="loading"
                    class="offer-table"
                    ref="multipleTable"
                    :data="offers"
                    tooltip-effect="dark"
                    style="width: 100%"
                    :height="tableHeight"
                    stripe
                    @selection-change="handleSelectionChange">
                <el-table-column
                        fixed
                        type="selection"
                        width="50">
                </el-table-column>
                <el-table-column
                        fixed
                        width="165"
                        label="Offer">
                    <template slot-scope="scope">
                        <a :href="`/offers/${scope.row.campaign.id}`" class="link">
                            {{ scope.row.campaign.name }}#{{ scope.row.campaign.id }}
                        </a>
                    </template>
                </el-table-column>
                <el-table-column
                        fixed
                        width="165"
                        label="Affiliate">
                    <template slot-scope="scope">
                        <a :href="`/affiliates/${scope.row.affiliate.id}`" class="link">
                            {{ scope.row.affiliate.name }}#{{ scope.row.affiliate.id }}
                        </a>
                    </template>
                </el-table-column>
                <el-table-column
                        width="80"
                        label="Month">
                    {{ month }}
                </el-table-column>
                <el-table-column
                        width="100"
                        label="Conversion">
                    <template slot-scope="scope">
                        {{  scope.row.postback | thousandSeparator }}
                    </template>
                </el-table-column>
                <el-table-column
                        width="100"
                        label="Revenue">
                    <template slot-scope="scope">
                        {{  scope.row.revenue | thousandSeparator }}
                    </template>
                </el-table-column>
                <el-table-column
                        width="100"
                        label="Callback">
                    <template slot-scope="scope">
                        {{  scope.row.callback | thousandSeparator }}
                    </template>
                </el-table-column>
                <el-table-column
                        width="100"
                        label="Amount">
                    <template slot-scope="scope">
                        {{  scope.row.payment | thousandSeparator }}
                    </template>
                </el-table-column>

                <el-table-column
                        width="100"
                        label="Deduct">
                    <template slot-scope="scope">
                        {{  scope.row.deduct | thousandSeparator }}
                    </template>
                </el-table-column>
                <el-table-column
                        width="100"
                        label="Deduct rate">
                    <template slot-scope="scope">
                        <span v-if="scope.row.revenue>0">
                            {{ (scope.row.deduct/scope.row.revenue * 100).toFixed(3) }}%
                        </span>
                        <span v-else>0.000%</span>
                    </template>
                </el-table-column>

                <el-table-column
                        width="120"
                        label="Final Revenue">
                    <template slot-scope="scope">
                        {{ (scope.row.revenue - scope.row.deduct).toFixed(3) | thousandSeparator }}
                    </template>
                </el-table-column>

                <el-table-column
                        width="120"
                        label="Final Amount">
                    <template slot-scope="scope">
                        {{ (scope.row.payment - scope.row.deduct/scope.row.revenue * scope.row.payment + scope.row.cover_amount*1).toFixed(3) | thousandSeparator }}
                    </template>
                </el-table-column>

                <el-table-column
                        fixed="right"
                        width="120"
                        label="Profit">
                    <template slot-scope="scope">
                        {{ profit(scope.row) | thousandSeparator }}
                    </template>
                </el-table-column>

                <el-table-column
                        fixed="right"
                        width="120"
                        label="Profit Rate">
                    <template slot-scope="scope">
                        {{ profitRate(scope.row) }}%
                    </template>
                </el-table-column>
                <el-table-column
                        fixed="right"
                        width="120"
                        label="Cover Amount">
                    <template slot-scope="scope">
                        {{ scope.row.cover_amount | thousandSeparator }}
                    </template>
                </el-table-column>

                <el-table-column
                        fixed="right"
                        width="100"
                        label="Status">
                    <template slot-scope="scope">
                        <el-tag effect="dark" type="success" size="mini" v-if="!!scope.row.status">Confirmed</el-tag>
                        <el-tag effect="dark" type="danger" size="mini" v-else>Pending</el-tag>
                    </template>
                </el-table-column>
                <el-table-column
                        fixed="right"
                        width="110"
                        label="Action">
                    <template slot-scope="scope">
                        <el-button size="mini"
                                   type="primary"
                                   plain
                                   @click="handleSetting(scope.$index, scope.row)">Setting</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <div class="mt-4 mb-4" style="padding-left:10px">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="params.page"
                    :page-size="params.paginationPerPage"
                    :total="paginationTotal"
                    layout="sizes,total, prev, pager, next, jumper"
            ></el-pagination>
        </div>

        <el-dialog title="Set deduct" :visible.sync="showSetting"
                   width="40%"
                   center>
            <div>
                <div>
                    <label style="font-size: 16px;font-weight: bold">Deduct</label>
                    <el-input v-model="setDedcut" type="number" autocomplete="off"></el-input>
                </div>
                <div class="mt-2">
                    <label style="font-size: 16px;font-weight: bold">Deduct rate</label>
                    <el-input v-model="setDedcutRate" type="number" autocomplete="off"></el-input>
                </div>
                <div class="mt-2">
                    <label style="font-size: 16px;font-weight: bold">Cover Amount</label>
                    <el-input v-model="coverAmount" type="number" autocomplete="off"></el-input>
                </div>
                <div class="mt-2">
                    <label style="font-size: 16px;font-weight: bold">Deduct report</label>
                    <el-upload
                            class="upload-dedcut"
                            drag
                            :multiple="false"
                            :limit="1"
                            :headers="headers"
                            :data="uploadDeductData"
                            :file-list="fileList"
                            :before-upload = "beforeUploadFile"
                            :on-success="handleUploadSuccess"
                            :on-error="handleUploadError"
                            action="/api/u/deduct">
                        <i class="el-icon-upload"></i>
                        <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                        <div class="el-upload__tip" slot="tip">只能上传jpg/png/xls/xlsx文件</div>
                    </el-upload>
                </div>
            </div>

            <div slot="footer" class="dialog-footer">
                <el-button @click="showSetting=false" size="small">Cancel</el-button>
                <el-button type="primary" @click="updateDedcut" size="small"
                           :loading="is_updating">Confirm</el-button>
            </div>
        </el-dialog>

    </div>
</template>

<script>
    const delay = (function () {
        let timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms)
        }
    })();
    export default {
        name: "AdvertiserShow",
        props:{
          id:{
              type:Number,
              require:true
          },
          month:{
              type:String,
              require: true
          }
        },
        computed:{
            disabledSet(){
                if(this.multipleSelection.length>0){
                    return false;
                }
                return true
            },
            profit(billing){
                return function (billing) {
                    return (billing.revenue - billing.deduct - (billing.payment - billing.deduct/billing.revenue * billing.payment)).toFixed(3);
                }
            },
            profitRate(billing){
                return (billing) =>{
                    return (this.profit(billing)/(billing.revenue - billing.deduct)*100).toFixed(3);
                }
            }
        },
        data(){
            return{
                multipleSelection: [],
                offers: [],
                loading:false,
                is_updating:false,
                fetchAffLoading:false,
                params:{
                    page:1,
                    paginationPerPage:20,
                    offerName:'',
                    affiliate:''
                },
                paginationTotal:10,
                showSetting:false,
                setDedcut:null,
                setDedcutRate:0,
                coverAmount:0,
                affiliates:[],
                tableHeight:300,
                fileList:[],
                headers:{
                    'X-CSRF-TOKEN':window.Laravel.csrfToken
                },
                uploadFile:'',
                uploadDeductData:{}
            }
        },
        methods:{
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            handleSetting(index, offer){
                this.showSetting = true;
                this.multipleSelection = [];
                this.multipleSelection.push(offer);
                this.uploadDeductData = {
                    "date":offer.date,
                    "customer":offer.customer,
                    "campaign":offer.campaign.id
                }
            },
            handleCurrentChange(val){
                this.params.page = val;
                this.fetchOffers();
            },
            handleSizeChange(val){
                this.params.page = 1;
                this.params.paginationPerPage = val;
                this.fetchOffers();
            },
            remoteMethodAffiliate(query){
                if(query !== ''){
                    this.fetchAffLoading = true;
                    delay(()=>{
                        this.$api.get('/affiliates',{
                            params:{
                                search:`name:${query}`
                            }
                        }).then(res=>{
                            this.affiliates = res.data.data;
                        }).finally(()=>{
                            this.fetchAffLoading = false;
                        })
                    },600);
                }
            },
            search(){
                this.params.page = 1;
                this.fetchOffers();
            },
            fetchOffers(){
                this.params['month'] = this.month;
                this.loading = true;
                this.$api.get(`/billing/${this.id}`,{
                    params:this.params
                })
                    .then(res=>{
                        this.offers = res.data.data;
                        this.params.page = res.data.current_page;
                        this.paginationTotal = res.data.total;
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.loading = false;
                        this.$nextTick(() => {
                            this.calHeight(this.offers,this.$refs.multipleTable.$el);
                        })
                    })
            },
            updateDedcut(){
                if(this.setDedcut>=0 || this.setDedcutRate>=0){
                    this.is_updating = true;
                    let data = this.multipleSelection.map(item=>{
                        return {
                            'id':item.id,
                            "deduct":this.setDedcut?this.setDedcut:item.revenue * this.setDedcutRate,
                            "pub_reduce":this.setDedcut?(this.setDedcut/item.revenue*item.payment).toFixed(3):this.setDedcutRate * item.payment,
                            "cover_amount":this.coverAmount
                        }
                    });
                    let aff_ids = this.multipleSelection.map(item=>{
                        return item.customer
                    });
                    let deductFile = '';
                    if(this.multipleSelection.length === 1){ // 只有单条数据的时候才准许上传核减报告
                        deductFile = {
                            "date":this.multipleSelection[0].date,
                            "customer":this.multipleSelection[0].customer,
                            "campaign":this.multipleSelection[0].campaign.id,
                            "file_link":this.uploadFile
                        }
                    }

                    this.$api.put('/billing/dedcut',{
                        "data":data,
                        "status":1,
                        "month":this.params.month,
                        'adv_id':this.id,
                        'aff_ids':[...new Set(aff_ids)],
                        'deductFile':deductFile
                    })
                        .then(res=>{
                            this.$message({
                                message: 'Set successfully',
                                type: 'success'
                            });
                            this.fileList = [];
                            this.uploadFile = '';
                            this.fetchOffers();
                        })
                        .catch(error=>{
                            this.$notify({
                                title: 'Error',
                                message: error.message,
                                duration: 0
                            });
                        })
                        .finally(()=>{
                            this.is_updating = false;
                            this.showSetting = false;
                            this.multipleSelection = [];
                            this.$refs.multipleTable.clearSelection();
                            this.setDedcut = null;
                            this.setDedcutRate = 0;
                        })
                }

            },
            onResize(){
                delay(()=>{
                    this.$nextTick(() => {
                        this.calHeight(this.offers,this.$refs.multipleTable.$el);
                    })
                },200);
            },
            beforeUploadFile(file){
                if (this.multipleSelection.length>1){
                    this.$message.error('上传核减报告只能针对单条记录！');
                    return false;
                }
                const isJPG = file.type === 'image/jpeg';
                const isPNG = file.type === 'image/png';
                const isPG = (isJPG || isPNG); //限制图片格式为jpg / png
                const fileFormat=file.name.substring(file.name.lastIndexOf('.')+1);
                const xlsExtension = (fileFormat === 'xls' || fileFormat === 'xlsx');
                // const isLt2M = file.size / 1024 / 1024 < 2; //限制图片大小
                // const isSize = new Promise(function(resolve,reject) {
                //     let width = 600
                //     let height = 400
                //     let _URL = window.URL || window.webkitURL;
                //     let img = new Image();
                //     img.onload = function() {
                //         let valid = img.width >= width && img.height >= height
                //         valid ? resolve() : reject();
                //     };
                //     img.src = _URL.createObjectURL(file)
                // }).then(() => {
                //     return file;
                // },()=>{
                //     this.$message.error('上传图片像素要大于600*400!');
                //     return promise.reject();
                // })
                if (!isPG && !xlsExtension) {
                    this.$message.error('上传的文件只能是JPG/PNG/xls/xlsx 格式!');
                }
                // if (!isLt2M) {
                //     this.$message.error('上传头像图片大小不能超过 2MB!');
                // }
                // return isPG && isLt2M && isSize
                return isPG || xlsExtension;
            },
            handleUploadSuccess(response, file, fileList){
                this.fileList = [file];
                this.uploadFile = response.data.src;
            },
            handleUploadError(err, file, fileList){
                this.fileList = [];
                this.$message.error(err.message);
            }
        },
        beforeMount() {
            this.fetchOffers();
        },
        beforeCreate(){

        },
        mounted(){
            window.addEventListener('resize', this.onResize)
        },
        filters:{
            thousandSeparator:function(input){
                return input && input.toString()
                    .replace(/(^|\s)\d+/g, (m) => m.replace(/(?=(?!\b)(\d{3})+$)/g, ','))
            }
        }
    }
</script>

<style scoped>

</style>
<style>
    .offer-table.el-table .el-table-column--selection.is-leaf .cell{
        padding-left: 14px;
    }
</style>