<template>
    <div class="panel panel-default">
        <div class="panel-heading d-flex justify-space-between align-center">
            <div class="d-flex align-center">
                <div>
                    <el-input v-model="params.offerName"
                              clearable
                              placeholder="Offer Name"></el-input>
                </div>
                <div class="ml-2">
                    <el-select
                            style="display: block;"
                            v-model="params.advertiser"
                            clearable
                            filterable
                            remote
                            reserve-keyword
                            placeholder="Advertiser"
                            :remote-method="remoteMethodAdvertiser"
                            :loading="fetchAdvLoading"
                            @change="search">
                        <el-option
                                v-for="item in advertisers"
                                :key="item.id"
                                :label="item.name+'#'+item.id"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </div>
                <div  class="ml-2">
                    <el-button type="primary"
                               size="small"
                               @click="search">Search</el-button>
                </div>
                <div class="ml-2">
                    <el-button type="primary" size="small"
                               :disabled="disabledSet" @click="showSetting = true">Settings</el-button>
                </div>

            </div>
        </div>
        <div class="">
            <el-table
                    v-loading="loading"
                    class="offer-table"
                    ref="multipleTable"
                    :data="offers"
                    tooltip-effect="dark"
                    style="width: 100%"
                    :height="tableHeight"
                    stripe
                    @selection-change="handleSelectionChange">
                <el-table-column
                        fixed
                        type="selection"
                        width="50">
                </el-table-column>
                <el-table-column
                        fixed
                        width="165"
                        label="Offer">
                    <template slot-scope="scope">
                        <a :href="`/offers/${scope.row.campaign.id}`" class="link">
                            {{ scope.row.campaign.name }}#{{ scope.row.campaign.id }}
                        </a>
                    </template>
                </el-table-column>
                <el-table-column
                        fixed
                        width="165"
                        label="Advertise">
                    <template slot-scope="scope">
                        <a v-if="!!scope.row.campaign.billing" :href="`/advertisers/${scope.row.campaign.billing.id}`" class="link">
                            {{ scope.row.campaign.billing.name }}#{{ scope.row.campaign.billing.id }}
                        </a>
                        <span v-else>---</span>
                    </template>
                </el-table-column>
                <el-table-column
                        width="80"
                        label="Month">
                    {{ month }}
                </el-table-column>
                <el-table-column
                        width="100"
                        label="Callback">
                    <template slot-scope="scope">
                        {{  scope.row.callback | thousandSeparator }}
                    </template>
                </el-table-column>
                <el-table-column
                        width="100"
                        label="Revenue">
                    <template slot-scope="scope">
                        {{  scope.row.revenue | thousandSeparator }}
                    </template>
                </el-table-column>
                <el-table-column
                        width="100"
                        label="Amount">
                    <template slot-scope="scope">
                        {{  scope.row.payment | thousandSeparator }}
                    </template>
                </el-table-column>

                <el-table-column
                        width="100"
                        label="Deduct">
                    <template slot-scope="scope">
                        {{  scope.row.pub_reduce | thousandSeparator }}
                    </template>
                </el-table-column>
                <el-table-column
                        width="100"
                        label="Deduct rate">
                    <template slot-scope="scope">
                        <span v-if="scope.row.revenue>0">
                            {{ (scope.row.pub_reduce/scope.row.payment * 100).toFixed(3) }}%
                        </span>
                        <span v-else>0.000%</span>
                    </template>
                </el-table-column>

                <el-table-column
                        width="120"
                        label="Final Revenue">
                    <template slot-scope="scope">
                        {{ (scope.row.revenue - scope.row.deduct).toFixed(3) | thousandSeparator }}
                    </template>
                </el-table-column>

                <el-table-column
                        width="120"
                        label="Final Amount">
                    <template slot-scope="scope">
                        {{ (scope.row.payment - scope.row.pub_reduce).toFixed(3) | thousandSeparator }}
                    </template>
                </el-table-column>

                <el-table-column
                        fixed="right"
                        width="120"
                        label="Profit">
                    <template slot-scope="scope">
                        {{ (scope.row.revenue - scope.row.deduct - scope.row.payment - scope.row.pub_reduce).toFixed(3) | thousandSeparator }}
                    </template>
                </el-table-column>

                <el-table-column
                        fixed="right"
                        width="120"
                        label="Profit">
                    <template slot-scope="scope">
                        {{ profitRate(scope.row) }}%
                    </template>
                </el-table-column>

                <el-table-column
                        fixed="right"
                        width="100"
                        label="Status">
                    <template slot-scope="scope">
                        <el-tag effect="dark" type="success" size="mini" v-if="!!scope.row.status">Confirmed</el-tag>
                        <el-tag effect="dark" type="danger" size="mini" v-else>Pending</el-tag>
                    </template>
                </el-table-column>
                <el-table-column
                        fixed="right"
                        width="110"
                        label="Action">
                    <template slot-scope="scope">
                        <el-button size="mini"
                                   type="primary"
                                   plain
                                   @click="handleSetting(scope.$index, scope.row)">Setting</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <div class="mt-4 mb-4" style="padding-left:10px">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="params.page"
                    :page-size="params.paginationPerPage"
                    :total="paginationTotal"
                    layout="sizes,total, prev, pager, next, jumper"
            ></el-pagination>
        </div>

        <el-dialog title="Select affiliates" :visible.sync="showSetting"
                   width="40%"
                   center>
            <div>
                <div>
                    <label style="font-size: 16px;font-weight: bold">Reduce</label>
                    <el-input v-model="setReduce" type="number" autocomplete="off"></el-input>
                </div>
            </div>

            <div slot="footer" class="dialog-footer">
                <el-button @click="showSetting=false" size="small">Cancel</el-button>
                <el-button type="primary" @click="updateReduce" size="small"
                           :loading="is_updating">Confirm</el-button>
            </div>
        </el-dialog>

    </div>
</template>

<script>
    const delay = (function () {
        let timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms)
        }
    })();

    export default {
        name: "AffiliateShow",
        props:{
            id:{
                type:Number,
                require:true
            },
            month:{
                type:String,
                require: true
            }
        },
        computed:{
            disabledSet(){
                if(this.multipleSelection.length>0){
                    return false;
                }
                return true
            },
            profitRate(billing){
                return (billing) =>{
                    return ((billing.revenue - billing.deduct - billing.payment - billing.pub_reduce)/(billing.revenue - billing.deduct)*100).toFixed(3)
                }
            }
        },
        data(){
            return{
                multipleSelection: [],
                offers: [],
                loading:false,
                is_updating:false,
                fetchAdvLoading:false,
                params:{
                    page:1,
                    paginationPerPage:20,
                    advertiser:"",
                    offerName:''
                },
                paginationTotal:10,
                showSetting:false,
                setReduce:null,
                advertisers:[],
                tableHeight:300
            }
        },
        methods:{
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            handleSetting(index, offer){
                this.showSetting = true;
                this.multipleSelection = [];
                this.multipleSelection.push(offer)
            },
            handleCurrentChange(val){
                this.params.page = val;
                this.fetchOffers();
            },
            handleSizeChange(val){
                this.params.page = 1;
                this.params.paginationPerPage = val;
                this.fetchOffers();
            },
            search(){
                this.params.page = 1;
                this.fetchOffers();
            },
            remoteMethodAdvertiser(query){
                if(query !== ''){
                    this.fetchAdvLoading = true;
                    delay(()=>{
                        this.$api.get('/advertisers',{
                            params:{
                                search:`name:${query}`
                            }
                        }).then(res=>{
                            this.advertisers = res.data.data;
                        }).finally(()=>{
                            this.fetchAdvLoading = false;
                            this.calHeight(this.offers,this.$refs.multipleTable.$el);
                        })
                    },600);
                }
            },
            fetchOffers(){
                this.params['month'] = this.month;
                this.loading = true;
                this.$api.get(`/billing/${this.id}/affiliate`,{
                    params:this.params
                })
                    .then(res=>{
                        this.offers = res.data.data;
                        this.params.page = res.data.current_page;
                        this.paginationTotal = res.data.total;
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.loading = false;
                        this.$nextTick(() => {
                            this.calHeight(this.offers,this.$refs.multipleTable.$el);
                        })
                    })
            },
            updateReduce(){
                if(this.setReduce>=0){
                    this.is_updating = true;

                    let billingIds = this.multipleSelection.map(item=>{
                        return item.id;
                    });
                    let data={
                        "status":1,
                        "pub_reduce":this.setReduce
                    };
                    this.$api.put('/billing/dedcut',{
                        "ids":billingIds,
                        "data":data,
                        "type":'aff',
                        "month":this.params.month,
                        'aff_ids':[this.id]
                    })
                        .then(res=>{
                            this.$message({
                                message: 'Set successfully',
                                type: 'success'
                            });
                            this.fetchOffers();
                        })
                        .catch(error=>{
                            this.$notify({
                                title: 'Error',
                                message: error.message,
                                duration: 0
                            });
                        })
                        .finally(()=>{
                            this.is_updating = false;
                            this.showSetting = false;
                            this.multipleSelection = [];
                            this.$refs.multipleTable.clearSelection();
                            this.setReduce = null;
                        })
                }

            },
            onResize(){
                delay(()=>{
                    this.$nextTick(() => {
                        this.calHeight(this.offers,this.$refs.multipleTable.$el);
                    })
                },200);
            }
        },
        beforeMount() {
            this.fetchOffers();
        },
        beforeCreate(){

        },
        mounted(){
            window.addEventListener('resize', this.onResize)
        },
        filters:{
            thousandSeparator:function(input){
                return input && input.toString()
                    .replace(/(^|\s)\d+/g, (m) => m.replace(/(?=(?!\b)(\d{3})+$)/g, ','))
            }
        }
    }
</script>

<style scoped>

</style>
<style>
    .offer-table.el-table .el-table-column--selection.is-leaf .cell{
        padding-left: 14px;
    }
</style>