<template>
    <div class="panel panel-default">
        <div class="panel-heading d-flex justify-space-between align-center">
            <div class="search d-flex align-center">
                <div>
                    <el-input v-model="params.search" placeholder="keywords"></el-input>
                </div>
                <div class="ml-2">
                    <el-select
                            style="display: block;"
                            v-model="params.traffic_type"
                            clearable
                            filterable
                            placeholder="Traffic type">
                        <el-option
                                v-for="item in trafficTypes"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div  class="ml-3">
                    <el-button type="primary"
                               size="small"
                               @click="search">Search</el-button>
                </div>
            </div>
        </div>
        <div class="">
            <el-table
                    v-loading="loading"
                    class="advertiser-table"
                    ref="advertisersTable"
                    :data="affiliateList"
                    tooltip-effect="dark"
                    style="width: 100%"
                    stripe>
                <el-table-column
                        label="ID"
                        width="80">
                    <template slot-scope="scope">{{ scope.row.id }}</template>
                </el-table-column>
                <el-table-column
                        label="Name"
                        width="120"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        <el-tooltip placement="top">
                            <div slot="content">
                                Margin:{{ scope.row.margin?scope.row.margin:'---' }}
                            </div>
                            <a :href="`/affiliates/${scope.row.id}`" class="link">{{ scope.row.name }}</a>
                        </el-tooltip>
                    </template>
                </el-table-column>
<!--                <el-table-column-->
<!--                        prop="company_name"-->
<!--                        label="Company"-->
<!--                        width="140"-->
<!--                        show-overflow-tooltip>-->
<!--                </el-table-column>-->
                <el-table-column
                        prop="email"
                        label="Email"
                        width="180"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        prop="company_name"
                        label="Company Name"
                        width="180"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        prop="postback"
                        label="Postback"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        label="Traffic type"
                        show-overflow-tooltip>
                    <template slot-scope="scope">
                        {{ getTrafficLabel(scope.row.traffic_type) }}
                    </template>
                </el-table-column>
                <el-table-column
                        prop="mark"
                        label="Mark"
                        show-overflow-tooltip>
                </el-table-column>
<!--                <el-table-column-->
<!--                        prop="contact_name"-->
<!--                        label="Contact"-->
<!--                        show-overflow-tooltip>-->
<!--                </el-table-column>-->
<!--                <el-table-column-->
<!--                        prop="im"-->
<!--                        label="IM"-->
<!--                        show-overflow-tooltip>-->
<!--                </el-table-column>-->
<!--                <el-table-column-->
<!--                        label="Live"-->
<!--                        show-overflow-tooltip>-->
<!--                    <template slot-scope="scope">-->
<!--                        <el-tag effect="dark" type="success" size="mini" v-if="!!scope.row.live">live</el-tag>-->
<!--                        <el-tag effect="dark" type="danger" size="mini" v-else>closed</el-tag>-->
<!--                    </template>-->
<!--                </el-table-column>-->
                <el-table-column label="Action" width="160">
                    <template slot-scope="scope">
                        <el-button size="mini"
                                   type="primary"
                                   plain
                                   @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <div class="mt-4 mb-4" style="padding-left:10px">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="params.page"
                    :page-size="params.paginationPerPage"
                    :total="paginationTotal"
                    layout="sizes,total, prev, pager, next, jumper"
            ></el-pagination>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AffiliateList",
        data(){
            return{
                affiliateList: [],
                loading:false,
                params:{
                    page:1,
                    search:'',
                    paginationPerPage:20,
                    traffic_type:''
                },
                paginationTotal:10,
                trafficTypes:[
                    {label:'DDJ',value:'ddj'},
                    {label:'EMU',value:'emu'},
                    {label:'EMU_Install',value:'emu_install'},
                    {label:'EMU_Reg',value:'emu_reg'},
                    {label:'Network',value:'network'},
                    {label:'JPKR',value:'jpkr'},
                    {label:'HKTW',value:'hktw'},
                    {label:'SEA',value:'sea'},
                    {label:'UAE',value:'uae'},
                    {label:'US',value:'us'},
                    {label:'EUR',value:'eur'},
                    {label:'US_INCENT',value:'us_incent'},
                    {label:'SEA_INCENT',value:'sea_incent'},
                    {label:'INCENT',value:'incent'},
                    {label:'CN IOS',value:'cn_ios'},
                    {label:'APK',value:'apk'},
                    {label:'In_App',value:'in_app'},
                    {label:'CN_Inapp',value:'cn_in_app'},
                ]
            }
        },
        methods:{
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            handleEdit(index, offer){
                window.open(`/affiliates/${offer.id}/edit`,"_blank");
            },
            handleCurrentChange(val){
                this.params.page = val;
                this.fetchOffers();
            },
            handleSizeChange(val){
                this.params.page = 1;
                this.params.paginationPerPage = val;
                this.fetchOffers();
            },
            search(){
                this.params.page = 1;
                this.fetchOffers();
            },
            fetchOffers(){
                this.loading = true;
                this.$api.get('/affiliates',{
                    params:this.params
                })
                    .then(res=>{
                        this.affiliateList = res.data.data;
                        this.params.page = res.data.current_page;
                        // this.paginationPerPage = res.data.meta.pagination.per_page;
                        this.paginationTotal = res.data.total;
                    })
                    .catch(error=>{

                    })
                    .finally(()=>{
                        this.loading = false;
                    })
            },
            getTrafficLabel(trafficTypes){
                if(!trafficTypes) return '---';
                let _trafficTypes = trafficTypes.split(',');
                let d_traffic = this.trafficTypes.filter(item=>{
                    if(_trafficTypes.includes(item.value)){
                        return item;
                    }
                });
                return d_traffic.map(item=>{
                    return item.label
                }).join(',');
            }
        },
        beforeMount() {
            this.fetchOffers();
        }
    }
</script>

<style scoped>

</style>
<style>
    .advertiser-table.el-table .el-table-column--selection.is-leaf .cell{
        padding-left: 14px;
    }
    .el-tag{
        display: inline-flex!important;
        align-items: center;
    }
</style>