<template>
    <div v-loading="is_loading">
        <div class="panel panel-default">
            <el-tabs type="border-card" v-model="activeName" @tab-click="handleClick">
                <el-tab-pane label="Details" name="details">
                    <detail v-if="affiliate" :affiliate="affiliate"></detail>
                </el-tab-pane>
                <el-tab-pane label="Offers" name="offers">
                    <offers :id="id" :aff-margin="affiliate.margin"></offers>
                </el-tab-pane>
            </el-tabs>
        </div>
    </div>

</template>

<script>
    import Detail from './Detail'
    import Offers from './Offers'

    export default {
        name: "AffiliateShow",
        props:{
          id:{
              type:Number,
              require:true
          },
          affiliate:{
              type:Object,
              require: true
          }
        },
        data() {
            return {
                is_loading:false,
                activeName: 'details',
            };
        },
        methods: {
            handleClick(tab, event) {
            }
        },
        beforeMount(){
            // this.is_loading = true;
            // this.$api.get(`/affiliates/${this.id}`)
            //     .then(res=>{
            //         this.affiliate = res.data.data;
            //     })
            //     .catch(error=>{
            //
            //     })
            //     .finally(()=>{
            //         this.is_loading = false
            //     })
        },
        components:{
            Detail,
            Offers
        }
    }
</script>

<style scoped>

</style>