<template>
    <div v-loading="is_loading">
        <div class="panel panel-default pa-5">
            <el-form :label-position="'top'" :model="affiliateForm" :rules="rules" ref="affiliateForm" label-width="100px" class="create-advertiser-form">
                <el-row>
                    <el-col :span="6">
                        <el-form-item label="Platform" prop="platform">
                            <el-select
                                    :disabled="canDisabled"
                                    v-model="affiliateForm.platform"
                                    clearable
                                    style="display: block;"
                                    placeholder="Platform">
                                <el-option
                                        v-for="item in platforms"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="Name" prop="name">
                            <el-input v-model="affiliateForm.name" placeholder="Name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="Email" prop="email">
                            <el-input v-model="affiliateForm.email" placeholder="Email"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="Margin" prop="margin">
                            <el-input v-model="affiliateForm.margin" placeholder="Margin"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="6">
                        <el-form-item label="Discount(%)" prop="discount">
                            <el-input v-model="affiliateForm.discount" type="number" placeholder="Discount(%)"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="Tag" prop="tag">
                            <el-select
                                    v-model="affiliateForm.tag"
                                    clearable
                                    style="display: block;"
                                    placeholder="Tag">
                                <el-option
                                        v-for="item in tags"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="Manager" prop="user_id">
                            <el-select
                                    v-model="affiliateForm.user_id"
                                    clearable
                                    filterable
                                    style="display: block;"
                                    placeholder="Manager">
                                <el-option
                                        v-for="item in users"
                                        :key="item.user_id"
                                        :label="item.name"
                                        :value="item.user_id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="Password" prop="password">
                            <el-input v-model="affiliateForm.password" type="password" placeholder="Password"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="6">
                        <el-form-item label="Exclude" prop="exclude">
                            <el-select
                                    v-model="affiliateForm.exclude"
                                    multiple
                                    clearable
                                    filterable
                                    style="display: block;"
                                    placeholder="Exclude">
                                <el-option
                                        v-for="item in advertisers"
                                        :key="item.id"
                                        :label="item.name+'#'+item.id"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="Traffic type" prop="traffic_type">
                            <el-select
                                    v-model="affiliateForm.traffic_type"
                                    multiple
                                    clearable
                                    filterable
                                    style="display: block;"
                                    placeholder="Traffic type">
                                <el-option
                                        v-for="item in trafficTypes"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="Number" prop="number">
                            <el-input v-model="affiliateForm.number" type="number" placeholder="Number"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="6">
                        <el-form-item label="Company Name" prop="company_name">
                            <el-input v-model="affiliateForm.company_name" placeholder="Company Name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="Contact Name" prop="contact_name">
                            <el-input v-model="affiliateForm.contact_name" placeholder="Contact Name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="IM" prop="im">
                            <el-input v-model="affiliateForm.im" placeholder="IM"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12" v-if="!!id">
                        <el-form-item label="Api Key" prop="api_key">
                            <el-input :value="affiliateForm.api_key" placeholder="Api Key">
                                <el-button slot="append"
                                           type="primary"
                                           icon="el-icon-refresh"
                                           :loading="isGetingApiKey"
                                           @click="getApiKey"></el-button>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="Postback" prop="postback">
                            <el-input v-model="affiliateForm.postback" placeholder="Postback"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="Destination" prop="mark">
                            <el-input
                                    class="edit-form-textarea"
                                    type="textarea"
                                    :autosize="{ minRows: 2}"
                                    placeholder="Destination"
                                    v-model="affiliateForm.mark">
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <div class="status-switch-group">
                    <el-form-item class="status-switch-item" label="Live" prop="live">
                        <el-switch v-model="affiliateForm.live"></el-switch>
                    </el-form-item>
                    <el-form-item class="status-switch-item" label="Pub native" prop="pubnative">
                        <el-switch :active-value='1'
                                   :inactive-value='0'
                                   v-model="affiliateForm.pubnative"></el-switch>
                    </el-form-item>
                </div>

                <el-form-item>
                    <el-button type="primary" @click="submitForm('affiliateForm')">{{ submitBtnText }}</el-button>
                </el-form-item>
            </el-form>

        </div>
    </div>
</template>

<script>
    export default {
        name: "AffiliateEdit",
        props:{
            id:{
                type:Number,
                default:null
            }
        },
        computed:{
            submitBtnText(){
                if(!!this.id){
                    return 'Update'
                }
                return 'Create'
            },
            canDisabled(){
                if(!!this.platform){
                    return true;
                }
                return false;
            }
        },
        data(){
            let validateEmail = (rule, value, callback) => {
                let filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                if (filter.test(value)) {
                    callback();
                } else {
                    callback(new Error('Email is invalid'));
                }

            };
            let validateDiscount = (rule, value, callback) => {
                if (value < 1) {
                    callback(new Error('Discount must be greater than 1'));
                } else {
                    callback();
                }
            };
            return{
                is_loading:false,
                platform:'',
                affiliateForm: {
                    user_id:'',
                    name: '',
                    email: '',
                    platform:'',
                    postback:'',
                    mark:'',
                    live:false,
                    company_name:'',
                    contact_name:'',
                    im:"",
                    password:'',
                    discount:100,
                    margin:50,
                    tag:'network',
                    api_key:'',
                    exclude:[],
                    traffic_type:[],
                    number:50,
                    pubnative:1
                },
                rules: {
                    name: [
                        { required: true, message: 'Company name is required', trigger: 'blur' }
                    ],
                    email: [
                        {required: true, message: 'Email is required', trigger: 'blur' },
                        {validator: validateEmail, trigger: 'change'}
                    ],
                    platform: [
                        {required: true, message: 'Platform is required', trigger: 'change' },
                    ],
                    discount: [
                        {required: true, message: 'Discount is required', trigger: 'blur' },
                        {validator: validateDiscount, trigger: 'change'}
                    ],
                    margin:[
                        {required: true, message: 'Margin is required', trigger: 'blur' }
                    ],
                    tag:[
                        {required: true, message: 'Tag is required', trigger: 'change' }
                    ],
                    user_id:[
                        {required: true, message: 'Manager is required', trigger: 'change' }
                    ]
                },
                tags:[
                    {value:'network',label:'Network'},
                    {value:'emu',label:'EMU'},
                    {value:'ddj',label:'DDJ'}
                ],
                users:[],
                isGetingApiKey:false,
                platforms:[
                    {label:'Selectad',value:'selectad'},
                    {label:'Adbink',value:'adbink'},
                    {label:'Fan',value:'fan'}
                ],
                advertisers:[],
                trafficTypes:[
                    {label:'DDJ',value:'ddj'},
                    {label:'EMU',value:'emu'},
                    {label:'EMU_Install',value:'emu_install'},
                    {label:'EMU_Reg',value:'emu_reg'},
                    {label:'Network',value:'network'},
                    {label:'JPKR',value:'jpkr'},
                    {label:'HKTW',value:'hktw'},
                    {label:'SEA',value:'sea'},
                    {label:'UAE',value:'uae'},
                    {label:'US',value:'us'},
                    {label:'EUR',value:'eur'},
                    {label:'US_INCENT',value:'us_incent'},
                    {label:'SEA_INCENT',value:'sea_incent'},
                    {label:'INCENT',value:'incent'},
                    {label:'CN IOS',value:'cn_ios'},
                    {label:'APK',value:'apk'},
                    {label:'In_App',value:'in_app'},
                    {label:'CN_Inapp',value:'cn_in_app'},
                ],
            }
        },
        methods:{
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.is_loading = true;
                        let data = {};
                        Object.assign(data, this.affiliateForm);
                        data.exclude = data.exclude.join(',');
                        data.traffic_type = data.traffic_type.join(',');
                        this.postData(data);
                    } else {
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            postData(data){
                if(!!this.id){
                    this.$api.put(`/affiliates/${this.id}`,data)
                        .then(res=>{
                            this.$message({
                                message: 'Update content successfully',
                                type: 'success'
                            });
                            this.platform = this.affiliateForm.platform;
                        })
                        .catch(error=>{
                            this.$notify({
                                title: 'Error',
                                message: error.message,
                                duration: 0
                            });
                        })
                        .finally(()=>{
                            this.is_loading = false;
                        })
                }else{
                    this.$api.post(`/affiliates`,data)
                        .then(res=>{
                            this.$message({
                                message: 'Affiliate created successfully',
                                type: 'success'
                            });
                            this.platform = this.affiliateForm.platform;
                            setTimeout(()=>{
                                location.href= '/affiliates'
                            },2000);

                        })
                        .catch(error=>{
                            this.$notify({
                                title: 'Error',
                                message: error.message,
                                duration: 0
                            });
                        })
                        .finally(()=>{
                            this.is_loading = false;
                        })
                }

            },
            getApiKey(){
                this.isGetingApiKey = true;
                this.$api.put(`/affiliates/${this.id}/apikey`)
                    .then(res=>{
                        this.$message({
                            message: 'Api key updated successfully',
                            type: 'success'
                        });
                        this.affiliateForm.api_key = res.data;
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.isGetingApiKey = false;
                    })
            }
        },
        mounted() {

        },
        beforeMount() {
            this.affiliateForm.user_id = window.Someline.state.user.user_id;
            if(!!this.id){
                this.is_loading = true;
                this.$api.get(`/affiliates/${this.id}`)
                    .then(res=>{
                        this.affiliateForm = {password:'',...res.data.data};
                        this.affiliateForm.live = !!this.affiliateForm.live;
                        this.platform = res.data.data.platform;
                        this.affiliateForm.traffic_type = this.affiliateForm.traffic_type?this.affiliateForm.traffic_type.split(','):[];
                        if(this.affiliateForm.exclude){
                            this.affiliateForm.exclude = this.affiliateForm.exclude.split(',').map(item=>{
                                return item*1;
                            });
                            return false;
                        }
                        this.affiliateForm.exclude = [];
                    })
                    .catch(error=>{

                    })
                    .finally(()=>{
                        this.is_loading = false;
                    })
            }
        },
        beforeCreate() {
            this.$api.get('/users/all',)
                .then(res=>{
                    this.users = res.data.data;
                });
            this.$api.get("/advertisers/all")
                .then(res=>{
                    this.advertisers = res.data.data;
                })
                .catch(error=>{

                })
        }
    }
</script>

<style scoped lang="scss">
    .input-small-group{
        max-width: 200px!important;
    }
</style>
<style lang="scss">
    .create-advertiser-form{
        &.el-form--label-top .el-form-item__label{
            padding: 0;
            margin-bottom: 14px;
            font-size: 16px;
            font-weight: bold;
            line-height: 1;
        }
        .el-row{
            margin-left: -12px;
            margin-right: -12px;
            .el-col{
                padding: 0 12px;
            }
        }
        .edit-form-textarea textarea{
            resize: none;
        }

        &.el-form--label-top .status-switch-group{
            display: flex;
            align-items: center;
            .status-switch-item{
                display: flex;
                align-items: center;
                margin-left: 24px;
                &:first-child{
                    margin-left: 0;
                }
                .el-form-item__label{
                    margin-bottom: 0;
                    margin-right: 12px;
                }
            }
        }
    }
</style>