<template>
    <div>
        <div class="d-flex justify-end">
            <el-button size="small"
                       type="primary"
                       @click="handleEdit">Edit</el-button>
        </div>
       <div class="affiliate-detail-row-wrapper">
           <el-row class="affiliate-detail-row pt-3 pb-3 b-b">
               <el-col :span="8" class="d-flex align-center">
                   <label>Name</label>
                   <p >{{ affiliate.name }}</p>
               </el-col>
               <el-col :span="8" class="d-flex align-center">
                   <label>Platform</label>
                   <p >{{ getPlatform }}</p>
               </el-col>
           </el-row>
           <el-row class="affiliate-detail-row pt-3 pb-3 b-b">
               <el-col :span="8" class="d-flex align-center">
                   <label>Email</label>
                   <p >{{ affiliate.email }}</p>
               </el-col>
               <el-col :span="8" class="d-flex align-center">
                   <label>Discount(%)</label>
                   <p >{{ affiliate.discount }}</p>
               </el-col>
           </el-row>
           <el-row class="affiliate-detail-row pt-3 pb-3 b-b">
               <el-col :span="8" class="d-flex align-center">
                   <label>Exclude</label>
                   <p >{{ affiliate.exclude }}</p>
               </el-col>
               <el-col :span="8" class="d-flex align-center">
                   <label>Company Name</label>
                   <p >{{ affiliate.company_name }}</p>
               </el-col>
           </el-row>
           <el-row class="affiliate-detail-row pt-3 pb-3 b-b">

               <el-col :span="8" class="d-flex align-center">
                   <label>Contact Name</label>
                   <p >{{ affiliate.contact_name }}</p>
               </el-col>
               <el-col :span="8" class="d-flex align-center">
                   <label>IM</label>
                   <p >{{ affiliate.im }}</p>
               </el-col>
           </el-row>
           <el-row class="affiliate-detail-row pt-3 pb-3 b-b">
               <el-col :span="24" class="d-flex align-center full-col">
                   <label>Api key</label>
                   <p >{{ apikey }}</p>
               </el-col>
           </el-row>
           <el-row class="affiliate-detail-row pt-3 pb-3 b-b">
               <el-col :span="24" class="d-flex align-center full-col">
                   <label>Postback</label>
                   <p >{{ affiliate.postback }}</p>
               </el-col>
           </el-row>
           <el-row class="affiliate-detail-row pt-3 pb-3 b-b">
               <el-col :span="24" class="d-flex align-center full-col">
                   <label>Destination</label>
                   <p >{{ affiliate.mark }}</p>
               </el-col>
           </el-row>
           <el-row class="affiliate-detail-row pt-3 pb-3 b-b">
               <el-col :span="8" class="d-flex align-center">
                   <label>Live</label>
                   <p>
                       <el-switch :active-value='1'
                                  :inactive-value='0'
                                  active-color="#13ce66"
                                  inactive-color="#ff4949"
                                  v-model="affiliate.live" disabled></el-switch>
                   </p>
               </el-col>
               <el-col :span="8" class="d-flex align-center">
                   <label>Traffic type</label>
                   <p>
                       {{ getTrafficLabel(affiliate.traffic_type) }}
                   </p>
               </el-col>
           </el-row>
           <el-row class="affiliate-detail-row pt-3 pb-3 b-b">
               <el-col :span="8" class="d-flex align-center">
                   <label>Pub native</label>
                   <p>
                       <el-switch :active-value='1'
                                  :inactive-value='0'
                                  active-color="#13ce66"
                                  inactive-color="#ff4949"
                                  v-model="affiliate.pubnative" disabled></el-switch>
                   </p>
               </el-col>
               <el-col :span="8" class="d-flex align-center">
                   <label>Number</label>
                   <p>
                       {{ affiliate.number }}
                   </p>
               </el-col>
           </el-row>
       </div>
    </div>
</template>

<script>
    export default {
        name: "Detail",
        props:{
            affiliate:{
                type:Object
            }
        },
        computed:{
            getPlatform(){
                if(this.affiliate.platform === 'selectad') return 'Selectad';

                if(this.affiliate.platform === 'adbink') return 'Adbink';

                if(this.affiliate.platform === 'fan') return 'Fan';

                return "Platform is unset";
            },
            apikey(){
                if(!this.affiliate.api_key) return 'The api key is unset';

                if(this.affiliate.platform === 'selectad' || this.platform === 'fan') return `http://selectad-api.appone.link/exchange?auth=${this.affiliate.api_key}&page=1&size=1000&time=`;

                if(this.affiliate.platform === 'adbink') return `http://adbink-api.appone.link/exchange?auth=${this.affiliate.api_key}&page=1&size=1000&time=`;

                return 'The api key is unset';
            }
        },
        data(){
          return{
              trafficTypes:[
                  {label:'DDJ',value:'ddj'},
                  {label:'EMU',value:'emu'},
                  {label:'EMU_Install',value:'emu_install'},
                  {label:'EMU_Reg',value:'emu_reg'},
                  {label:'Network',value:'network'},
                  {label:'JPKR',value:'jpkr'},
                  {label:'HKTW',value:'hktw'},
                  {label:'SEA',value:'sea'},
                  {label:'UAE',value:'uae'},
                  {label:'US',value:'us'},
                  {label:'EUR',value:'eur'},
                  {label:'US_INCENT',value:'us_incent'},
                  {label:'SEA_INCENT',value:'sea_incent'},
                  {label:'INCENT',value:'incent'},
                  {label:'CN IOS',value:'cn_ios'},
                  {label:'APK',value:'apk'},
                  {label:'In_App',value:'in_app'},
                  {label:'CN_Inapp',value:'cn_in_app'},
              ]
          }
        },
        methods:{
            handleEdit(){
                window.location.href = `/affiliates/${this.affiliate.id}/edit`;
            },
            getTrafficLabel(trafficTypes){
                if(!trafficTypes) return '---';
                let _trafficTypes = trafficTypes.split(',');
                let d_traffic = this.trafficTypes.filter(item=>{
                    if(_trafficTypes.includes(item.value)){
                        return item;
                    }
                });
                return d_traffic.map(item=>{
                    return item.label
                }).join(',');
            }
        }
    }
</script>

<style scoped>

</style>
<style lang="scss">
    .affiliate-detail-row-wrapper{
        .affiliate-detail-row{
            .el-col{
                label,p{
                    margin: 0;
                    font-size: 16px;
                }
                label{
                    font-weight: bold;
                    width: 180px;
                }
                p{
                    flex: 1 1 auto;

                }
                &:not(.full-col){
                    p{
                        padding-right: 12px;
                    }
                }
            }
            &:nth-child(2n){
                background-color: #f9f9f9;
            }
        }
    }

</style>