<template>
    <div>
        <div class="panel-heading d-flex justify-space-between align-center">
            <div class="search d-flex align-center">
                <el-button size="mini" type="danger" @click="deleteAll">Delete</el-button>

                <el-button style="margin-left: 8px"
                           type="primary"
                           size="small"
                           :disabled="canSet"
                           @click="batchUpdateLive(1,'pubx')">Open pubx</el-button>
                <el-button style="margin-left: 8px"
                           type="danger"
                           size="small"
                           :disabled="canSet"
                           @click="batchUpdateLive(0,'pubx')">Close pubx</el-button>
            </div>
        </div>
        <div>

            <el-table
                    v-loading="loading"
                    :data="campaigns"
                    stripe
                    class="offer-table"
                    ref="multipleTable"
                    @selection-change="handleSelectionChange"
                    style="width: 100%">
                <el-table-column
                        type="selection"
                        width="55">
                </el-table-column>
                <el-table-column
                        prop="id"
                        label="ID"
                        width="80">
                </el-table-column>
                <el-table-column
                        label="Offer Name"
                        width="180">
                    <template slot-scope="scope">
                        <el-tooltip placement="top">
                            <div slot="content">
                                Margin:{{ scope.row.margin?scope.row.margin:'---' }}
                            </div>
                            <a :href="`/offers/${scope.row.id}`" class="link">{{ scope.row.name }}</a>
                        </el-tooltip>
                    </template>
                </el-table-column>
                <el-table-column
                        width="100"
                        label="Adv Margin">
                    <template slot-scope="scope">
                        {{ scope.row.adv_margin?scope.row.adv_margin:'---' }}
                    </template>
                </el-table-column>
                <el-table-column
                        width="100"
                        label="Offer Margin">
                    <template slot-scope="scope">
                        {{ scope.row.off_margin?scope.row.off_margin:'---' }}
                    </template>
                </el-table-column>
                <el-table-column
                        width="100"
                        label="Aff Margin">
                    {{ affMargin?affMargin:'---' }}
                </el-table-column>
                <el-table-column
                        width="110"
                        label="Actual margin">
                    <template slot-scope="scope">
                        {{ scope.row.actual_margin }}
                    </template>
                </el-table-column>
                <el-table-column
                        width="80"
                        label="Cap">
                    <template slot-scope="scope">
                        {{ scope.row.daily }}
                    </template>
                </el-table-column>
                <el-table-column
                        width="110"
                        prop="payout"
                        label="Offer Payout">
                </el-table-column>
                <el-table-column
                        width="100"
                        label="Aff Payout">
                    <template slot-scope="scope">{{ scope.row.price }}</template>
                </el-table-column>
                <el-table-column
                        width="100"
                        prop="paytype"
                        label="Type">
                </el-table-column>
                <el-table-column
                        width="100"
                        label="Pubx">
                    <template slot-scope="scope">
                        <el-switch
                                v-model="scope.row.pubx"
                                :active-value='1'
                                :inactive-value='0'
                                active-color="#13ce66"
                                inactive-color="#ff4949" @change="changePubx(scope.row)">
                        </el-switch>
                    </template>
                </el-table-column>
                <el-table-column
                        fixed="right"
                        label="Status">
                    <template slot-scope="scope">
                        <el-switch
                                v-model="scope.row.status"
                                :active-value='1'
                                :inactive-value='0'
                                active-color="#13ce66"
                                inactive-color="#ff4949" @change="changeStatus(scope.row)">
                        </el-switch>
                    </template>
                </el-table-column>
                <el-table-column fixed="right" label="Action">
                    <template slot-scope="scope">
                        <el-button size="mini"
                                   type="primary"
                                   plain
                                   @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                    </template>
                </el-table-column>
            </el-table>

            <div class="mt-4">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-size="paginationPerPage"
                        :total="paginationTotal"
                        layout="sizes,total, prev, pager, next, jumper"
                ></el-pagination>
            </div>

            <div class="d-flex align-center mt-4">
                <el-button type="primary"
                           size="small"
                           @click="batchUpdateLive(1)"
                           :disabled="canSet">Open</el-button>
                <el-button type="primary"
                           size="small"
                           @click="batchUpdateLive(0)"
                           :disabled="canSet">Close</el-button>
            </div>


            <el-dialog title="Offers settings" :visible.sync="updatePayoutVisible"
                       width="30%">
                <div class="d-flex">
                    <el-form :model="currentEditingPivot" :rules="rules">
                        <el-form-item label="Actual margin" prop="margin" :label-width="'120px'">
                            <el-input v-model="currentEditingPivot.actual_margin" type="number" autocomplete="off"></el-input>
                        </el-form-item>

                        <el-form-item label="Price" prop="price" :label-width="'120px'">
                            <el-input v-model="currentEditingPivot.price" type="number" autocomplete="off"></el-input>
                        </el-form-item>

                        <el-form-item label="Cap" prop="daily" :label-width="'120px'">
                            <el-input v-model="currentEditingPivot.daily" type="number" autocomplete="off"></el-input>
                        </el-form-item>
                    </el-form>

                </div>

                <div slot="footer" class="dialog-footer">
                    <el-button @click="updatePayoutVisible=false" size="small">Cancel</el-button>
                    <el-button type="primary" @click="updatePrice" size="small"
                               :loading="isUpdatingPayout">Confirm</el-button>
                </div>
            </el-dialog>
        </div>
    </div>

</template>

<script>
    export default {
        name: "Offers",
        props:{
            id:{
                type:Number,
                required: true
            },
            affMargin:{
                type:[Number,String],
                default: '---'
            }
        },
        computed:{
            canSet(){
                if(this.multipleSelection.length>0){
                    return false
                }
                return true
            }
        },
        data() {
            return {
                campaigns:[],
                loading:false,
                updatePayoutVisible:false,
                isUpdatingPayout:false,
                // currentEditingOffer:null,
                currentEditingPivot:{
                    "actual_margin":50.00,
                    "price":0,
                    "daily":0
                },
                multipleSelection:[],
                rules: {
                    price: [
                        {required: true, message: 'Price is required', trigger: 'change' }
                    ],
                    actual_margin: [
                        {required: true, message: 'Margin is required', trigger: 'change' }
                    ],
                },
                paginationTotal:0,
                paginationPerPage:20,
                currentPage:1,
            }
        },
        methods:{
            fetchOffer(){
                this.loading = true;
                this.$api.get(`/affiliates/${this.id}/offers`,{
                    params:{
                        page:this.currentPage,
                        paginationPerPage:this.paginationPerPage
                    }
                })
                    .then(res=>{
                        this.loading = false;
                        this.campaigns = res.data.data.data;
                        // this.paginationPerPage = res.data.data.per_page;
                        this.paginationTotal = res.data.data.total
                    });
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            handleEdit(index, offer){
                this.updatePayoutVisible = true;
                this.currentEditingPivot = offer;
                // this.currentEditingOffer = offer;
            },
            handleCurrentChange(val){
                this.currentPage = val;
                this.fetchOffer();
            },
            handleSizeChange(val){
                this.currentPage = 1;
                this.paginationPerPage = val;
                this.fetchOffer();
            },
            changeStatus({campaign,customer,status}){
                this.updateMethod({"campaign":campaign,'customer':customer},{
                    "status":status
                })
            },
            changePubx({campaign,customer,pubx}){
                this.updateMethod({"campaign":campaign,'customer':customer},{
                    "pubx":pubx
                })
            },
            updatePrice(){
                this.isUpdatingPayout = true;
                let data={
                  "price":this.currentEditingPivot.price,
                  "margin":this.currentEditingPivot.actual_margin,
                  "daily":this.currentEditingPivot.daily
                };
                this.updateMethod({
                    "campaign":this.currentEditingPivot.campaign,
                    'customer':this.currentEditingPivot.customer
                },data,()=>{
                    this.updatePayoutVisible = false;
                    this.campaigns.forEach(item=>{
                        if(item.campaign === this.currentEditingPivot.campaign && item.customer === this.currentEditingPivot.customer){
                            item.price = this.currentEditingPivot.price;
                            item.actual_margin = this.currentEditingPivot.actual_margin;
                            item.daily = this.currentEditingPivot.daily;
                        }
                    });
                    // this.currentEditingOffer = null;
                })
            },
            updateMethod(obj,data,callback){
                this.$api.put(`/relations/${obj.campaign}/${obj.customer}`,data)
                    .then(res=>{
                        this.$message({
                            message: 'Set successfully',
                            type: 'success'
                        });
                        if(callback){
                            callback()
                        }
                    })
                    .catch(error=>{

                    })
                    .finally(()=>{
                        this.isUpdatingPayout = false;
                    })
            },
            batchUpdateLive(status,type='status'){
                let text = !!status?'open':'close';
                let notice_text = type === 'status'?
                    `This operation will ${text} the selected offers, Whether to continue?`:
                    `This operation will ${text} pubx of selected offers, Whether to continue?`;
                let req_data = type === 'status'?{"status":status}:{"pubx":status};

                this.$confirm(notice_text, 'Notification', {
                    confirmButtonText: 'Confirm',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    this.loading = true;
                    let campaigns= this.multipleSelection.map(item=>{
                        return item.campaign;
                    });
                    let customers= this.multipleSelection.map(item=>{
                        return item.customer;
                    });
                    this.$api.put('/relations/status',{
                        "campaigns":campaigns,
                        "customers":customers,
                        "data":req_data
                    })
                        .then(res=>{
                            this.campaigns.forEach(item=>{
                                if(campaigns.includes(item.campaign) && customers.includes(item.customer)){
                                    if(type === 'status'){
                                        item.status = status;
                                    }else{
                                        item.pubx = status;
                                    }

                                }
                            });
                            this.$message({
                                type: 'success',
                                message: 'Status set successfully!'
                            });
                            campaigns = null;
                            customers = null;
                            this.multipleSelection = [];
                            this.$refs.multipleTable.clearSelection();
                        })
                        .catch(error=>{
                            this.$notify({
                                title: 'Error',
                                message: error.message,
                                duration: 0
                            });
                        })
                        .finally(()=>{
                            this.loading = false;
                        });
                }).catch(() => {
                });

            },
            deleteAll(){
                this.$confirm('Are you sure to continue?', 'Notification', {
                    confirmButtonText: 'Confirm',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    this.$api.delete(`/affiliates/${this.id}/offers/delete`)
                        .then(res=>{
                            this.$message({
                                message: 'Offers deleted successfully',
                                type: 'success'
                            });
                            this.fetchOffer();
                        })
                        .catch(error=>{
                            this.$notify({
                                title: 'Error',
                                message: error.message,
                                duration: 0
                            });
                        })
                })
            }
        },
        beforeMount() {
            this.fetchOffer();
        }
    }
</script>

<style scoped>

</style>
<style>
    .offer-table.el-table .el-table-column--selection.is-leaf .cell{
        padding-left: 14px;
    }
</style>