// console.less

// Remove comments below to test if it works

//body, #app, #content {
//  background: blue;
//}

.mt-3{
  margin-top: 12px;
}
.mt-4{
  margin-top: 16px;
}

.mb-1{
  margin-bottom: 4px;
}
.mb-4{
  margin-bottom: 16px;
}

.ml-1{
  margin-left: 4px;
}
.ml-2{
  margin-left: 8px;
}
.ml-3{
  margin-left: 12px;
}

.pa-4{
  padding: 16px;
}
.pa-5{
  padding: 20px;
}

.pl-3{
  padding-left: 12px;
}
.pl-4{
  padding-left: 16px;
}

.pr-3{
  padding-right: 12px;
}
.pr-4{
  padding-right: 16px;
}

.pt-3{
  padding-top: 12px;
}
.pt-4{
  padding-top: 16px;
}


.pb-3{
  padding-bottom: 12px;
}
.pb-4{
  padding-bottom: 16px;
}


.d-flex{
  display: flex;
}


.justify-space-between{
  justify-content: space-between;
}
.justify-center{
  justify-content: center;
}
.justify-end{
  justify-content: flex-end;
}


.align-center{
  align-items: center;
}
.align-end{
  align-items: flex-end;
}

.flex-wrap{
  flex-wrap: wrap;
}




.btn{
  font-weight: 700;
}
a.link{
  color: #409EFF;
}
.el-button{
  font-weight: bold!important;
}

p{
  margin-bottom: 0;
}
.el-form-item__label{
  font-size: 16px;
  font-weight: bold;
}


.show-page-container{
  border-top: 4px solid #dee5e7;
}
.show-field-item{
  label,p{
    margin-bottom: 0;
    font-size: 16px;
  }
  label{
    font-weight: bold;
  }
}
.show-page-title{
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}


.edit-form-textarea textarea{
  resize: none;
}