<template>
    <div class="panel panel-default">
        <div class="panel-heading d-flex justify-space-between align-center">
            <div class="search d-flex align-center">
                <div>
                    <el-date-picker
                            v-model="params.filter_month"
                            type="month"
                            format="yyyy-MM"
                            value-format="yyyy-MM"
                            placeholder="Select month"
                            @change="fetchInvoices">
                    </el-date-picker>
                </div>
                <div class="ml-2">
                    <el-select
                            style="display: block;"
                            v-model="params.advertiser"
                            clearable
                            filterable
                            remote
                            reserve-keyword
                            placeholder="Advertiser"
                            :remote-method="remoteMethodAdvertiser"
                            :loading="fetchInvoiceLoading"
                            @change="fetchInvoices">
                        <el-option
                                v-for="item in advertisers"
                                :key="item.id"
                                :label="item.name+'#'+item.id"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </div>
                <div class="ml-2">
                    <el-select style="display: block"
                               v-model="params.paid"
                               clearable
                               placeholder="Payment status">
                        <el-option v-for="item in paids"
                                   :label="item.label"
                                   :value="item.value"
                                   :key="item.value + item.label"></el-option>
                    </el-select>
                </div>
                <div class="ml-2">
                    <el-select style="display: block"
                               v-model="params.overdue"
                               clearable
                               placeholder="Overdue">
                        <el-option v-for="item in overdues"
                                   :label="item.label"
                                   :value="item.value"
                                   :key="item.value + item.label"></el-option>
                    </el-select>
                </div>
                <div  class="ml-3">
                    <el-button type="primary"
                               size="small"
                               @click="fetchInvoices">Filter</el-button>
                </div>
            </div>
        </div>

        <div class="">
            <el-table
                    v-loading="loading"
                    class="offer-table"
                    ref="multipleTable"
                    :data="invoices"
                    tooltip-effect="dark"
                    style="width: 100%"
                    stripe>
                <el-table-column
                        width="80"
                        label="Month">
                    <template slot-scope="scope">{{ scope.row.month }}</template>
                </el-table-column>
                <el-table-column
                        width="149"
                        label="Advertiser">
                    <template slot-scope="scope">
                        <a :href="`/advertisers/${scope.row.advertiser.id}`" class="link">{{ scope.row.advertiser.name }}#{{ scope.row.advertiser.id }}</a>
                    </template>
                </el-table-column>
                <el-table-column
                        width="120"
                        label="Final Revenue">
                    <template slot-scope="scope">
                        {{  scope.row.amount | thousandSeparator }}
                    </template>
                </el-table-column>
                <el-table-column
                        width="120"
                        label="Pay Amount">
                    <template slot-scope="scope">
                        {{  scope.row.pay_amount | thousandSeparator }}
                    </template>
                </el-table-column>
                <el-table-column
                        width="100"
                        label="Pay Method">
                    <template slot-scope="scope">
                        {{  paymentMethod(scope.row.pay_method) }}
                    </template>
                </el-table-column>
                <el-table-column
                        width="240"
                        label="Pdf link">
                    <template slot-scope="scope">
                        {{  scope.row.link?scope.row.link:'---'}}
                    </template>
                </el-table-column>
                <el-table-column
                        width="110"
                        label="Email status">
                    <template slot-scope="scope">
                        <el-tag effect="dark" type="success" size="mini" v-if="!!scope.row.email_send_time">Sent</el-tag>
                        <el-tag effect="dark" type="danger" size="mini" v-else>Unsent</el-tag>
                    </template>
                </el-table-column>
                <el-table-column
                        width="120"
                        label="Email send time">
                    <template slot-scope="scope">
                        {{ scope.row.email_send_time?scope.row.email_send_time:'---' }}
                    </template>
                </el-table-column>
                <el-table-column
                        width="130"
                        label="Payment status">
                    <template slot-scope="scope">
                        <el-tag effect="dark" type="success" size="mini" v-if="!!scope.row.paid">Paid</el-tag>
                        <el-tag effect="dark" type="danger" size="mini" v-else>Unpaid</el-tag>
                    </template>
                </el-table-column>

                <el-table-column
                        width="100"
                        label="Overdue">
                    <template slot-scope="scope">
                        <el-tag effect="dark" type="success" size="mini" v-if="!scope.row.overdue">Normal</el-tag>
                        <el-tag effect="dark" type="danger" size="mini" v-else>Warn</el-tag>
                    </template>
                </el-table-column>

                <el-table-column
                        width="150"
                        show-overflow-tooltip
                        label="Payment details">
                    <template slot-scope="scope">
                        {{ scope.row.mark?scope.row.mark:'---' }}
                    </template>
                </el-table-column>
                <el-table-column width="340"
                                 fixed="right"
                                 label="Action">
                    <template slot-scope="scope">
                        <el-button size="mini"
                                   type="primary"
                                   @click="handleSetting(scope.$index, scope.row)">Setting</el-button>
                        <el-button size="mini"
                                   type="primary"
                                   :loading="scope.row.is_sending_email"
                                   @click="handleSendEmail(scope.$index, scope.row)">Send email</el-button>
                        <el-button size="mini"
                                   type="primary"
                                   @click="handleGeneratePdf(scope.$index, scope.row)">Generate pdf</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <div class="mt-4 mb-4" style="padding-left:10px">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="params.page"
                    :page-size="params.paginationPerPage"
                    :total="paginationTotal"
                    layout="sizes,total, prev, pager, next, jumper"
            ></el-pagination>
        </div>

        <el-dialog title="Set up invoice" :visible.sync="showSetting"
                   width="40%"
                   center>
            <div>
                <div>
                    <label style="font-size: 16px;font-weight: bold">Pay Method</label>
                    <el-select style="display: block"
                               v-model="currentInvoice.pay_method"
                               placeholder="Please choose a payment method">
                        <el-option v-for="item in paymentMethods"
                                   :label="item.label"
                                   :value="item.id"
                                   :key="item.id + item.label"></el-option>
                    </el-select>
                </div>
                <div class="mt-3">
                    <label style="font-size: 16px;font-weight: bold">Final Revenue</label>
                    <el-input v-model="currentInvoice.amount" type="number" autocomplete="off"></el-input>
                </div>
                <div class="mt-3">
                    <label style="font-size: 16px;font-weight: bold">Pay Amount</label>
                    <el-input v-model="currentInvoice.pay_amount" type="number" autocomplete="off"></el-input>
                </div>
                <div class="mt-3">
                    <label style="font-size: 16px;font-weight: bold">Payment details</label>
                    <el-input class="edit-form-textarea"
                              v-model="currentInvoice.mark"
                              type="textarea"
                              :autosize="{ minRows: 2}"
                              placeholder="Payment details"
                              autocomplete="off"></el-input>
                </div>
                <div class="mt-3">
                    <label style="margin-right: 12px;font-size: 16px;font-weight: bold;">Payment status</label>
                    <el-switch :active-value='1'
                               :inactive-value='0'
                               v-model="currentInvoice.paid"></el-switch>
                </div>
            </div>

            <div slot="footer" class="dialog-footer">
                <el-button @click="showSetting=false" size="small">Cancel</el-button>
                <el-button type="primary" @click="updateSetting" size="small"
                           :loading="is_updating">Confirm</el-button>
            </div>
        </el-dialog>

        <el-dialog title="Select bank" :visible.sync="generatePdfVisible"
                   width="30%">
            <div class="d-flex">
                <el-form :model="selectedBank"
                         :rules="rules"
                         class="create-form"
                         :label-position="'top'"
                         ref="createForm"
                         style="flex: 1;">
                    <el-form-item label="Select bank" prop="bank">
                        <el-select style="display: block"
                                   v-model="selectedBank.bank"
                                   placeholder="Please select a bank account">
                            <el-option v-for="item in banks"
                                       :label="item.label"
                                       :value="item.value"
                                       :key="item.value"></el-option>
                        </el-select>
                    </el-form-item>
                </el-form>

            </div>

            <div slot="footer" class="dialog-footer">
                <el-button @click="generatePdfVisible=false" size="small">Cancel</el-button>
                <el-button type="primary" @click="submitForm('createForm')" size="small"
                           :loading="isGenerating">Confirm</el-button>
            </div>
        </el-dialog>

    </div>
</template>

<script>
    const delay = (function () {
        let timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms)
        }
    })();

    export default {
        name: "AdvertiserList",
        computed:{
            paymentMethod(methodId){

                return (methodId) =>{
                    methodId = methodId*1;
                    if(!methodId){
                        return '---';
                    }

                    return this.paymentMethods.filter(item=>{
                        return methodId === item.id;
                    })[0].label;
                }
            }
        },
        data(){
            return{
                invoices: [],
                loading:false,
                fetchInvoiceLoading:false,
                showSetting:false,
                generatePdfVisible:false,
                params:{
                    page:1,
                    paginationPerPage:20,
                    advertiser:'',
                    filter_month:'',
                    overdue:'',
                    paid:'',
                },
                paginationTotal:10,
                advertisers:[],
                currentInvoice:{
                    id:'',
                    amount:0,
                    pay_amount:0,
                    mark:'',
                    pay_method:'',
                    paid:0
                },
                is_updating:false,
                isGenerating:false,
                selectedBank:{
                    bank:''
                },
                rules: {
                    bank: [
                        {required: true, message: 'Bank account is required', trigger: 'change' }
                    ]
                },
                banks:[
                    {"label":'ADBINK LIMITED#NRA002504074055',"value":1},
                    {"label":'ADBINK LIMITED#866460-831',"value":2},
                    {"label":'NEAT SELECTAD GROUP LIMITED#478798134728',"value":3}
                ],
                paymentMethods:[
                    {id:1,label:'Payoneer'},
                    {id:2,label:'Paypal'},
                    {id:3,label:'Wire ADBINK OCBC'},
                    {id:4,label:'Wire HSBC'},
                    {id:5,label:'Wire SA'},
                    {id:6,label:'CNY'},
                    {id:7,label:'OFFSET'}
                ],
                paids:[
                    {"value":1,"label":'Unpaid'},
                    {"value":2,"label":'Paid'}
                ],
                overdues:[
                    {"value":1,"label":'Normal'},
                    {"value":2,"label":'Warn'}
                ]
            }
        },
        methods:{
            handleSetting(index, invoice){
                this.showSetting = true;
                this.currentInvoice = invoice;
            },
            handleSendEmail(index, invoice){
                if(!invoice.link){
                    this.$confirm('Please generate a pdf file of invoice first.', 'Notification', {
                        cancelButtonText: 'Cancel',
                        type: 'warning'
                    }).catch(() => {
                    });
                    return false;
                }
                this.invoices[index].is_sending_email = true;
                this.$api.post(`/advertisers/${invoice.advertiser.id}/email`,{
                    "invoice":invoice
                })
                    .then(res=>{
                        invoice.email_send_time = res.data.data;
                        this.$message({
                            message: 'The email sent successfully',
                            type: 'success'
                        });
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.invoices[index].is_sending_email = false;
                    })

            },
            handleGeneratePdf(index, invoice){
                this.currentInvoice = invoice;
                this.generatePdfVisible = true;
            },
            handleCurrentChange(val){
                this.params.page = val;
                this.fetchInvoices();
            },
            handleSizeChange(val){
                this.params.page = 1;
                this.params.paginationPerPage = val;
                this.fetchInvoices();
            },
            remoteMethodAdvertiser(query){
                if(query !== ''){
                    this.fetchInvoiceLoading = true;
                    delay(()=>{
                        this.$api.get('/advertisers',{
                            params:{
                                search:`name:${query}`
                            }
                        }).then(res=>{
                            this.advertisers = res.data.data;
                        }).finally(()=>{
                            this.fetchInvoiceLoading = false;
                        })
                    },600);
                }
            },
            fetchInvoices(){
                this.loading = true;
                this.$api.get('/invoice/adv',{
                    params:this.params
                })
                    .then(res=>{
                        this.invoices = res.data.data.map(item=>{
                            item['is_sending_email'] = false;
                            item['pay_method'] = item['pay_method']*1;
                            return item;
                        });
                        this.params.page = res.data.current_page;
                        this.paginationTotal = res.data.total;
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.loading = false;
                    })
            },
            updateSetting(){
                if(!!this.currentInvoice.id){
                    this.is_updating = true;
                    this.$api.put(`/invoice/${this.currentInvoice.id}`,{
                        "amount":this.currentInvoice.amount,
                        "mark":this.currentInvoice.mark,
                        "pay_amount":this.currentInvoice.pay_amount,
                        "pay_method":this.currentInvoice.pay_method,
                        "paid":this.currentInvoice.paid
                    })
                        .then(res=>{
                            this.$message({
                                message: 'Set successfully',
                                type: 'success'
                            });
                        })
                        .catch(error=>{
                            this.$notify({
                                title: 'Error',
                                message: error.message,
                                duration: 0
                            });
                        })
                        .finally(()=>{
                            this.is_updating = false;
                            this.showSetting = false;
                            this.currentInvoice={
                                id:'',
                                amount:'',
                                mark:''
                            }
                        })
                }

            },
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.generatePdf()
                    } else {
                        return false;
                    }
                });
            },
            generatePdf(){
                this.isGenerating = true;
                this.$api.post(`/invoice/adv/${this.currentInvoice.advertiser.id}`,{
                    data:this.currentInvoice,
                    bank_tem:this.selectedBank.bank
                })
                    .then(res=>{
                        this.currentInvoice.link = res.data.data.src;
                        this.$message({
                            message: 'Generating the pdf successfully',
                            type: 'success'
                        });
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.isGenerating = false;
                        this.generatePdfVisible = false;
                        this.selectedBank.bank = '';
                    })
            }
        },
        beforeMount() {
            this.fetchInvoices();
            this.params.filter_month = moment(new Date()).subtract(1,'months').format('YYYY-MM')
        },
        beforeCreate(){
            this.$api.get('/advertisers').then(res=>{
                this.advertisers = res.data.data;
            })
        },
        filters:{
            thousandSeparator:function(input){
                return input && input.toString()
                    .replace(/(^|\s)\d+/g, (m) => m.replace(/(?=(?!\b)(\d{3})+$)/g, ','))
            }
        }
    }
</script>

<style scoped>

</style>
<style lang="scss">
    .offer-table.el-table .el-table-column--selection.is-leaf .cell{
        padding-left: 14px;
    }
    .edit-form-textarea textarea{
        resize: none;
    }
    .create-form{
        &.el-form--label-top .el-form-item__label{
            padding: 0;
            margin-bottom: 14px;
            font-size: 16px;
            font-weight: bold;
            line-height: 1;
        }
    }
</style>