<template>
    <div class="crm">
        <el-button size="mini"
                   type="primary"
                   @click="handleClick">CRM</el-button>
    </div>
</template>

<script>
    export default {
        name: "CRM",
        data(){
            return{

            }
        },
        methods:{
            handleClick(){
                this.eventEmit('awakeCrmPage',true);
            }
        }
    }
</script>

<style scoped lang="scss">
    .crm{
        float: right;
        display: flex;
        align-items: center;
        height: 50px;
    }
</style>