<template>
    <div>
        <el-drawer
                class="crm-drawer"
                title="CRM"
                :visible.sync="table"
                direction="rtl"
                size="85%">
            <div style="padding: 0 20px">
                <div>
                    <div class="mb-2 d-flex align-center justify-space-between">
                        <p style="font-size: 16px;font-weight: bold" >Business</p>
                        <el-button size="mini"
                                   type="primary"
                                   @click="handleAwakeDialog(1)">Create</el-button>
                    </div>

                    <el-table class="schedule-table" :data="business"
                              v-loading="loadingBusiness"
                              border
                              row-key="id"
                              lazy
                              :load="load"
                              :row-class-name="topClass"
                              :tree-props="{children: 'children', hasChildren: 'hasChildren'}">
                        <el-table-column label="#"
                                         width="80">
                            <template slot-scope="scope">{{ scope.row.id }}</template>
                        </el-table-column>
                        <el-table-column label="User"
                                         width="150">
                            <template slot-scope="scope">{{ userInfo(scope.row) }}</template>
                        </el-table-column>
                        <el-table-column label="Client Type" width="200">
                            <template slot-scope="scope">{{ formateClientType(scope.row.client_type) }}</template>
                        </el-table-column>
                        <el-table-column property="name" width="150" label="Name"></el-table-column>
                        <el-table-column label="Contact" width="150">
                            <template slot-scope="scope">
                                {{ canDisplayContact(scope.row.user)?scope.row.contact:'********' }}
                            </template>
                        </el-table-column>
                        <el-table-column property="mark" width="200" label="Mark"></el-table-column>
                        <el-table-column label="Status" width="120">
                            <template slot-scope="scope" v-if="scope.row.type === 'business'">
                                <el-tag effect="dark" size="mini" v-if="scope.row.status===0">Running</el-tag>
                                <el-tag effect="dark" type="danger" size="mini" v-if="scope.row.status===1">Pause</el-tag>
                                <el-tag effect="dark" type="success" size="mini" v-if="scope.row.status===2">Complete</el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column property="created_at" width="150" label="Created at"></el-table-column>
                        <el-table-column width="310" fixed="right" label="Action">
                            <template slot-scope="scope" v-if="scope.row.type === 'business'">
                                <el-button size="mini"
                                           type="primary"
                                           @click="handleCreateSchedule(scope.$index, scope.row)">Create follow-up</el-button>
                                <el-button size="mini"
                                           type="primary"
                                           v-if="userRoleAdmin()"
                                           @click="handleEdit(scope.$index, scope.row,1)">Edit</el-button>
                                <el-button size="mini"
                                           type="primary"
                                           @click="handleTop(scope.$index, scope.row,1)">{{ topText(scope.row.top) }}</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="mt-4 mb-4" style="margin-left: -10px">
                        <el-pagination
                                @size-change="handleSizeChangeB"
                                @current-change="handleCurrentChangeB"
                                :current-page="params.business.page"
                                :page-size="params.business.paginationPerPage"
                                :total="params.business.paginationTotal"
                                layout="sizes,total, prev, pager, next, jumper"
                        ></el-pagination>
                    </div>
                </div>
                <div class="mt-5">
                    <div class="mb-2 d-flex align-center justify-space-between">
                        <p style="font-size: 16px;font-weight: bold">Opmark</p>
                        <el-button size="mini"
                                   type="primary"
                                   @click="handleAwakeDialog(0)">Create</el-button>
                    </div>
                    <el-table class="schedule-table"
                              :data="opmarks"
                              v-loading="loadingOpmark"
                              border
                              row-key="id"
                              lazy
                              :load="load"
                              :row-class-name="topClass"
                              :tree-props="{children: 'children', hasChildren: 'hasChildren'}">
                        <el-table-column label="#"
                                         width="80">
                            <template slot-scope="scope">{{ scope.row.id }}</template>
                        </el-table-column>
                        <el-table-column label="User" width="150">
                            <template slot-scope="scope">{{ userInfo(scope.row) }}</template>
                        </el-table-column>
                        <el-table-column label="Type" width="120">
                            <template slot-scope="scope">{{ formateType(scope.row.self_type) }}</template>
                        </el-table-column>
                        <el-table-column property="name" label="Name" width="150"></el-table-column>
                        <el-table-column property="mark" label="Mark" width="240"></el-table-column>
                        <el-table-column label="Status" width="120">
                            <template slot-scope="scope" v-if="scope.row.type === 'opmark'">
                                <el-tag effect="dark" size="mini" v-if="scope.row.status===0">Running</el-tag>
                                <el-tag effect="dark" type="danger" size="mini" v-if="scope.row.status===1">Pause</el-tag>
                                <el-tag effect="dark" type="success" size="mini" v-if="scope.row.status===2">Complete</el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column property="created_at" label="Created at" width="150"></el-table-column>
                        <el-table-column width="310" fixed="right" label="Action">
                            <template slot-scope="scope" v-if="scope.row.type === 'opmark'">
                                <el-button size="mini"
                                           type="primary"
                                           @click="handleCreateSchedule(scope.$index, scope.row)">Create follow-up</el-button>
                                <el-button size="mini"
                                           type="primary"
                                           v-if="userRoleAdmin()"
                                           @click="handleEdit(scope.$index, scope.row,0)">Edit</el-button>
                                <el-button size="mini"
                                           type="primary"
                                           @click="handleTop(scope.$index, scope.row,0)">{{ topText(scope.row.top) }}</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="mt-4 mb-4" style="margin-left: -10px">
                        <el-pagination
                                @size-change="handleSizeChangeO"
                                @current-change="handleCurrentChangeO"
                                :current-page="params.opmark.page"
                                :page-size="params.opmark.paginationPerPage"
                                :total="params.opmark.paginationTotal"
                                layout="sizes,total, prev, pager, next, jumper"
                        ></el-pagination>
                    </div>
                </div>
            </div>
        </el-drawer>

        <el-dialog :title="title" :visible.sync="showCreateDialog"
                   @close="closeDialog"
                   width="40%">
            <div class="d-flex">
                <el-form :model="form"
                         :rules="rules"
                         class="create-form"
                         :label-position="'top'"
                         ref="createForm"
                         style="flex: 1;">
                    <el-form-item label="Name" prop="name">
                        <el-input :disabled="is_update || is_create_schedule" v-model="form.name" placeholder="Name"></el-input>
                    </el-form-item>
                    <el-form-item v-if="is_business && !is_create_schedule" label="Client type" prop="client_type">
                        <el-select
                                v-model="form.client_type"
                                multiple
                                clearable
                                filterable
                                style="display: block;"
                                placeholder="Client type">
                            <el-option
                                    v-for="item in clientTypes"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item v-if="!is_business && !is_create_schedule" label="Type" prop="type">
                        <el-select
                                v-model="form.type"
                                multiple
                                clearable
                                filterable
                                style="display: block;"
                                placeholder="Type">
                            <el-option
                                    v-for="item in types"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item v-if="is_business" label="Contact" prop="contact">
                        <el-input v-model="form.contact" placeholder="Contact"></el-input>
                    </el-form-item>
                    <el-form-item label="Mark" prop="mark">
                        <el-input class="edit-form-textarea"
                                  v-model="form.mark"
                                  type="textarea"
                                  :autosize="{ minRows: 2}"
                                  autocomplete="off"
                                  placeholder="Mark"></el-input>
                    </el-form-item>
                    <el-form-item label="Status" prop="status" v-if="is_update">
                        <el-radio-group v-model="form.status">
                            <el-radio :label="0">Running</el-radio>
                            <el-radio :label="1">Pause</el-radio>
                            <el-radio :label="2">Complete</el-radio>
                        </el-radio-group>
                    </el-form-item>
                </el-form>

            </div>

            <div slot="footer" class="dialog-footer">
                <el-button @click="closeDialog" size="small">Cancel</el-button>
                <el-button type="primary" @click="submitForm('createForm')" size="small"
                           :loading="isCreating">Confirm</el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
    export default {
        name: "CrmDrawer",
        computed:{
            title(){
                if(this.is_create_schedule) return 'Create follow-up';
                if(this.is_business) return 'Create business';
                if(!this.is_business) return 'Create opmark';

            },
            canDisplayContact(){
                return function (auth) {
                    let authId = '';
                    if(auth.data){
                        authId = auth.data.user_id;
                    }else{
                        authId = auth.user_id;
                    }
                    if((!!authId && this.currentUserId === authId)  || this.userRoleAdmin()){
                        return true;
                    }
                    return false
                }
            },
            topText(){
                return function (top) {
                    if(!!top){
                        return 'Cancel top'
                    }
                    return 'Top'
                }
            }
        },
        data(){
            return{
                table: false,
                is_update:false,
                is_business:true,
                showCreateDialog:false,
                is_create_schedule:false,
                isCreating:false,
                loadingBusiness:false,
                loadingOpmark:false,
                business:[],
                opmarks: [],
                clientTypes:[
                    {label:'Advertiser',value:'adv'},
                    {label:'Direct_Adv',value:'d_adv'},
                    {label:'DDJ',value:'ddj'},
                    {label:'EMU',value:'emu'},
                    {label:'EMU_Install',value:'emu_install'},
                    {label:'EMU_Reg',value:'emu_reg'},
                    {label:'Network',value:'network'},
                    {label:'JPKR',value:'jpkr'},
                    {label:'HKTW',value:'hktw'},
                    {label:'SEA',value:'sea'},
                    {label:'UAE',value:'uae'},
                    {label:'US',value:'us'},
                    {label:'EUR',value:'eur'},
                    {label:'US_INCENT',value:'us_incent'},
                    {label:'SEA_INCENT',value:'sea_incent'},
                    {label:'INCENT',value:'incent'},
                    {label:'CN IOS',value:'cn_ios'},
                    {label:'APK',value:'apk'},
                    {label:'In_App',value:'in_app'},
                    {label:'CN_Inapp',value:'cn_in_app'},
                ],
                types:[
                    {label:'Offer',value:'1'},
                    {label:'Advertiser',value:'2'},
                    {label:'Affiliate',value:'3'},
                    {label:'Direct_Adv',value:'d_adv'},
                    {label:'DDJ',value:'ddj'},
                    {label:'EMU',value:'emu'},
                    {label:'EMU_Install',value:'emu_install'},
                    {label:'EMU_Reg',value:'emu_reg'},
                    {label:'Network',value:'network'},
                    {label:'JPKR',value:'jpkr'},
                    {label:'HKTW',value:'hktw'},
                    {label:'SEA',value:'sea'},
                    {label:'UAE',value:'uae'},
                    {label:'US',value:'us'},
                    {label:'EUR',value:'eur'},
                    {label:'US_INCENT',value:'us_incent'},
                    {label:'SEA_INCENT',value:'sea_incent'},
                    {label:'INCENT',value:'incent'},
                    {label:'CN IOS',value:'cn_ios'},
                    {label:'APK',value:'apk'},
                    {label:'In_App',value:'in_app'},
                    {label:'CN_Inapp',value:'cn_in_app'},
                    {label:'刷子',value:'shuazi'},
                    {label:'直客',value:'zhike'},
                    {label:'直链',value:'zhilian'},
                    {label:'刷好评',value:'haoping'},
                    {label:'中国iOS流量',value:'4'},
                ],
                params:{
                  "business":{
                      page:1,
                      paginationPerPage:20,
                      paginationTotal:0
                  },
                  "opmark":{
                      page:1,
                      paginationPerPage:20,
                      paginationTotal:0
                  }
                },
                form:{
                    "client_type":[],
                    "type":[],
                    "contact":'',
                    "name":'',
                    "mark":'',
                    "status":0
                },
                rules: {
                    name: [
                        {required: true, message: 'Name is required', trigger: 'change' }
                    ]
                },
            }
        },
        methods:{
            closeDialog(){
                this.showCreateDialog = false;
                this.form={
                    "client_type":[],
                    "type":[],
                    "contact":'',
                    "name":'',
                    "mark":'',
                    "status":0
                };
            },
            userInfo(row){
                if(!!row.user.data){
                    return row.user.data.name+'#'+row.user.data.user_id;
                }
                return row.user.name+'#'+row.user.user_id;
            },
            topClass(row){
                if(!!row.row.top){
                    return 'top-row';
                }
                return ''
            },
            handleCurrentChangeB(val){
                this.params.business.page = val;
                this.getBusiness();
            },
            handleSizeChangeB(val){
                this.params.business.page = 1;
                this.params.business.paginationPerPage = val;
                this.getBusiness();
            },
            handleCurrentChangeO(val){
                this.params.opmark.page = val;
                this.getOpmark();
            },
            handleSizeChangeO(val){
                this.params.opmark.page = 1;
                this.params.opmark.paginationPerPage = val;
                this.getOpmark();
            },
            handleAwakeDialog(flag){
                this.is_update = false;
                this.showCreateDialog = true;
                // 创建Business
                if(flag === 1) this.is_business = true;
                // 创建opmark
                if(flag === 0) this.is_business = false;
            },
            handleCreateSchedule(index,row){
                this.showCreateDialog = true;
                this.is_create_schedule = true;
                this.is_update = false;
                this.form.name = row.name;
                this.form['id'] = row.id;
                // 创建Business的跟进
                if(row.type === 'business'){
                    this.is_business = true;
                }
                // 创建opmark的跟进
                if(row.type === 'opmark') this.is_business = false;
            },
            handleEdit(index,row,flag){
                this.showCreateDialog = true;
                this.is_create_schedule = false;
                this.is_update = true;
                // 编辑Business
                if(flag === 1) this.is_business = true;
                // 编辑opmark
                if(flag === 0) this.is_business = false;
                this.form = {
                    "id":row.id,
                    "client_type":row.client_type?row.client_type.split(','):[],
                    "type":row.self_type?row.self_type.split(','):[],
                    "contact":row.contact?row.contact:null,
                    "name":row.name,
                    "mark":row.mark,
                    "status":row.status
                };
            },
            handleTop(index,row,flag){
                let url = flag===1?`/business/${row.id}`:`/opmark/${row.id}`;
                let top = row.top===0?1:0;
                this.$api.put(url,{
                    "top":top,
                }).then(res=>{
                    this.$message({
                        message: 'success',
                        type: 'success'
                    });
                    if(flag===1){
                        this.getBusiness();
                    }else{
                        this.getOpmark();
                    }

                })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
            },
            submitForm(formName){
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.isCreating = true;
                        if(!this.is_update){ // 新创建
                            if(this.is_business){
                                if(!this.is_create_schedule){
                                    this.createBusiness();
                                }else{
                                    this.createBusinessSchedule();
                                }
                                return false;
                            }
                            if(!this.is_create_schedule){
                                this.createOpmark();
                            }else{
                                this.createOpmarkSchedule();
                            }
                            return false;
                        }
                        // update
                        if(this.is_business){
                            this.updateBusiness();
                            return false;
                        }
                        this.updateOpmark();
                    } else {
                        return false;
                    }
                });
            },
            createBusiness(){
                this.$api.post('/business',{
                    "client_type":this.form.client_type.length>0?this.form.client_type.join(','):[],
                    "contact":this.form.contact,
                    "name":this.form.name,
                    "mark":this.form.mark
                })
                    .then(res=>{
                        this.$message({
                            message: 'Business created successfully',
                            type: 'success'
                        });
                        this.getBusiness();
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.isCreating = false;
                        this.showCreateDialog = false;
                        this.form={
                            "client_type":[],
                            "type":[],
                            "contact":'',
                            "name":'',
                            "mark":'',
                            "status":0
                        };
                    })
            },
            createBusinessSchedule(){
                this.$api.post(`/business/${this.form.id}/schedule`,{
                    data:{
                        "contact":this.form.contact,
                        "name":this.form.name,
                        "mark":this.form.mark
                    }
                })
                    .then(res=>{
                        this.$message({
                            message: 'Follow-up created successfully',
                            type: 'success'
                        });
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.isCreating = false;
                        this.showCreateDialog = false;
                        this.is_create_schedule = false;
                        this.form={
                            "client_type":[],
                            "type":[],
                            "contact":'',
                            "name":'',
                            "mark":'',
                            "status":0
                        };
                    })
            },
            updateBusiness(){
                this.$api.put(`/business/${this.form.id}`,{
                    "client_type":this.form.client_type.length>0?this.form.client_type.join(','):[],
                    "contact":this.form.contact,
                    "name":this.form.name,
                    "mark":this.form.mark,
                    "status":this.form.status
                }).then(res=>{
                    this.$message({
                        message: 'Business updated successfully',
                        type: 'success'
                    });
                    this.getBusiness();
                })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.isCreating = false;
                        this.showCreateDialog = false;
                        this.is_create_schedule = false;
                        this.is_update = false;
                        this.form={
                            "client_type":[],
                            "type":[],
                            "contact":'',
                            "name":'',
                            "mark":'',
                            "status":0
                        };
                    })
            },
            createOpmark(){
                this.$api.post('/opmark',{
                    "type":this.form.type?this.form.type.join(','):[],
                    "name":this.form.name,
                    "mark":this.form.mark
                })
                    .then(res=>{
                        this.$message({
                            message: 'Opmark created successfully',
                            type: 'success'
                        });
                        this.getOpmark();
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.isCreating = false;
                        this.showCreateDialog = false;
                        this.form={
                            "client_type":[],
                            "type":[],
                            "contact":'',
                            "name":'',
                            "mark":'',
                            "status":0
                        }
                    });
            },
            createOpmarkSchedule(){
                this.$api.post(`/opmark/${this.form.id}/schedule`,{
                    data:{
                        "name":this.form.name,
                        "mark":this.form.mark
                    }
                })
                    .then(res=>{
                        this.$message({
                            message: 'Follow-up created successfully',
                            type: 'success'
                        });
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.isCreating = false;
                        this.showCreateDialog = false;
                        this.is_create_schedule = false;
                        this.form={
                            "client_type":[],
                            "type":[],
                            "contact":'',
                            "name":'',
                            "mark":'',
                            "status":0
                        };
                    })
            },
            updateOpmark(){
                this.$api.put(`/opmark/${this.form.id}`,{
                    "type":this.form.type?this.form.type.join(','):[],
                    "name":this.form.name,
                    "mark":this.form.mark,
                    "status":this.form.status
                }).then(res=>{
                    this.$message({
                        message: 'Opmark updated successfully',
                        type: 'success'
                    });
                    this.getOpmark();
                })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.isCreating = false;
                        this.showCreateDialog = false;
                        this.is_create_schedule = false;
                        this.is_update = false;
                        this.form={
                            "client_type":[],
                            "type":[],
                            "contact":'',
                            "name":'',
                            "mark":'',
                            "status":0
                        };
                    })
            },
            getBusiness(){
                this.loadingBusiness = true;
                this.$api.get('/business?include=user',{
                    params:{
                        'page':this.params.business.page,
                        'paginationPerPage':this.params.business.paginationPerPage
                    }
                })
                    .then(res=>{
                        this.business = res.data.data;
                        this.business.forEach(item=>{
                            item['type'] = 'business';
                            item['hasChildren'] = true;
                        });
                        this.params.business.page = res.data.meta.pagination.current_page;
                        this.params.business.paginationTotal = res.data.meta.pagination.total;
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.loadingBusiness = false;
                    })
            },
            load(tree, treeNode, resolve){
                if(tree.type === 'business'){
                    this.fetchBusinessSchedule(tree,resolve)
                }
                if(tree.type === 'opmark'){
                    this.fetchOpmarkSchedule(tree,resolve);
                }
            },
            fetchBusinessSchedule(tree,resolve){
                this.$api.get(`/business/${tree.id}/schedule`)
                    .then(res=>{
                        let data = res.data.data;
                        data.forEach(item=>{
                            item.id = 88 +""+item.id;
                            item['type'] = 'schedule';
                            item['client_type'] = tree.client_type;
                        });
                        resolve(data);
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
            },
            fetchOpmarkSchedule(tree,resolve){
                this.$api.get(`/opmark/${tree.id}/schedule`)
                    .then(res=>{
                        let data = res.data.data;
                        data.forEach(item=>{
                            item.id = 88 +""+item.id;
                            item['self_type'] = tree.self_type;
                            item.type = 'schedule';
                        });
                        resolve(data);
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
            },
            getOpmark(){
                this.loadingOpmark = true;
                this.$api.get('/opmark?include=user',{
                    params:{
                        'page':this.params.opmark.page,
                        'paginationPerPage':this.params.opmark.paginationPerPage
                    }
                })
                    .then(res=>{
                        this.opmarks = res.data.data;
                        this.opmarks.forEach(item=>{
                            item['self_type'] = item.type;
                            item.type = 'opmark';
                            item['hasChildren'] = true;
                        });
                        this.params.opmark.page = res.data.meta.pagination.current_page;
                        this.params.opmark.paginationTotal = res.data.meta.pagination.total;
                    })
                    .catch(error=>{
                        this.$notify({
                            title: 'Error',
                            message: error.message,
                            duration: 0
                        });
                    })
                    .finally(()=>{
                        this.loadingOpmark = false;
                    })
            },
            formateClientType(type){
                if(!type) return '---';
                let _types = type.split(',');
                let d_type = this.clientTypes.filter(item=>{
                    if(_types.includes(item.value)){
                        return item;
                    }
                });
                return d_type.map(item=>{
                    return item.label
                }).join(',');
            },
            formateType(type){
                if(!type) return '---';
                let _types = type.split(',');
                let d_type = this.types.filter(item=>{
                    if(_types.includes(item.value+'')){
                        return item;
                    }
                });
                return d_type.map(item=>{
                    return item.label
                }).join(',');
            }
        },
        mounted() {
            this.eventOn("awakeCrmPage", flag=>{
                this.table = flag;
                this.getBusiness();
                this.getOpmark();
            });
        },
        beforeMount() {

        }
    }
</script>

<style scoped lang="scss">
    .edit-form-textarea textarea{
        resize: none;
    }
    .create-form{
        &.el-form--label-top .el-form-item__label{
            padding: 0;
            margin-bottom: 14px;
            font-size: 16px;
            font-weight: bold;
            line-height: 1;
        }
    }
</style>
<style lang="scss">
    .schedule-table {
        .el-table__indent{
            display: none;
        }
        .top-row{
            background-color: #f0f9eb;
        }
    }
</style>